[2016-09-07 11:30] sandertan opened #4 "Error in skcm_tcga study"
The skcm study seems to contain some errors that show up in the validator. I generated the following report with the latest version of the validator, which is hotfix on Nov 4 + PR1866,1868,1873

Summarised errors:

- [x] Value in column 'n_ref_count' is invalid (.)
- [x] Value in column 'Validation_Status' is invalid (---)
- [ ] Sample ID not defined in clinical file (241 times)

Full validation r

[2016-09-08 12:18] pieterlukasse opened #5 "TCGA staging files enhancements"
This ticket is meant for tackling some of the remaining _warning_ :warning: messages we still get from the validation reports. The goal is to have a new version (v2) of the staging files without these issues:
- [x] meta files are missing for gistic and mutsig data files.
- [ ]  in many studies, data_CNA.txt and data_linear_CNA.txt contain "|" in gene symbols, e.g. SNOU13|ENSG00000239166.1. Only th

[2016-09-08 12:30] pieterlukasse opened #6 "Add CPTAC data"
Would be nice to have the CPTAC data in the next version (Ovarian, breast, and colorectal?)

Notify: @zheins

[2016-09-16 12:45] pulyakhina opened #8 "Missing clinical attributes for paad_icgc"
When running the validation from the command line (validateData.py), I noticed that study “paad_icgc”does not containing clinical data (“data_clinical.txt”). When you go to cBioPortal.org, there you also don’t see clinical data (only mutation data). However, the publication (http://www.ncbi.nlm.nih.gov/pubmed/23103869) does contain clinical data as far as I understand (e.g., figure 2 — the have so

[2016-09-16 14:16] ritikakundra commented on #8
Hi,

The reason there is no clinical data is because the supplementary file for the clinical variables are a percentage for each attribute rather than data for each patient/sample (tab 1) which cannot be processed in our clinical format. Having said that we can contact the author for additional information and for now add a clinical file with the Oncotree code.

Thanks,
Ritika

On Sep 16, 2016, at

[2016-09-19 08:47] pulyakhina commented on #8
@ritikakundra Okay, got it, thanks. Indeed, I'll contact the developers and let's hope will get a "better" file. Thanks!

[2016-09-21 15:32] sandertan commented on #4
The error "Gene symbol maps to multiple Entrez ids...." has been solved by using an updated seed database.

[2016-09-21 15:44] sandertan opened #9 "Number of rows/columns different in rppa/rppa_zscores for brca"
Hi,

I was wondering why the number of rows (226) and columns (845) in the data_rppa_Zscores.txt is different from the number of rows (227) and columns (939) in data_rppa.txt for the brca study.

In the Zscore file, the first row after the header seems to be missing. For the columns, i thought maybe there are samples with only NA values for which Zscores couldnt be calculated, but this doesnt seem

[2016-09-21 15:50] sandertan opened #10 "Empty segment files in brca study (provisional)"
Hi,

Segment data for the brca study is missing. There are files for it, `brca_tcga_data_cna_hg19.seg` and `brca_tcga_meta_cna_hg19_seg.txt` but the `.seq` file seems to be emtpy. This segment data is available on cbioportal.org for this study, but just not in this download file.

Kind regards,
Sander

[2016-09-22 09:34] sandertan commented on #10
This appears to be similar to this issue:

https://github.com/cBioPortal/cbioportal/issues/1576

[2016-10-04 15:36] ritikakundra commented on #8
@pulyakhina : We have updated the study with some clinical data:
http://www.cbioportal.org/study?id=paad_icgc#clinical

let me know if this solves the issue

[2016-10-05 07:36] pulyakhina commented on #8
@ritikakundra great! could you share the staging files with me so that I can test whether the validator works?

[2016-10-07 12:17] pieterlukasse opened #12 "Contributing without downloading all first"
Would be good to document the --skip-smudge option to help people that just want to upload a new file (without having to download all first)

--skip-smudge : https://github.com/github/git-lfs/blob/master/docs/man/git-lfs-install.1.ronn

[2016-10-07 12:24] pieterlukasse commented on #12
And if you want to change an individual file, you can download just that one. E.g.
[code]

[2016-10-07 12:24] pieterlukasse commented on #12
@zheins

[2016-11-03 10:18] sandertan commented on #10
Will be fixed https://github.com/cBioPortal/datahub/pull/11

[2016-11-04 13:34] sandertan opened #15 "tcga_pub studies cannot be loaded"
Currently none of the 16 _tcga_pub studies can be loaded. @pulyakhina and I have validated them all, and these are the most common errors:

- [ ] Clinical data files in old format: `data_clinical.txt`  instead of `_data_patient.txt` and `_data_sample.txt`
- [ ] Stable ids in meta files are in an invalid format: `stable_id: blca_tcga_pub_gistic` instead of `stable_id: gistic`
- [ ] For .seg and mul

[2016-11-07 15:34] pieterlukasse opened #16 "Gene length issues"
The last seed DB in #13 seems to have longer gene LENGTH values for some of the genes. At least, longer than would be expected if processing on the the "GENCODE Basic" transcripts.

The cause is likely to be due to processing of Gencode v25 "Comprehensive gene annotation" file instead of the "Basic gene annotation" file from http://www.gencodegenes.org/releases/25lift37.html

One example of "Basic

[2016-11-07 15:35] pieterlukasse commented on #16
Notify:
@n1zea144 @zheins @sheridancbio
maybe you can comment on this?

[2016-12-02 10:36] pieterlukasse opened #17 "Missing CANCER_TYPE_DETAILED in tcga studies?"
In cbioportal.org we now see the pancancer histogram view for BRCA study:

![image](https://cloud.githubusercontent.com/assets/2900303/20831022/838d5df4-b883-11e6-957a-184ed72f7b24.png)

However, this does not seem to appear in the study loaded from datahub? Is the `CANCER_TYPE_DETAILED` field missing or empty in the datahub tcga studies?

[2016-12-02 10:38] pieterlukasse commented on #17
Notify: @n1zea144 @zheins : just something I noticed today, but I could be wrong about whether it is missing in datahub (maybe you recently added it). Please let me know.

[2016-12-02 10:42] sandertan opened #18 "Missing meta files in TCGA (Provisional) studies"
Some meta files are missing, and therefor the data files cannot be loaded.

- [x] meta_clinical_supp_oncotree.txt
- [x] meta_gistic_genes_amp.txt
- [x] meta_gistic_genes_del.txt
- [x] meta_mutsig.txt

[2016-12-02 10:52] sandertan commented on #17
When the study is downloaded from cbioportal.org, the datahub version is downloaded which misses CANCER_TYPE_DETAILED in sample/patient data. Would be cool to have it included!

[2017-01-15 02:52] morungos opened #19 "Broken seed data - references to missing tables"
The schema file for the seed data doesn't contain a reference to `attribute_metadata`, yet the data files attempt to lock that table.

At a guess, the seed data is from a version that predates the schema, this table is dropped by migration in any event.

In any event, you can't load the schema and the data right now.

[2017-01-15 02:54] morungos commented on #19
I tell a lie. It is there. It just wasn't in the copy I'd got from wherever.

[2017-01-15 02:56] morungos commented on #19
I think this is a consequence of the 1.4.0 code version post-dating the seed data. In any event, the mismatching here is never going to be nice. It might be good to have some automated re-versioning of the seed to match master in the main codebase.

[2017-01-15 03:07] morungos commented on #19
I'm gonna re-open because this is either confusing or broken. Stating (as it does here) that the DB version is now separate from the code version is not helpful if you point people to a DB schema in the code base, and you can't actually initialize the DB from the DB schema in the code base because the linked seed data won't load. Frankly, the statement here is *false*, the DB schema and the code v

[2017-01-27 12:35] pieterlukasse commented on #19
hi @morungos, in the README.md file of the seedDB folder the seed files are linked to a specific version of cgds (see https://github.com/cBioPortal/datahub/blob/master/seedDB/README.md). Maybe you missed that somehow? But maybe I misunderstood your issue.

[2017-01-27 12:36] pieterlukasse commented on #18
@n1zea144 @zheins could you help us with this one?

[2017-02-16 20:41] angelicaochoa opened #23 "Naming inconsistency: stable_id=nepc_wcm_2016, tar name=prad_cornell_2016.tar.gz"
Should this tar be renamed to match the cancer study identifier: `nepc_wcm_2016` ?

[2017-02-24 13:38] pieterlukasse opened #24 "z-score file missing for `mrna` profile"
E.g. in TCGA BRCA study we have a file for `mrna`, but no respective file for `mrna_median_Zscore` profile data.

@zheins @n1zea144 : could you check for this missing file? It seems to be there on the public portal, so it is just missing here.

[2017-03-01 16:56] chenh4 commented on #15
I fixed the three major errors listed in the 16 _tcga_pub studies and pushed the updated data out to the repository in mercurial, but there are several errors in genomic data and case_lists. These common errors include:

1. Sample ID not defined in the clinical file: *_data_cna_hg19.seg, data_mutations_extended.txt, data_rppa.txt, case_lists, meta_expression_merged_median_Zscores.txt, data_express

[2017-03-01 20:07] n1zea144 commented on #15
@sandertan @chenh4 Is referring to a legacy internal mercurial server that is still in use at MSK.  Once the remaining errors are addressed, we will push the data from our mercurial server into the datahub.

[2017-03-01 21:51] sandertan commented on #15
Thanks for the update, will gladly test it when ready.

[2017-03-07 11:21] sandertan opened #26 "Missing description RNA-Seq normalization"
In the meta file for the RNA-Seq of the TCGA provisional data, a description is missing how the data is normalized. It only states: `Expression levels for 20532 genes in 171 gbm cases (RNA Seq V2 RSEM).`
The file does not contain raw read counts, because the values are floats. Also contains some extreme outliers. Information on this is probably located on https://gdc.cancer.gov/ which hosts the TC

[2017-03-14 18:28] ritikakundra commented on #15
- [ ] - [ ] blca_tcga_pub
- [ ] brca_tcga_pub
- [ ] coadread_tcga_pub
- [ ] gbm_tcga_pub
- [ ] hnsc_tcga_pub
- [ ] kich_tcga_pub
- [ ] kirc_tcga_pub
- [ ] laml_tcga_pub
- [ ] lgggbm_tcga_pub
- [ ] luad_tcga_pub
- [ ] lusc_tcga_pub
- [ ] ov_tcga_pub
- [ ] prad_tcga_pub
- [ ] stad_tcga_pub
- [ ] thca_tcga_pub
- [ ] ucec_tcga_pub

[2017-03-20 09:20] pieterlukasse commented on #6
@n1zea144 @zheins any news on this one?

[2017-03-27 14:37] zwiesler opened #27 "LUSC study"
http://www.cbioportal.org/study?id=lusc_tcga_pub#clinical

If you download the tarball you will see SAMPLE_ID and PATIENT_ID in data_clinical.txt are LUSC-XX-XXXX, but Tumor_Sample_Barcode is TCGA-XX-XXXX in data_mutations_extended.txt. The above url has empty columns for clinical data.

[2017-03-29 15:49] zheins commented on #17
@pieterlukasse @sandertan - We generate that via our internal importing pipelines. I'll add it to the files.

[2017-03-30 09:08] #10 closed

[2017-03-30 09:23] sandertan commented on #10
Is fixed in #11

[2017-03-30 09:29] sandertan opened #28 "Missing 5 meta files in thca_tcga study"
These files in the `thca_tcga` study are missing meta files:

- [ ] data_CNA.txt
- [ ] data_methylation_hm450.txt
- [ ] data_mutations_extended.txt
- [ ] data_RNA_Seq_v2_expression_median.txt
- [ ] data_rppa_Zscores.txt

[2017-03-30 09:34] sandertan opened #29 "Sample IDs ov_tcga"
@pieterlukasse mentioned in #11:

"Found strange sample ids in the end of the file. So the last samples contain much longer part of the "barcode" (and actually do not comply to the TCGA barcode format...) and potentially overlap with samples in previous lines, given data loader will only use the first part of the barcode, i.e. only TCGA-42-2591-01 portion of TCGA-42-2591-01A-21)"
[code]

@zheins m

[2017-03-30 09:37] sandertan opened #30 "Errors brca_metabric study"
![screen shot 2017-03-30 at 11 36 39](https://cloud.githubusercontent.com/assets/9624990/24497880/2caec844-153d-11e7-9921-14b4ab519793.png)
[Report_brca_metabric.html.zip](https://github.com/cBioPortal/datahub/files/881660/Report_brca_metabric.html.zip)

[2017-03-30 16:45] zheins commented on #10
@sandertan can we close this issue? #11 was merged.

[2017-04-04 09:11] sandertan commented on #4
- Value in column 'n_ref_count' is invalid (.)
   Solved in https://github.com/cBioPortal/cbioportal/pull/2221
- Value in column 'Validation_Status' is invalid (---)
   I'll try to add it to https://github.com/cBioPortal/cbioportal/pull/2221
- Sample ID not defined in clinical file (TCGA-D9-A4Z6-01)
   Remains an issue.

[2017-04-04 12:52] sandertan commented on #4
@pieterlukasse The importer does not complain about "Sample ID not defined in clinical file". Shall we change it to a warning?

[code]

[2017-04-11 11:43] sandertan opened #32 "coadread_tcga & ov_tcga: errors in mass spectrometry data"
To circumvent this problem, remove the protein_quantification files from these studies.

- [x] `coadread_tcga`: Both `data_protein_quantification` and `data_protein_quantification_Zscores` have duplicate column names, with different values in the columns (some even 0, and other >20). This does not look correct They look a bit too different to be technical replicates.

![ea36a1c2-1dfb-11e7-92dd-63d

[2017-04-12 13:25] marianc000 opened #33 "brca_tcga.tar.gz what should be the datatype for protein expression?"
Hello
 I am trying to upload brca_tcga.tar.gz to the latest version of cbioportal. During the validation, files meta_protein_quantification.txt and meta_protein_quantification_Zscores.txt produce errors saying the datatype is incorrect. In http://cbioportal.readthedocs.io/en/latest/File-Formats.html I found that protein expression can be only rppa. But files meta_rppa.txt and meta_rppa_Zscores.txt

[2017-04-12 13:34] sandertan commented on #33
Hi @marianc000 Yes this is a new datatype, which is mass spectrometry data from CPTAC. We just added the data files, and the code to validate it is not in cbioportal yet. There's a PR for it (https://github.com/cBioPortal/cbioportal/pull/2310) so hopefully it will be in soon.

In the meanwhile, you can validate and load this study if you remove these `protein_quantification` files, or you can run

[2017-04-12 14:23] sandertan commented on #28
Fixed in https://github.com/cBioPortal/datahub/pull/31

[2017-04-12 14:23] #28 closed

[2017-04-12 14:23] sandertan commented on #24
Fixed in https://github.com/cBioPortal/datahub/pull/31

[2017-04-12 14:23] #24 closed

[2017-04-12 14:24] sandertan commented on #18
Fixed in https://github.com/cBioPortal/datahub/pull/31

[2017-04-12 14:24] #18 closed

[2017-04-12 14:38] sandertan commented on #17
@zheins Could you check that the correct attribute is used to fill this column? This is from `brca_tcga`, it seems to miss the information from the public portal:
<img width="878" alt="screen shot 2017-04-12 at 16 33 51" src="https://cloud.githubusercontent.com/assets/9624990/24963172/211a8e58-1f9e-11e7-8198-6661b2b8a664.png">

[2017-04-12 14:41] sandertan commented on #6
Mass spec data files have been added for all CPTAC assayed TCGA studies (`brca, coadread and ov`) in https://github.com/cBioPortal/datahub/pull/31. Issues with `coadread` and `ov` are listed in https://github.com/cBioPortal/datahub/issues/32

[2017-04-12 14:41] #6 closed

[2017-04-12 14:43] sandertan commented on #5
Meta files added in https://github.com/cBioPortal/datahub/pull/31

[2017-04-12 14:46] zheins opened #34 "TCGA Case lists contain samples that are not in study"

[2017-04-12 17:40] saxenaa1 opened #35 "CCSK.html"
data_cna.txt in the CCSK data set has an issue defined as "Invalid CNA value: possible values are [-2, -1, 0, 1, 2, NA]"
The values encountered are "-0.0072, 0.0078, 0.0799, (1023 more)"

[2017-04-12 18:00] saxenaa1 opened #36 "CCSK data set"
The file: target_ccsk_pa_01_cna_hg19.seg has failures:

Sample ID not defined in clinical file in lines 2, 3, 4, (2655 more)

Unknown chromosome, must be one of (24|20|21|22|23|1|3|2|5|4|7|6|9|8|Y|X|11|10|13|12|15|14|17|16|19|18) in lines 30, 61, 458, (20 more)

and
Blank cell found in column in line 2497

[2017-04-12 19:39] saxenaa1 opened #37 "CBTTC-0005 Data Set"
The file called data_expression_median.txt in CBTTC-0005 has the following failure messages:

Value is neither a real number nor NA in lines 2, 3, 4, (22947 more) and column number 21

and

Entrez gene id is non-positive in lines 12, 73, 129, (2414 more)

[2017-04-12 20:16] saxenaa1 opened #38 "AML Data Set"
The file called data_mutations_extended.txt in the data set AML contains the following error that needs to be addressed:

Invalid column header, file cannot be parsed

[2017-04-13 07:47] pieterlukasse commented on #35
hi @saxenaa1, could you share the link to the study file? I.e. which of the files in https://github.com/cBioPortal/datahub/tree/master/public are you referring to? Thanks.

[2017-04-13 07:50] pieterlukasse commented on #37
hi @saxenaa1, could you share the link to the study file? I.e. which of the files in https://github.com/cBioPortal/datahub/tree/master/public are you referring to? Thanks.

[2017-04-13 07:52] pieterlukasse commented on #38
Hi @saxenaa1, can you point us to the exact AML study you are testing from https://github.com/cBioPortal/datahub/tree/master/public? Thanks.

[2017-04-13 19:44] kalletlak commented on #38
Sorry! this is a internal dataset which were testing.
Please ignore it.
Thanks

[2017-04-13 19:44] #38 closed

[2017-04-13 19:45] kalletlak commented on #37
Sorry! this is a internal dataset which were testing.
Please ignore it.
Thanks

[2017-04-13 19:45] #37 closed

[2017-04-13 19:45] kalletlak commented on #36
Sorry! this is a internal dataset which were testing.
Please ignore it.
Thanks

[2017-04-13 19:45] #36 closed

[2017-04-13 19:45] kalletlak commented on #35
Sorry! this is a internal dataset which were testing.
Please ignore it.
Thanks

[2017-04-13 19:45] #35 closed

[2017-04-18 15:39] pieterlukasse opened #40 "Loading CPTAC data generates many "gene" records"
When loading `brca` study with CPTAC mass spectrometry data, the portal will generate a large amount of new "gene" records to store the data reported for each separate isoform(?) in the CPTAC files (**72,159** new records in `gene` table!)

Here are some concerns:
- the query page becomes slow when typing "PHOSPHOPROTEIN" in the Genes box (each new protein "gene" also gets this alias). The resulti

[2017-04-18 15:40] pieterlukasse commented on #40
@jjgao @zheins @sheridancbio

[2017-04-18 15:56] pieterlukasse commented on #40
Just for the record:

Here an example of a "protein" vs one of its isoforms(?) :
![image](https://cloud.githubusercontent.com/assets/2900303/25140147/a01ba5be-245f-11e7-80d0-014bb1e6c5b2.png)

Here is how the isoform(?) is displayed in oncoprint, as "protein upregulation":
![image](https://cloud.githubusercontent.com/assets/2900303/25140290/0dadbefa-2460-11e7-8392-dd7f112d7c71.png)

[2017-04-18 16:05] pieterlukasse opened #41 "one line difference in CPTAC brca files"
`data_protein_quantification_Zscores.txt` has 84233 lines while `data_protein_quantification.txt` 84234 lines. Is this correct, or was one line left out from zscores file by mistake?

[2017-04-18 22:48] jjgao commented on #40
cc'ing @pambot on this.

PHOSPHOPROTEIN and SORBS1_pT72 are definitely hacks we should solve. Ideally, we should be able to pull out SORBS1_pT72 when querying SORBS1. Now we have the generic_entity table. Maybe we can do it now.

`SORBS1|SORBS1` is the general protein level. It's detected independent of the phospho-levels. Theoretically, it should include all the phosphoproteins. @pambot please co

[2017-04-19 08:50] pieterlukasse commented on #40
@jjgao thanks for the comments. I also think it would be nice to have SORBS1_pT72 (and others) appear as options when filling in SORBS1. This could probably be done by tweaking the way the gene_alias table is used now in the query page. The only problem could be that you will get a long list of options for each and every gene you fill in the query box....so maybe we need  a new feature for this sc

[2017-05-09 07:38] sandertan commented on #33
hi @marianc000 , with the latest cBioPortal (1.6.0) it should be possible to load these data.

Also the FileFormats-page has been updated: http://cbioportal.readthedocs.io/en/latest/File-Formats.html#protein-level-data

[2017-05-09 07:38] #33 closed

[2017-05-09 11:54] sandertan commented on #4
Study can now load without errors thanks to https://github.com/cBioPortal/datahub/pull/39 with cBioPortal 1.6.0

[2017-05-09 11:54] #4 closed

[2017-05-11 15:56] guv opened #46 "Missing archives"
There are at least 7 studies that are listed in cbioportal.org but which have no corresponding data archive in datahub/public. They are listed below.
Is it possible to add these archives to this repository?

https://github.com/cBioPortal/datahub/raw/master/public/msk_impact_2017.tar.gz
https://github.com/cBioPortal/datahub/raw/master/public/brca_igr_2015.tar.gz
https://github.com/cBioPortal/datahu

[2017-05-15 08:18] guv commented on #46
msk_impact_2017 has been added. Thank you.

[2017-06-02 18:52] jjgao opened #50 "missing data in mesothelioma tcga"
From a user:

"I downloaded many of the TCGA, Provisional data sets from the portal (http://www.cbioportal.org/data_sets.jsp) and found only mesothelioma had several files missing, including: data_mutations_extended.txt. Could you please let me know if this file is available for download?"

[2017-06-05 17:14] ritikakundra commented on #27
Fixed it. Will be pushing it to public portal tonight

[2017-06-05 17:14] #27 closed

[2017-06-07 15:07] jjgao commented on #32
@pambot could you check if the mass spec data in the datahub is the same as the ones you sent to us?

[2017-06-14 16:30] ritikakundra opened #51 "Validator: Validator fails for HISTOLOGY attribute"
<img width="1159" alt="screen shot 2017-06-14 at 12 27 43 pm" src="https://user-images.githubusercontent.com/12007862/27143664-2642ad08-50fd-11e7-9330-33a5378f8db1.png">

@pieterlukasse @zheins

It should not fail for an attribute. Also in our config file, it is a patient based attribute.

[2017-06-14 16:30] ritikakundra commented on #51
Not sure who to assign

[2017-06-16 18:04] zheins commented on #50
@jjgao  PR #49 addresses this.

[2017-06-20 20:23] zheins commented on #32
Github autoclosed the issue when I merged the PR. @sandertan if you'd like to review the data before we close this that would be great.

[2017-06-21 07:26] sandertan commented on #32
Thanks @pambot ! I'll test it @zheins .

[2017-06-21 10:03] oplantalech commented on #32
I reviewed the data:
- `coadread_tcga`: `data_protein_quantification` and `data_protein_quantification_Zscores` do not contain duplicate columns anymore.
- `ov_tcga data_protein_quantification.txt`: there are no empty fields anymore.
- `ov_tcga data_protein_quantification_Zscores.txt`: the last column has more data than before but it **still contains quite a lot of empty fields**. I guess they sho

[2017-06-21 15:13] pieterlukasse commented on #51
solution discussed today: @ritikakundra will list the attributes that are patient specific and thus need to be moved.
@sandertan will adjust the validator and log issues for the frontend team to fix if any of these attributes is hard coded in the frontend.

[2017-06-22 08:56] oplantalech commented on #34
I am testing all TCGA studies and checking if the case lists are correct:

- [ ]  `acc_tcga`
- [ ]  `blca_tcga`
- [ ]  `brca_tcga`
- [ ]  `cesc_tcga`
- [ ]  `chol_tcga`
- [ ]  `coadread_tcga`
- [ ]  `dlbc_tcga`
- [ ]  `esca_tcga`
- [ ]  `gbm_tcga`
- [ ]  `hnsc_tcga`
- [ ]  `kich_tcga`
- [ ]  `kirc_tcga`
- [ ]  `kirp_tcga`
- [ ]  `laml_tcga`
- [ ]  `lgg_tcga`
- [ ]  `lihc_tcga`
- [ ]  `luad_tcga`
-

[2017-06-22 09:51] oplantalech opened #54 "brca_tcga: errors in mass spec data"
Fixes that need to be solved:
- [ ] `data_protein_quantification.txt` and `data_protein_quantification_Zscores.txt`: replace the headers to `Composite.Element.REF` instead of `Hugo_Symbol`.
- [ ] `data_protein_quantification.txt` and `data_protein_quantification_Zscores.txt`: fill the empty fields.

[2017-06-22 15:11] oplantalech commented on #32
The issues in `data_protein_quantification` and `data_protein_quantification_Zscores` also happen in the mass spectrometry data in `brca_tcga` (I opened an issue for this specific study [here](https://github.com/cBioPortal/datahub/issues/54)). In the case of the file `data_protein_quantification_Zscores`, the problem happens when the second-to-last column has `NaN` as value. Could this be an error

[2017-06-22 18:15] zheins commented on #32
@oplantalech Found where the issues were stemming from - I think the files should be correct. Any `NA` or `NaN` values should be accurate.

[2017-06-22 18:16] #32 closed

[2017-06-23 07:52] oplantalech commented on #54
Validation looks good now, and the study also loads correctly. Therefore, I'm going to close this issue. Thanks @zheins !

[2017-06-23 07:52] #54 closed

[2017-06-23 08:39] oplantalech commented on #32
@zheins Just for the record, I tested the studies again and they pass the validation and load correctly. Great job!

[2017-06-23 08:45] oplantalech commented on #29
@zheins I checked the `data_bcr_clinical_data_sample.txt` and sample IDs still have this strange names.

[2017-06-23 09:45] oplantalech commented on #29
@zheins I checked the `data_bcr_clinical_data_sample.txt` and the issue is still there.

[2017-06-23 14:39] oplantalech commented on #34
I'm closing this issue because it is not clear what was the problem.

[2017-06-23 14:39] #34 closed

[2017-06-23 14:54] oplantalech opened #57 "meso_tcga: errors in data_mutation_extended"
The new maf file contains some errors:
<img width="1098" alt="captura de pantalla 2017-06-23 a les 16 53 10" src="https://user-images.githubusercontent.com/20278013/27487624-8cf4c3a4-5834-11e7-90af-218c90a01748.png">
@zheins

[2017-06-28 16:39] ritikakundra commented on #51
These are patient based attributes:
SERUM_PSA
TUMOR_GRADE
HISTOLOGY
TUMOR_SITE
KNOWN_MOLECULAR_CLASSIFIER

And:
TYPE_OF_CANCER: Overrides CANCER_TYPE in the header
DETAILED_CANCER_TYPE: Overrides CANCER_TYPE_DETAILED in the header
are not in out configuration sheet of clinical attributes. Any idea why we have these?

[2017-06-29 14:08] oplantalech opened #58 "Errors when loading lgg_ucsf_2014"
The study `lgg_ucsf_2014` has missing files. Specifically, it misses the `meta_study` file and the meta files for the different timepoint data files. After I added this, more errors were raised by the validator:
![captura de pantalla 2017-06-29 a les 16 07 20](https://user-images.githubusercontent.com/20278013/27691695-242311cc-5ce5-11e7-94d3-a89bf2954abf.png)
![captura de pantalla 2017-06-29 a le

[2017-07-04 08:37] sandertan commented on #51
Before we change the validator, we should make sure this will not break anything in the frontend.

Together with @fedde-s we identified that HISTOLOGY and KNOWN_MOLECULAR_CLASSIFIER are used in the patient view for a specifying the order of attributes: https://github.com/cBioPortal/cbioportal-frontend/blob/a1064b8bcebef20268a2baa667a69cac03bda714/src/pages/patientView/patientHeader/style/clinicalA

[2017-07-04 09:26] fedde-s commented on #51
Actually, `clinicalAttributesUtil.js` seems to suggest that `TUMOR_SITE` describes something about a *sample*, where for metastatic samples it would be overridden by `METASTATIC_SITE`, and for primary tumour samples it would be overridden by `PRIMARY_SITE`. Whether a sample is primary, metastatic or something else is defined by a specific list of recognised keywords in either `SAMPLE_CLASS`, `SAMP

[2017-07-04 09:38] fedde-s commented on #51
The clinical information derived as above is used in https://github.com/cBioPortal/cbioportal-frontend/blob/a1064b8bcebef20268a2baa667a69cac03bda714/src/pages/patientView/sampleManager.tsx, a module which is imported in various other .tsx files.

[2017-07-04 12:24] sandertan commented on #51
This old commit message suggests TUMOR_TYPE is a sample attribute:

https://github.com/cBioPortal/cbioportal/commit/88892a126edc9f89c7dfd68a9ac55549709b817d

[2017-07-05 07:27] marianc000 opened #59 "After uploading a study it does not appear in cbioprtal unless it is restarted"
Hello authors

I am trying use cbiortal for visualization of our sequencing data. Could you suggest how to overcome a problem with data loading? newly uploaded data is not visible in cbiortal until next restart, which is not so optimal. Perhaps you know an easy way to disable some cache so that cbiortal always queries the database?

Thank you
Best regards,
Marian Caikovski

[2017-07-05 09:54] Sjoerd-van-Hagen commented on #59
Hi Marian,

This is a question that comes up from time to time. As far as I know there is no easy fix. Perhaps we can set up a call to see if we can work on this together?

Best,

Sjoerd.

[2017-07-05 13:09] marianc000 commented on #59
Hello Sjoerd-van-Hagen
Do you have skype or gmail? When can I call you? I guess the problem is in something called mybatis but it is quite poorly documented and I cannot figure it out on my own.

Best regards,
Marian

[2017-07-05 14:40] pieterlukasse commented on #51
@inodb can you help us with the frontend part? Maybe some hard coded items can be removed?

[2017-07-05 16:10] inodb commented on #51
@sandertan @pieterlukasse Changing these attributes should be fine. They should just show up after the patient id instead of the sample id. I think all these attributes are still in our data, so would rather not remove these hard coded items.

As a side note re documentation. You could perhaps point directly from the documentation to the source code file (I think most people understand css/sass).

[2017-07-05 16:21] fedde-s commented on #51
@inodb, it does seem like `TUMOR_SITE` has a special meaning to the JavaScript code that I linked, that may not be as useful on the patient level.

[2017-07-05 17:37] inodb commented on #51
@fedde-s Good point. Seems like you might want to have `TUMOR_SITE` both at sample and patient level. I'll defer this to @ritikakundra. What are your thoughts?

[2017-07-05 17:41] fedde-s commented on #51
The database schema and legacy data file formats do not allow having two attributes with the same ID in one study.

[2017-07-05 17:55] inodb commented on #51
@fedde-s ah I see. Yeah there seem to be some studies in our internal database that have `TUMOR_SITE` as sample attribute, majority have it as patient. I guess we could get rid of the `TUMOR_SITE` check in the code if all has been moved over. Seems like `PRIMARY_SITE` and `METASTATIC_SITE` are indeed mostly used as sample attributes, so that should be sufficient.

[2017-07-06 10:13] fedde-s commented on #51
I always imagined that it was the exact other way around based on the code… Which attribute indicates the site of a sample that is neither the primary tumour nor a metastasis, if not `TUMOR_SITE`?

[2017-07-06 15:10] inodb commented on #51
@ritikakundra Do you know if there is a clinical attribute to indicate a site of a sample w/o using `PRIMARY_SITE`, `METASTATIC_SITE` or `TUMOR_SITE`?

[2017-07-17 12:49] khunn opened #60 "Chromosome (field 5) NA for >50% of COADREAD mutation data"
Hi there,

it seems that for >50% of all mutations in coadread/tcga/data_mutations_extended.txt field 5 (chromosome) seems to be NA.  To be more precise, only chromosomes >=10 are reported.

[code]

I did a quick check on a couple of other indications, and there it seems to happen too.

Thanks,
Markus

[2017-07-17 23:10] ritikakundra opened #62 "Validator Issue: Change fusion DNA and RNA Support to DNA_support & RNA_support"
To make headers consistent, can we make the header in fusion file to:
DNA_support & RNA_support?

[2017-07-18 10:27] pieterlukasse commented on #62
I vote yes.

[2017-07-19 12:11] pieterlukasse commented on #15
We got a question regarding one of these studies (`lusc_tcga_pub`): https://groups.google.com/forum/#!topic/cbioportal/dgFlwlittVY

Furthermore, when I try to validate the `lusc_tcga_pub` study, almost all of the meta files fail:

![image](https://user-images.githubusercontent.com/2900303/28366135-aa3783aa-6c8b-11e7-8e49-af231da6e4d5.png)

Main error seems to be regarding `stable_id` still contain

[2017-07-19 12:23] pieterlukasse commented on #17
@sandertan @zheins I checked this on the public portal again and what @sandertan observes there seems to be correct. The only difference is that "undefined" is called "NA" in study view. When you click "Customize histogram" you will see the other cancer types. They don't appear on the plot because the samples labelled with these cancer types just don't have mutations in TP53. I found another gene

[2017-07-19 12:32] pieterlukasse commented on #60
@ritikakundra can you check the cause?

[2017-07-19 12:55] pieterlukasse commented on #17
just tested it locally on newly downloaded dataset and it works as expected :+1:

Closing this issue.

[2017-07-19 12:55] #17 closed

[2017-07-19 15:09] pieterlukasse commented on #62
Decisions: @ritikakundra will fix studies
@sandertan will change the validator/importer

[2017-07-20 14:38] jjgao opened #64 "Issues with RNA-seq data of nepc_wcm_2016"
1. The RNA-seq data does not look like z-score profiles.

![image](https://user-images.githubusercontent.com/840895/28422895-61f4eaf4-6d37-11e7-9830-0946eb1049ab.png)

2. There is no case list for the RNA-seq profile

![image](https://user-images.githubusercontent.com/840895/28422858-5190c3ae-6d37-11e7-8adf-8768b7f68d94.png)

[2017-07-20 14:46] jjgao opened #65 "Profile name and despcrition error in msk_impact_2017"
![image](https://user-images.githubusercontent.com/840895/28423307-b08f96e0-6d38-11e7-9e4e-bd4c48845dc1.png)

[2017-07-26 07:51] fedde-s opened #66 "Missing documentation on seeds for old cBio releases"
In [a code review thread](https://github.com/cBioPortal/cbioportal/pull/2671#discussion_r127321606) regarding how we document compatible seed databases across releases of cBioPortal, @inodb, @pieterlukasse and I came to agree that it would be best to maintain a list seed files for old releases in [the corresponding README file on datahub](https://github.com/cBioPortal/datahub/blob/84fd66daf8325ad9

[2017-08-02 10:05] fedde-s commented on #66
The changes in pull request #67 have started a practice of keeping sections linking to previous releases of the seed database in a section of [the README file](https://github.com/cBioPortal/datahub/blob/755548060edd3ce9d90f56369f5498d85ab3de1d/seedDB/README.md) underneath the latest release, just prepending the new release; this currently supports the v1.5.x and v1.6.x releases of cBioPortal while

[2017-08-02 10:05] #66 closed

[2017-08-02 19:17] ritikakundra commented on #50
@zheins Can we close this?

[2017-08-04 15:50] jjgao opened #68 "Should we upload the unpacked files instead of gz files"
For discussion:

Often times, I just wanted to look at one file, but I have to download the whole study to do that.

Gzipped files are also not good for comparison / keep tracks of changes.

And if I find a small issue, I wanted to be able to fix just one txt file instead of uploading the whole gzipped file.

[2017-08-04 20:34] ritikakundra commented on #46
- [ ] https://github.com/cBioPortal/datahub/raw/master/public/msk_impact_2017.tar.gz
- [ ] https://github.com/cBioPortal/datahub/raw/master/public/brca_igr_2015.tar.gz
- [ ] https://github.com/cBioPortal/datahub/raw/master/public/nepc_wcm_2016.tar.gz
- [ ] https://github.com/cBioPortal/datahub/raw/master/public/thyroid_mskcc_2016.tar.gz
- [ ] https://github.com/cBioPortal/datahub/raw/master/public

[2017-08-08 11:55] pieterlukasse commented on #68
@jjgao I agree. The only good reason for having gzipped files is because it is easy to download them (also used by the portal now when you click on the download option of a study in cBioPortal.org).

Perhaps we can move to normal git and use something like https://minhaskamal.github.io/DownGit/#/home (although this won't work for files stored in git lfs...). Ideas?

[2017-08-08 12:16] sandertan commented on #68
Using Git LFS with uncompressed files can become quite expensive though:

https://help.github.com/articles/about-storage-and-bandwidth-usage/#purchasing-additional-storage-and-bandwidth

[2017-08-08 18:05] jjgao commented on #68
Wondering if normal git can support files of 100s of MB?

[2017-08-09 12:35] pieterlukasse commented on #68
GitHub will warn you when pushing files larger than 50 MB. You will not be allowed to push files larger than 100 MB (from https://help.github.com/articles/working-with-large-files/)

[2017-08-10 20:44] ritikakundra opened #72 "Validation and Verification Status should not be so strict"
Public studies have different values and validator should make them a warning rather than an error.

[2017-08-10 20:48] ritikakundra opened #73 "Timeline file for events like status fails on validation"
Event types like status, specimen, surgery etc which are a single day event don't have a stop date. The validator fails when it does not find a stop date for any timeline file. Stop date is only for durations like treatments. Others could or could not have a stop date.Therefore maybe keep it as a warning rather than an error

[2017-08-11 08:19] pieterlukasse commented on #72
@ritikakundra can you add some examples?

[2017-08-11 14:44] sandertan opened #74 "msk_impact_2017"
# Requested changes
### meta_cna.txt
```profile_name: MSK-IMPACT Clinical Sequencing Cohort (MSKCC)```
to
```profile_name: Putative copy-number alterations```

Replace value in `profile_name` and `profile_description` with correct value. (see #65)

### meta_fusions.txt
```stable_id: msk_impact_2017_mutations```
to
```stable_id: fusion```

Add: `data_filename: data_fusions.txt`

### data_mutations_

[2017-08-14 17:40] ritikakundra commented on #73
![screen shot 2017-08-14 at 1 40 19 pm](https://user-images.githubusercontent.com/12007862/29283758-12e1255e-80f6-11e7-9222-c0eb7c69e17d.png)

[2017-08-15 07:35] pieterlukasse commented on #73
hi @ritikakundra, have you tried adding an empty column with STOP_DATE as column header? According to [documentation](https://github.com/cBioPortal/cbioportal/blob/master/docs/File-Formats.md#data-file-9) the column is mandatory, but values can be empty:

[2017-08-15 20:22] jjgao opened #75 "BRCA_TCGA CPTAC data: remove samples that do not pass QC"
In [the nature paper](http://www.nature.com/nature/journal/v534/n7605/full/nature18003.html), it was mentioned that 28 of the 105 samples were compromised by protein degradation and failed quality control analysis: [CPTAC_BC_SupplementaryTable01.xlsx](https://github.com/cBioPortal/datahub/files/1226301/CPTAC_BC_SupplementaryTable01.xlsx)

@ritikakundra would you please remove the failed cases from

[2017-08-16 20:52] ritikakundra commented on #60
@n1zea144 reannotated the MAF for this, it seems to have been fixed there. I will update the datahub with the new maf

[2017-08-16 21:46] ritikakundra commented on #75
@jjgao @pambot These need to be removed from both rppa and rppa Zscores right?

[2017-08-17 22:51] ritikakundra commented on #74
@sandertan All of these changes have been made, but there is a request for another update so I have to push that with the new changes

[2017-08-18 18:50] jjgao opened #76 "transcript issue for msk_imapct_2017"
https://github.com/cBioPortal/cbioportal/issues/3017

[2017-08-18 19:16] #76 closed

[2017-08-18 19:16] jjgao commented on #74
and this one too: cBioPortal/cbioportal#3017

[2017-08-22 11:23] guv opened #78 "Archive for study hnsc_tcga_pub wrong Metadata"
The archive for the study hnsc_tcga_pub contains wrong metadata.
The file meta_RNA_Seq_v2_expression_median.txt has the wrong "datatype" "Z-SCORE" instead of the expected "CONTINUOUS".

The file meta_RNA_Seq_v2_expression_median.txt contains:

genetic_alteration_type: MRNA_EXPRESSION
datatype: Z-SCORE
stable_id: hnsc_tcga_pub_rna_seq_v2_mrna
show_profile_in_analysis_tab: false
profile_description:

[2017-08-22 14:40] sandertan commented on #62
Merged.

[2017-08-22 15:03] pieterlukasse commented on #62
Has @ritikakundra updated the studies in datahub?

[2017-08-23 03:32] ritikakundra commented on #60
datahub updated

[2017-08-23 03:32] #60 closed

[2017-08-23 19:44] ritikakundra opened #81 "IPOP data"
- [ ] There is no RNA-Seq count for study 4
- [ ] survival plot is not shown for the 2 new studies
- [ ] Priority

[2017-08-23 21:39] jjgao commented on #81
are they public datasets?

[2017-08-23 21:41] ritikakundra commented on #81
@jjgao Yes, they all have an associated pmid from David

[2017-08-23 21:48] jjgao commented on #81
If they are not on the public portal. I would move this issue to some other places.

[2017-08-23 21:51] #81 closed

[2017-08-29 14:23] #72 closed

[2017-09-12 08:22] rosemariebr opened #89 "reorganizing the order of RNA Seq in Data Set"
If i want to order the Data set according to RNA Seq, the list is not fully organized.
Could you please check this.

![image](https://user-images.githubusercontent.com/31878780/30315449-48d319a0-97a4-11e7-8a52-4f8f8081ee89.png)

[2017-09-12 08:25] #89 closed

[2017-09-12 08:37] rosemariebr opened #90 "Infant MLL Study summary - uncertainty"
When i look into the Study summary of
Infant MLL-Rearranged Acute Lymphoblastic Leukemia I see an uncertainty in the list of mutated genes.

The number of samples (#) is higher than the number of profiled samples.
![image](https://user-images.githubusercontent.com/31878780/30316077-4fb90b9c-97a6-11e7-995c-3de1ca9a6acf.png)

[2017-09-12 18:47] yichaoS commented on #62
@ritikakundra  Doing the cleaning according to [attr_dna_rna_support.xlsx](https://github.com/cBioPortal/datahub/files/1297045/attr_dna_rna_support.xlsx)

[2017-09-13 17:22] angelicaochoa commented on #60
@pieterlukasse @khunn this is resolved now.

[2017-09-14 07:58] pieterlukasse commented on #60
@angelicaochoa thanks. Which PR solved this one?

[2017-09-14 08:16] pieterlukasse commented on #78
@angelicaochoa was this also fixed in one of the recent PRs?

[2017-09-14 08:17] pieterlukasse commented on #90
@ritikakundra could this be an error in the case list for mutation data?

[2017-09-14 08:40] pieterlukasse commented on #68
@jjgao we will need some extra information to make a decision here:
 - how big is the total repository when we unzip all data?
 - who can write (or find) a good script to download all the files of one study? E.g. something like `./getstudy.sh -s brca_tcga` which then downloads all `brca_tcga` files directly from github. Probably github has some APIs to make this easy. Ideally, for downloading ther

[2017-09-14 08:51] pieterlukasse commented on #62
@yichaoS thanks for sharing the detailed log of the changes :+1:
Let's close this one when all is updated here in datahub.

[2017-09-14 13:19] jjgao commented on #68
Not sure about how big the total repo would be. @angelicaochoa is there an easy way to find out? E.g. the total size of all TCGA provisional studies would give us a rough idea.

For the 2nd one, maybe we can point users to a http server (we are currently set it up for download sql dumps) which can have both zipped and unzipped file? That way, we don't have to rely on the git bandwidth and the git

[2017-09-18 15:19] ritikakundra commented on #65
Done

[2017-09-18 15:19] #65 closed

[2017-09-18 15:22] #74 closed

[2017-09-20 14:05] n1zea144 opened #98 "TCGA Disease Free Survival Issue (moved from cbioportal project)"
Reported by end user:

I’m trying to reproduce your disease free survival plots but am unclear how your pipelines select from multiple relapse events for the same patients.  For example patient TCGA-CU-A72E has two new tumor event times: 256 days and 364 days.  Cbioportal selects 364 days.  Isn’t 256 more correct if we are trying to measure disease free survival?

More info from user:

Here is a l

[2017-09-20 14:06] n1zea144 commented on #98
Our pipeline uses the biotab (tab delimited) version of the clinical data, not the XML flavor that the user references.   At first glance I thought there was a conflict between the clinical XML file in the GDC Data Portal that was referenced by the user and the data found in the legacy archive that we used when we last converted TCGA data.  After an email exchange with someone at the GDC, it turns

[2017-09-22 14:36] n1zea144 commented on #98
It was decided after discussions with Niki that the effort to fix this issues across all studies is not worth the payoff, so we will just address this one case the user reported.

[2017-09-22 20:04] #98 closed

[2017-09-27 00:55] ritikakundra commented on #75
Fixed

[2017-09-27 00:55] #75 closed

[2017-09-27 00:58] #50 closed

[2017-10-02 14:20] jjgao opened #103 "Missing Gene Panel data for MSK IMPACT studies"
e.g. prad_mskcc_2017, and others?

[2017-10-04 15:28] ritikakundra commented on #103
fixed

[2017-10-04 15:28] #103 closed

[2017-10-05 09:35] sandertan opened #104 "Mixed cancer types should not fall under CUP"
We should change the cancer type hierarchy for `mixed` types. Currently, pan cancer studies such as MSK-IMPACT and CCLE fall under `mixed`. And `mixed` falls under `CUP`, which is carcinomas of unknown primary. This is not necessarily true.

An improvement would be to move `mixed` to root of the tree and name it `Mixed Cancer Types` or `Pan-Cancer Studies` in the UI. CCLE could even be called `Cel

[2017-10-05 10:27] sandertan commented on #104
We can implement this when we release a new seed database, for example when we switch to 2.4.0

[2017-10-09 15:18] jjgao commented on #104
@sandertan this is a good point.

Maybe we could hard code it that `mixed` is moved to root?

cc'ing @schultzn

[2017-10-09 15:27] schultzn commented on #104
Agreed... MIXED is good as a separate category

[2017-10-09 16:17] jjgao commented on #104
@sandertan would you have the bandwidth to take this? Or should I assign it to @alisman ?

[2017-10-10 08:05] sandertan commented on #104
@jjgao If you'd like to hardcode it, please assign it to @alisman .

Question out of interest: Why not change the oncotree? My understanding of a CUP is that it is a tumor caused by metastasized cells that originate from the unknown primary site. Some of the other branches under CUP, such as `Adenocarcinoma` and `Neuroendocrine Carcinoma` seem out of place as well, because they can be a primary si

[2017-10-10 09:55] sandertan opened #105 "hnsc_tcga: invalid values in Validation_Status"
Column contains `---`

[code]

These are the allowed values:
`'untested', 'inconclusive', 'valid', 'invalid', 'na', 'redacted', 'unknown'`

[2017-10-10 13:01] jjgao commented on #104
@sandertan  `Adenocarcinoma` and `Neuroendocrine Carcinoma` do not define the primary sites.

@schultzn maybe we can move `mixed` (and maybe some other nodes) under `other`?

[2017-10-10 13:13] guv commented on #46
The following two data archives are also missing:
https://github.com/cBioPortal/datahub/raw/master/public/skcm_vanderbilt_mskcc_2015.tar.gz
https://github.com/cBioPortal/datahub/raw/master/public/odg_msk_2017.tar.gz

[2017-10-10 13:29] schultzn commented on #104
I like that idea.

[2017-10-10 13:48] jjgao commented on #104
Adding @sheridancbio.

@sheridancbio we would like to move `mixed` under `other` in oncotree. Could you help?

[2017-10-10 18:26] yichaoS commented on #46
Adding

- skcm_vanderbilt_mskcc_2015

[2017-10-10 18:28] ritikakundra commented on #46
@guv: these are new study updates. Yichao from our team will add them soon

[2017-10-11 09:11] guv commented on #46
@ritikakundra: Thank you.

Ideally, all studies should be available here as well.
Maybe there should be some internal tooling that keeps track of missing archives.

[2017-10-11 13:38] jjgao commented on #46
@guv thanks for the suggestions. We will look into that.

[2017-10-12 18:24] ritikakundra commented on #46
- [ ] https://github.com/cBioPortal/datahub/raw/master/public/msk_impact_2017.tar.gz
- [ ] https://github.com/cBioPortal/datahub/raw/master/public/brca_igr_2015.tar.gz
- [ ] https://github.com/cBioPortal/datahub/raw/master/public/nepc_wcm_2016.tar.gz
- [ ] https://github.com/cBioPortal/datahub/raw/master/public/thyroid_mskcc_2016.tar.gz
- [ ] https://github.com/cBioPortal/datahub/raw/master/public

[2017-10-13 08:00] guv commented on #46
Thank you. I updated the first post.
The following study from your comment is still missing:
https://github.com/cBioPortal/datahub/raw/master/public/nepc_wcm_2016.tar.gz

[2017-10-18 14:49] pieterlukasse commented on #78
Assigning to @ritikakundra

[2017-10-19 21:41] ritikakundra commented on #78
Updated this
https://github.com/cBioPortal/datahub/pull/108

[2017-10-19 21:41] #78 closed

[2017-10-20 21:15] jjgao commented on #68
@pieterlukasse and I had some discussion on this. We think we should start to unpack the files on datahub. @pieterlukasse will look into DownGit for downloading option.

[2017-10-23 08:59] pieterlukasse opened #109 "Wrong or missing metadata in studies"
Found some examples of wrong metadata:

1- weight in kilograms, ranging from 5 to 1760 !?

![image](https://user-images.githubusercontent.com/2900303/31880388-a3ba8f7c-b7e0-11e7-872e-1e57aeae90b5.png)

2- missing metadata description info regarding "Fraction genome altered":

![image](https://user-images.githubusercontent.com/2900303/31880447-cc54dc44-b7e0-11e7-9656-b7697938d35c.png)

3- "longest

[2017-10-24 07:21] pieterlukasse commented on #109
assigning also to @priti88 since she is following up on https://groups.google.com/forum/#!topic/cbioportal/qF9QasoEz2E

[2017-11-01 15:59] ritikakundra opened #110 "Validator: Priority flexibility"
Currently, the validator fails on some priority values. In this screenshot
![screen shot 2017-11-01 at 11 55 52 am](https://user-images.githubusercontent.com/12007862/32283920-11cf70fa-befc-11e7-8596-9eb06608cfe6.png)
 it fails on value 0

[2017-11-01 15:59] pieterlukasse commented on #68
Decisions (datahub call):

- [ ] @yichaoS : unpack files into their study subfolders. E.g. https://github.com/cBioPortal/datahub/blob/master/public/acc_tcga.tar.gz should become https://github.com/cBioPortal/datahub/blob/master/public/acc_tcga/ containing the unpacked staging files. Delete the .gz file.
- [ ] @yichaoS : make a new PR
- [ ] @pieterlukasse work on download solution

[2017-11-01 16:00] ritikakundra opened #111 "Validator: if there is a duplicate sample in case_list file, validator does not fail"
![screen shot 2017-11-01 at 12 02 05 pm](https://user-images.githubusercontent.com/12007862/32284089-82ada814-befc-11e7-81d0-6a292ef5cb9d.png)

For this mock study, I duplicated a sample in the sequenced case_list.
[bone_msk_2017.zip](https://github.com/cBioPortal/datahub/files/1434745/bone_msk_2017.zip)

[2017-11-01 19:23] n1zea144 commented on #109
For 1) I've determined that INITIAL_WEIGHT in the study is the sample weight, not the patient weight (it comes from the biospecimen-sample file, which I cannot find on the legacy site.

[Clinical files in biotab format for BRCA on GDC legacy](https://portal.gdc.cancer.gov/legacy-archive/search/f?filters=%7B%22op%22:%22and%22,%22content%22:%5B%7B%22op%22:%22in%22,%22content%22:%7B%22field%22:%22fil

[2017-11-07 11:46] guv opened #113 "Missing data archives in datahub/public"
I ran a script against the cbioportal Web API and `cBioPortal/datahub/public`.
The studies listed below have no data archive.
Is it possible to add those data archives to this repository?

- ~[[ampca_bcm_2016] Ampullary Carcinoma (Baylor College of Medicine, Cell Reports 2016)](https://github.com/cBioPortal/datahub/raw/master/public/ampca_bcm_2016.tar.gz)~
- ~[[brca_mbcproject_wagle_2017] The Meta

[2017-11-14 13:39] jjgao opened #114 "Protein change of "MUTATED""
There are a lot of mutations annotated as "MUTATED" in the public portal. Please try to address them? Do we have a validation rule for that?

[code]

[code]

[2017-11-14 14:31] n1zea144 commented on #114
I thought we resolve these not too long ago - maybe it was just the gdac database?  @yichaoS Check with @angelicaochoa I believe she has a tool that will annotate a variant and update the database table directly.

[2017-11-14 19:03] yichaoS commented on #113
Studies added in https://github.com/cBioPortal/datahub/pull/115
- ampca_bcm_2016
- brca_mbcproject_wagle_2017
- gct_msk_2016
- mbl_sickkids_2016
- nepc_wcm_2016
- nsclc_unito_2016
- pact_jhu_2011
- panet_arcnet_2017
- past_dkfz_heidelberg_2013

[2017-11-16 20:23] jjgao opened #116 "we have both case list _cnaseq and _cna_seq in the database"
Most of them are _cnaseq, but the following studies have _cna_seq.

[code]

Can we change them to _cnaseq?

sql code:
[code]

[2017-11-17 18:50] jjgao opened #117 "missing z-score profile"
![image](https://user-images.githubusercontent.com/840895/32963523-427e6fd6-cb9e-11e7-83d9-4a2ee6e9add7.png)

[2017-11-17 18:58] ritikakundra commented on #117
@jjgao This dataset was brought up before on this issue:
https://github.com/cBioPortal/datahub/issues/64

We noticed these are not Z scores. So we converted the metafile format to continuous. You can see them in plots and co-expression

[2017-11-17 22:02] jjgao commented on #117
@ritikakundra let's create a z-score profile for this study?

[2017-11-20 19:10] jjgao opened #118 "allele frequency missing for msk_impact_2017"
It looks like we the read count info is missing in the msk_impact_2017 study. @ritikakundra do you know if we never received that? We should try to add that data.

[2017-11-20 19:16] ritikakundra commented on #118
@jjgao Yes, this is on my radar. Should be out on Wednesday.

[2017-11-20 19:24] jjgao opened #119 "mutation data missing from luad_tsp"
http://www.cbioportal.org/study?id=luad_tsp#summary

[2017-11-20 19:26] jjgao commented on #118
Great. Thanks! @ritikakundra

[2017-11-22 14:58] dionnezaal opened #120 "Mutation file contains invalid Validation_Status"
When loading TCGA provisional studies hnsc_tcga, luad_tcga, lusc_tcga, prad_tcga, skcm_tcga, thca_tcga and ucs_tcga I encountered an invalid value for the validation status which is "---".
This validation status is not described in the official [MAF documentation](https://wiki.nci.nih.gov/display/TCGA/Mutation+Annotation+Format+(MAF)+Specification#MutationAnnotationFormat(MAF)Specification-Somatic

[2017-11-22 15:48] pieterlukasse commented on #120
@dionnezaal please update the study to the valid empty value code (e.g. "NA" or just empty "") and make a PR to datahub. Thanks.

[2017-11-22 16:37] n1zea144 commented on #120
Yes, it sounds like an issue with the data as it came out of firehose.

[2017-11-22 16:49] sandertan commented on #120
@n1zea144 Could you check if we can fix the firehose output? I already solved this a while back in https://github.com/cBioPortal/datahub/pull/39 for `skcm_tcga` but it seems this was overwritten.

[2017-11-23 10:08] dionnezaal commented on #120
When continuing loading the TCGA provisional studies also encountered Validation Status with value "---" in pcpg_tcga. In coadread_tcga a Validation status with value "Wildtype" was encountered.

[2017-11-23 10:31] dionnezaal opened #121 "Provisional TCGA meso_tcga mutation file contains two NCBI builds"
meso_tcga study does not pass validation because two NCBI builds are present in the mutations_extended file.

![screen shot 2017-11-23 at 11 30 58 am](https://user-images.githubusercontent.com/1343609/33168612-cf520510-d041-11e7-9b2f-d7052be3f5d6.png)

[2017-11-23 10:42] dionnezaal opened #122 "Provisional TCGA study ov_tcga unpacks in ov_tcga instead of ov/tcga"
All TCGA provisional studies unpack after downloaded from datahub in [study]/tcga except for one study ov_tcga which unpacks as ov_tcga folder. For automation purposes it would be nice if all TCGA provisional studies unpack in the same way.

[2017-11-23 11:43] dionnezaal opened #123 "Provisional TCGA studies do not contain sequenced case lists"
All 32 provisional TCGA studies in datahub do not contain the cases_sequenced.txt case lists.
This case list is for example used in the expression tab when querying multiple studies.

[2017-11-23 12:46] dionnezaal commented on #121
Already mentioned in issue #57
Closing this issue.

[2017-11-23 12:46] #121 closed

[2017-11-28 11:54] sandertan commented on #110
Fixed by @pieterlukasse in https://github.com/cBioPortal/cbioportal/pull/3079. @ritikakundra can you confirm it works with version `1.8.3` or higher?

[2017-11-28 15:22] jjgao commented on #123
How about other data-related case list: _cna, _cnaseq?

[2017-11-28 15:30] sandertan commented on #111
I created a PR to fix add validation for this.

[2017-11-28 18:22] ritikakundra commented on #119
fixed.

[2017-11-28 18:22] #119 closed

[2017-11-28 19:40] ritikakundra opened #124 "Validator Issue: Allow CNA file to have cytoband column"
The validator should not fail if cytoband is mentioned in the CNA file. Currently, validator treats it as a sample ID and fails since it can't find it in the clinical file.
![screen shot 2017-11-28 at 2 37 07 pm](https://user-images.githubusercontent.com/12007862/33340431-1226b8e8-d44a-11e7-83d5-1813887cb663.png)

[2017-11-29 03:56] jjgao commented on #118
@ritikakundra any update?

[2017-11-29 03:59] jjgao opened #125 "why do we have mutations outside of gene panel for msk_impact_2017"
http://www.cbioportal.org/index.do?session_id=59a9a467498e5df2e294bee3

![image](https://user-images.githubusercontent.com/840895/33357388-cdf8fc58-d48f-11e7-8b08-ecdbb7690010.png)

[2017-11-29 04:00] jjgao commented on #125
might be related to https://github.com/cBioPortal/cbioportal/issues/3458

[2017-11-29 14:11] dionnezaal commented on #123
The 32 provisional TCGA studies in datahub contain at least:
_all, _cna, _RNA_Seq_v2_mRNA, _methylation_hm45.

The 32 provisional TCGA studies in datahub do not contain for example:
_sequenced, _cna_seq.

See also [cBioPortal issue #3456](https://github.com/cBioPortal/cbioportal/issues/3456) for issue  due to missing _sequenced in cBioPortal itself.

[2017-11-29 15:37] pieterlukasse commented on #123
`_cnaseq` or `_cna_seq`?

[2017-11-29 15:39] pieterlukasse commented on #123
This issue is solved when:
- all TCGA provisional studies have _sequenced and _cnaseq case lists (when applicable)

[2017-11-29 15:39] sandertan commented on #123
Related to https://github.com/cBioPortal/cbioportal/issues/3378

[2017-11-29 15:49] pieterlukasse commented on #120
Decisions:
- @sandertan: make a warning for validation status "Wildtype" (or other invalid values)
- @yichaoS : clean-up the "---" cases (fix not only the data by also the firehose script? )

[2017-11-29 15:52] pieterlukasse commented on #57
@ritikakundra will discuss with backend team

[2017-11-29 15:59] pieterlukasse commented on #122
This will be solved by @yichaoS when she reorganises all the studies again as plain folders.

[2017-11-29 16:04] #110 closed, assigned to sandertan

[2017-11-29 16:07] #73 closed

[2017-11-29 16:07] pieterlukasse commented on #73
agreed to close given the column can be empty

[2017-11-29 16:08] pieterlukasse commented on #62
@yichaoS is working on updating this in datahub. In progress.

[2017-11-29 20:03] yichaoS commented on #124
I'll remove all the cytoband columns in CNA and expression files as discussed today.

[2017-11-29 20:34] yichaoS opened #126 "Adding/fixing oncotree values in all studies"

[2017-11-29 20:35] yichaoS commented on #126
Studies failed:
blca_tcga (sample ID not in clinical files)

[2017-11-29 22:42] yichaoS commented on #111
Checked with @ritikakundra.
We could see this warning showing up when a case is duplicated.

[2017-11-30 12:16] sandertan commented on #111
I'll close it when PR is merged.

[2017-11-30 21:06] ritikakundra commented on #120
coadread_tcga.tar.gz
hnsc_tcga.tar.gz
luad_tcga.tar.gz
lusc_tcga.tar.gz
meso_tcga.tar.gz
pcpg_tcga.tar.gz
prad_tcga.tar.gz
skcm_tcga.tar.gz
thca_tcga.tar.gz
ucs_tcga.tar.gz

[2017-12-01 08:58] pieterlukasse commented on #123
@angelicaochoa we heard you were working on this. Can you confirm?

[2017-12-01 09:34] sandertan opened #127 "MSK-IMPACT gene panel genes missing in data file"
1. ABRAXAS1 is missing from the genes in `data_gene_panel_impact341.txt` and `data_gene_panel_impact410`. AMER1 also seems to be missing. I have not checked the other genes.

<img width="1277" alt="screen shot 2017-12-01 at 10 06 49" src="https://user-images.githubusercontent.com/9624990/33476607-dc09b2b6-d682-11e7-9b6f-1fe7f7776b99.png">

2. FAT3 is not in the gene panel list, and therefore liste

[2017-12-01 19:39] ritikakundra commented on #127
@sandertan Regarding the first two missing genes:
FAM175A is an alias for ABRAXAS1 and
FAM123B is an alias for AMER1
Both are in 341 and 410 files.

FAT3 is not part of any panel and is only a partner for this fusion.

You are right ABL1 is in data files.

[2017-12-01 19:49] ritikakundra opened #128 "Validator Issues: Allow < > in NUMERIC datatype values (AGE and YEAR related)"
For deidentification purposes, the portal should not show age or year of birth (any PHI related attribute) pediatric and geriatric cases in the majority of studies. Therefore to capture the data, we modify the age to <18 and >89 (same with year). Validation fails this type of entry due to the datatype being Number. Can this be modified?

[2017-12-01 21:28] jjgao commented on #127
@adamabeshouse could you try to found out why ABL1 is not showing up?

[2017-12-01 21:37] adamabeshouse commented on #127
I'm pretty sure its an HTML issue which I fixed in the refactor, let me confirm and fix it in legacy.

[2017-12-01 22:43] adamabeshouse commented on #127
https://github.com/cBioPortal/cbioportal/pull/3492

[2017-12-02 20:46] jjgao opened #129 "missing survival data for acc_tcga"
http://www.cbioportal.org/study?id=acc_tcga#summary

[2017-12-04 16:58] pieterlukasse commented on #128
@ritikakundra this will need more testing in other views like study view and plots tab. How should these views deal with such data? For example:

![image](https://user-images.githubusercontent.com/2900303/33565089-7608dc48-d91c-11e7-8d8b-306de6b4519b.png)

Maybe @jjgao and @schultzn have an idea for this? I.e. how to plot such samples in this case?

[2017-12-05 00:41] ritikakundra commented on #129
@jjgao The clinical file is empty for OS_MONTHS and DFS_MONTHS
Is it ok to use:

DAYS_TO_DEATH And | DAYS_LAST_FOLLOWUP for OS computing (both calculated from Initial Pathologic Diagnosis)

[2017-12-05 14:22] jjgao opened #130 "missing OS_MONTHS"
In https://github.com/cBioPortal/cbioportal/issues/3503, we noticed that three samples (TCGA-04-1357, TCGA-04-1360 and TCGA-24-0968) in ov_tcga have OS_STATUS but no OS_MONTHS.

I did an SQL query in public portal and found more cases like that include `msk_impact_2017`. @yichaoS @ritikakundra Is this known?

[code]

[code]

[2017-12-05 15:54] ersinciftci commented on #130
Same thing applies also to `DFS_MONTHS` and `DFS_STATUS`.

[2017-12-05 20:02] jjgao commented on #128
Good point. We could try to write some specially in frontend to handle that, but I don't think it's a high priority.

Maybe for the moment, we can allow them in the validator and ignore < or > in frontend (maybe in API?), so 89 instead of '>89' will be used?

[2017-12-05 20:02] jjgao commented on #128
@zhx828 @ersinciftci what do you think?

[2017-12-05 20:04] jjgao commented on #129
Yes. Not sure why they were not converted? @angelicaochoa

[2017-12-05 20:05] jjgao commented on #129
related to https://github.com/cBioPortal/datahub/issues/130

[2017-12-05 20:58] jjgao opened #131 "clinical data issues"
[study view of all studies](https://www.cbioportal.org/study?id=5c6344e4e4b0f6ce58b5e508)

CANCER_TYPE #582
- [x] CANCER_TYPE and/or CANCER_TYPE_DETAILED is NA for samples in [many studies](https://www.cbioportal.org/study?id=5c634744e4b0f6ce58b5e50f)
- [x] ONCOTREE_CODE is NA in [even more studies](https://www.cbioportal.org/study?id=5c634793e4b0d20a23997545)

Sex / Gender #583
- [x] Both sex and

[2017-12-05 21:19] ersinciftci commented on #128
@jjgao what column of what table are we talking about?

[2017-12-07 16:10] jjgao commented on #128
@ersinciftci `attr_value` in `clinical_sample` and `clinical_patient`

[2017-12-07 19:27] ersinciftci commented on #128
@jjgao So some subset of the samples in a particular study have for example AGE values like `<18`, but other samples in the same study have normal number AGEs like `35`?

[2017-12-08 19:28] ritikakundra commented on #131
@jjgao: @inodb did a search on gdac to see how many studies use xenograft and how many use pdx and majority use PDX in sample class including all CMO projects. Should we use PDX instead?

[2017-12-08 21:35] jjgao commented on #131
@ritikakundra sure.

[2017-12-11 20:14] jjgao opened #134 "survival data is missing for prad_tcga_pub"

[2017-12-12 10:13] sandertan opened #135 "Discrepancy FireBrowse, cBioPortal and ICGC"
I noticed there's a difference in the TCGA BLCA study between FireBrowse, cBioPortal and ICGC. @n1zea144 could the data we have in cBioPortal and on Datahub receive an update or is additional processing the reason there are less mutations in cBioPortal?

I couldn't find any info on processing of TCGA -> ICGC data, but I guess there are some filters there.

### Firebrowse
196 of 388 samples (51%)
!

[2017-12-12 22:20] ritikakundra commented on #125
This is fixed now:
http://www.cbioportal.org/index.do?session_id=59a9a467498e5df2e294bee3&show_samples=false&

[2017-12-12 22:22] ritikakundra commented on #118
@jjgao: This is fixed:
http://www.cbioportal.org/case.do?#/patient?sampleId=P-0000004-T01-IM3&studyId=msk_impact_2017

[2017-12-13 07:59] #127 closed

[2017-12-13 12:46] pieterlukasse commented on #135
@jjgao @schultzn any ideas why such big differences?

[2017-12-13 13:50] sandertan opened #138 "Broken meta files for acbc_mskcc_2015"
A user reported that she was unable to load this study:

[code]

[2017-12-13 14:39] schultzn commented on #135
Is there possibly something wrong with the case list for sequenced cases? If I go to grace.broadinstitute.org, from where we got the MAF, I see 130 sequenced cases. It is this file:
http://gdac.broadinstitute.org/runs/stddata__2016_01_28/data/BLCA/20160128/gdac.broadinstitute.org_BLCA.Mutation_Packager_Calls.Level_3.2016012800.0.0.tar.gz <http://gdac.broadinstitute.org/runs/stddata__2016_01_28/dat

[2017-12-13 20:38] ashraf123456789 opened #139 "Expression file issues for multiple studies.."
A lot of the meta issues I can solve on my own thanks to the file formats given online, but the files themselves still have plenty of issues...for example:

I've been having a lot of issues with the expression median files, this is one example.

shaba033$./metaImport.py -s /Users/shaba033/Downloads/coadread/tcga -n -o
Starting validation...

INFO: -: Running validation from cBioPortal version 1.10

[2017-12-13 21:33] #125 closed

[2017-12-13 21:34] #118 closed

[2017-12-13 21:40] jjgao commented on #135
@ritikakundra and @angelicaochoa: could you look into @schultzn's questions? Thanks.

[2017-12-13 23:57] ritikakundra commented on #138
@sandertan This is fixed

[2017-12-13 23:57] #138 closed

[2017-12-14 00:26] ritikakundra commented on #134
@jjgao Checked the publication, survival data is not available in the supplementary information

[2017-12-14 20:49] yichaoS commented on #105
included in issue https://github.com/cBioPortal/datahub/issues/120

[2017-12-14 20:49] #105 closed

[2017-12-14 20:51] yichaoS commented on #120
@ritikakundra @pieterlukasse @jjgao @dionnezaal Should "mixed" "SNP" be allowed as well?

[2017-12-14 20:59] yichaoS commented on #128
public studies with this validation error "Value of numeric attribute is not a real number"
- brca_tcga_pub2015:
column: HER2_COPY_NUMBER, CENT17_COPY_NUMBER
values: >6, not amplified, polisomy, (2 more))
- egc_msk_2017:
column: TOTAL_TIME_PERIOD_MONTHS, NUMBER OF_LINES_OF_TREATMENT_FOR_MET_DISEASE, ECOG_AT_STAGE_4_DX, (1 more)
values: UNK, unk
- prad_fhcrc:
column: PSA
value: <0.03

[2017-12-15 08:29] sandertan commented on #139
Hi Ashraf, the team at MSK is currently working on fixing the TCGA studies. @yichaoS do you know when the user can expect the update for TCGA provisional?

[2017-12-15 09:24] pieterlukasse commented on #128
@yichaoS for the `UNK, unk` values you can replace these by `NA`.

[2017-12-15 09:25] pieterlukasse commented on #120
@yichaoS do you mean `mixed` and `SNP` as `Validation_Status` values?

[2017-12-15 19:01] jjgao commented on #128
@ersinciftci yes.

[2017-12-15 20:50] ashraf123456789 commented on #139
@sandertan @yichaoS do you guys know ways to adjust the text files so they can upload? Hopefully adjustments will parallel files in other studies....so I can upload the TCGA studies right away....

[2017-12-18 16:06] jjgao opened #141 "tweak utuc_mskcc_2013"
- [x] change the study id to utuc_mskcc_2015
- [x] add oncotree_code

[2017-12-18 17:35] sandertan commented on #139
Hi Ashraf, the error in data_mutations_extended.txt can be solved if you use validateData.py from the hotfix branch. This fix will be implemented in the next cbio release.

@yichaoS is busy with a fixed version of the expression files. Until that is released, you can ignore the expression files by moving the respective meta files to a different folder.

[2017-12-18 20:25] yichaoS commented on #120
Yes, and this is all the values we have right now in public studies
![screen shot 2017-12-18 at 3 24 23 pm](https://user-images.githubusercontent.com/5973438/34126470-a845c662-e407-11e7-8560-519beb9b1233.png)

[2017-12-21 19:07] ashraf123456789 commented on #139
Thank you for letting me know!

I have encountered another issue..... I tried uploading another inhouse
site on a different laptop but it won't deploy even though the war file
opened in the webapps folder of tomcat and tomcat is working just
fine....any reason why this might be going on?

On Mon, Dec 18, 2017 at 11:35 AM, Sander Tan <notifications@github.com>
wrote:

[2017-12-21 21:30] ashraf123456789 commented on #139
<img width="1329" alt="screen shot 2017-12-20 at 1 11 10 pm" src="https://user-images.githubusercontent.com/33638846/34275644-d26d1bee-e663-11e7-90f9-538ac9a99170.png">

[2017-12-21 21:42] ashraf123456789 commented on #139
![image](https://user-images.githubusercontent.com/33638846/34276114-9b03ffc2-e665-11e7-9b41-7aae9630687e.png)

[2017-12-22 09:49] sandertan commented on #139
@ashraf123456789 Did you follow the steps at https://github.com/cBioPortal/cbioportal/blob/master/docs/Deploying.md#deploying-the-web-application ?

[2018-01-02 13:48] dionnezaal commented on #120
Solved by PR #143

[2018-01-02 13:48] dionnezaal commented on #122
Solved in PR #143. All tcga provisional studies now unpack as: `[study]_tcga`.

[2018-01-04 08:01] #122 closed

[2018-01-04 19:26] #62 closed

[2018-01-04 19:26] #120 closed

[2018-01-04 19:27] #124 closed

[2018-01-04 19:27] #126 closed

[2018-01-04 20:48] yichaoS commented on #131
@ritikakundra created spreadsheet to track progress:

CANCER TYPE
https://docs.google.com/spreadsheets/d/1yrtc-Ink7Pvtxp3OfwXsWj0X4KqRghm1_2r5QZHhfUA/edit#gid=0

SAMPLE TYPE
https://docs.google.com/spreadsheets/d/1AyondwQQPRj_CpFEoIxa-CTGdfXFPwPoTSfskPGHuqM/edit#gid=0

SAMPLE CLASS
https://docs.google.com/spreadsheets/d/10yzWeYdOOappDs8iBTRXf0Z-ajyy_z5YLAtup4qcK94/edit#gid=0

[2018-01-06 00:36] ersinciftci opened #144 "Non-Number values in OS_MONTHS attribute"
In `nsclc_tcga_broad_2016`, some patients has `#VALUE!` as their `OS_MONTHS` value. Shouldn't the importer throw an error for these cases, since `OS_MONTHS`'s `DATATYPE` is `NUMBER`?

[2018-01-06 01:08] jjgao commented on #144
Would validator capture that?

[2018-01-06 01:10] ersinciftci commented on #144
I thought that's what the `DATATYPE` column for, validation.

[2018-01-06 01:41] ritikakundra commented on #144
Yes validator does capture incorrect values for assigned data types.

Thanks,
Ritika

On Jan 5, 2018, at 8:10 PM, Ersin Ciftci <notifications@github.com<mailto:notifications@github.com>> wrote:

I thought that's what the DATATYPE column for, validation.

—
You are receiving this because you were assigned.
Reply to this email directly, view it on GitHub<https://github.com/cBioPortal/datahub/issues/

[2018-01-08 14:43] jjgao commented on #131
@yichaoS @ritikakundra great thanks. Please keep making progress and keep updating the portal.

Have you worked out a solution to update clinical data only? @yichaoS

cc'ing @n1zea144

[2018-01-08 14:45] jjgao commented on #144
@ritikakundra @yichaoS please look into this case and see what happened?

[2018-01-08 14:45] jjgao commented on #144
cc'ing @n1zea144

[2018-01-08 14:47] jjgao opened #145 "Clinical attribute for TCGA study incorrectly labelled"
'Initial Weight' has been incorrectly labeled as 'Initial Patient weight' in cBioPortal.
Example: http://www.cbioportal.org/case.do#/patient?caseId=TCGA-2A-A8VL&studyId=prad_tcga&tab=clinicalDataTab
Data in GDC: https://portal.gdc.cancer.gov/cases/49197847-cc83-4ce1-8397-d09cea4c4928

The weight actually indicates the weight of the sample tissue and not the patient.

Issue was identified by user:

[2018-01-08 21:44] ashraf123456789 opened #146 "Expression Data Issues...."
Hello,

I'm having issues uploading expression from a personal data set. My sample attributes loaded easily but my mRNA expression file didn't appear on my inhouse site. Attached is my meta expression file and a picture of the site to see what's displaying....my data set information needs to be kept private....but formatting the file has not been the issue since I followed the formatting procedure

[2018-01-09 08:13] dionnezaal commented on #29
In current version on datahub the IDs have been changed from TCGA-42-2591-01A-21 to TCGA-42-2591 and TCGA-42-2591-01 for patient and sampleID. The issue is resolved.

[2018-01-09 08:13] #29 closed

[2018-01-09 08:29] dionnezaal commented on #26
In current version from gbm_tcga on datahub no extra description is added to the meta file. But currently in file-formats.md in the hotfix branch documentation was added about RNA Seq V2 RSEM: https://github.com/cBioPortal/cbioportal/pull/3253.

[2018-01-09 09:04] sandertan commented on #146
Hi Ashraf,

`WARNING: Expression.txt: lines [5, 6, 9, (8556 more)]: Duplicate line for a previously listed feature/gene, this line will be ignored.; values encountered: ['A1CF (already defined on line 4)', 'A2BP1 (already defined on line 8)', 'A3GALT2 (already defined on line 15)', '(5716 more)']`
Can you check the data why duplicate lines are detected?

Common practice is to not display mRNA data

[2018-01-09 18:18] ashraf123456789 commented on #146
Thank you! What you mentioned did work. Is there a way to get the z-score from the expression file without any CNA data...?

[2018-01-10 07:40] sandertan commented on #146
Do you have normal samples? You have to compare tumor expression values to
normal values. Else you’re comparing within the tumor set. Using z-scores
without normal values is not recommended. Z-score normalization can make
small differences show as large differences for samples with low gene
expression.

If you know what you’re doing, you can calculate such scores with any
statistical software or p

[2018-01-12 21:47] ashraf123456789 commented on #146
[meta_zscore.txt](https://github.com/cBioPortal/datahub/files/1627583/meta_zscore.txt)
I preformed the z-score transform on the expression data..... and the oncoprint tab still isn't functioning, is there anything wrong with the metafile?
<img width="1258" alt="screen shot 2018-01-12 at 3 46 16 pm" src="https://user-images.githubusercontent.com/33638846/34896547-d737f858-f7af-11e7-899b-0a35b0857e2

[2018-01-14 13:58] sandertan commented on #146
Hi @ashraf123456789 . This looks like a different problem. Did you already successfully load a TCGA study?

[2018-01-15 11:09] ashraf123456789 commented on #146
I did....I loaded a sample file, expression file, and a z-scored transformtion file, and respective meta files required...is there more data that needs to be uploaded for to get more detailed assessment on the expression data?

[2018-01-15 12:45] sandertan commented on #146
I don't think so.

Could you open the developer console in Chrome (View -> Developer -> Developer Tools -> Console (tab), and make a screenshot of any Error (in red)?

Also, can you verify your data, to make sure everything is correct? So for the queried genes, that there are z-score values for the selected samples.

Could you send a screenshot of the validation report? If you have sensitive data/

[2018-01-16 17:26] ashraf123456789 commented on #146
[myReport.html.zip](https://github.com/cBioPortal/datahub/files/1636150/myReport.html.zip)

<img width="1280" alt="screen shot 2018-01-16 at 11 14 16 am" src="https://user-images.githubusercontent.com/33638846/35002657-fa214f60-faaf-11e7-80b8-accd47ea0067.png">
Hi Sander,

Here you go!
<img width="1280" alt="screen shot 2018-01-16 at 11 14 04 am" src="https://user-images.githubusercontent.com/3363

[2018-01-16 17:29] ashraf123456789 commented on #146
<img width="1280" alt="screen shot 2018-01-16 at 11 14 16 am" src="https://user-images.githubusercontent.com/33638846/35002760-47741af4-fab0-11e7-8bfe-f46b1132a0e0.png">

<img width="1280" alt="screen shot 2018-01-16 at 11 14 04 am" src="https://user-images.githubusercontent.com/33638846/35002749-431112fa-fab0-11e7-8d58-460f2d8543b2.png">

[myReport.html.zip](https://github.com/cBioPortal/datahub/

[2018-01-17 09:05] sandertan commented on #146
Hmm the validation report looks fine, but the 500-error shouldn't happen. Did the import run successfully without errors? Also, make sure to restart Tomcat after each time you've loaded a study.

I noticed the validation report contains many duplicate lines. Could you try to load a small sample of the data without duplicate genes? For example, 2 samples in the clinical file, and for those 2 sample

[2018-01-17 18:20] ashraf123456789 commented on #146
So I tried everything you did mention on here....if there's any errors the study won't load at all. There was no errors. I did what you asked about doing a minimal amount of samples with no duplicates....same results in regards to Oncoprint...refreshing hasn't worked as well unfortunately, is my issues the first of its kind?

[2018-01-18 09:46] sandertan commented on #146
Would it be possible for you to share this minimal test study? Perhaps replace all variables names and values with some fake data. Then I can take a closer look.

[2018-01-18 15:49] ashraf123456789 commented on #146
Will do

Sent from my iPhone

[2018-01-18 19:21] serverhorror opened #149 "Import Documentation for "public""
There seems to be a kind of import documentation missing.

Is there any link as to where to go and what to do? I know this is somehow supposed to work with cBioportal but there is no README.md in that folder and no mention of how one would do this in the README.md of the project root.

[2018-01-19 20:19] ashraf123456789 commented on #146
Hi Sander,

I updated cbioportal and now oncoprint is working, but I can't update new studies because I'm receiving this error:

Checked DB schema version: (expected: 0) (found: 2.4.0)
Error, probably due to this version of the portal being out of sync with the database. Run the database migration script located at PORTAL_HOME/core/src/main/scripts/migrate_db.py before continuing.
!!!!!!!!!!!!!!!!

[2018-01-22 09:03] sandertan commented on #146
Can you check if `portal.properties` contains the new properties introduced in the updated version of cBioPortal? You'll find them in `portal.properties.EXAMPLE`. You have to rebuild after that.

[2018-01-23 20:05] kalletlak opened #1356 "Validator scripts are not checking for case insensitivity of sample and patient ids"
For example, if I have a study with sample ABC1 and abc1 then are those considered as different samples. But mysql select queries are case insensitive and this would throw errors while querying.

[2018-01-25 21:28] yichaoS commented on #68
PR for unzipping: https://github.com/cBioPortal/datahub/pull/152

[2018-01-30 19:22] tmazor opened #154 "add TERT promoter mutations to TCGA studies"
Some TCGA studies have called TERT promoter mutation but we don't have that data in cBioPortal. This is likely because the mutations may not come from the standard exome sequencing pipeline but from an independent sequencing assay specifically targeted at the TERT promoter.

We need to identify which studies have TERT mutation data and add that data to cBioPortal.

Below is an incomplete list of s

[2018-01-30 20:25] tmazor commented on #154
A user has requested the Cutaneous Melanoma data specifically: https://groups.google.com/forum/#!topic/cbioportal/jdRjXLsnlzk

[2018-02-02 11:27] sandertan commented on #149
Hi @serverhorror, you can find documentation how to import these studies in the cBioPortal documentation:
https://github.com/cBioPortal/cbioportal/blob/master/docs/Data-Loading.md

[2018-02-02 11:27] #149 closed

[2018-02-02 12:40] sandertan commented on #68
PR to update the documentation with links to datahub datasets: https://github.com/cBioPortal/cbioportal/pull/3841

[2018-02-02 12:56] #111 closed

[2018-02-02 20:37] yichaoS commented on #68
Frontend PR for updating the download links: https://github.com/cBioPortal/datahub/issues/68

[2018-02-05 11:27] pieterlukasse commented on #68
@yichaoS I couldn't find any PR in frontend on your name? What is the link?

[2018-02-05 12:08] sandertan commented on #68
@pieterlukasse https://github.com/cBioPortal/cbioportal-frontend/pull/943

[2018-02-05 19:42] jjgao opened #157 "move path reports to MSK http server"

[2018-02-07 11:48] dionnezaal opened #158 "Multiple validation reports per study"
In the current master branch some studies contain multiple validation report files. For example, study hnsc_tcga contains hnsc_tcga.html and validation_report.html. The validation reports also do not seem to validate the same data and/or use different validators. For example, meta_mutsig.txt and data_mutsig.txt are validated in validation_report.html and not in hnsc_tcga.html.

[2018-02-07 15:57] dionnezaal commented on #158
Will report a list soon which studies have multiple validation reports

[2018-02-07 16:07] yichaoS commented on #158
I checked on mercurial that those files were checked by Angelica 4 months ago.
We should just discard those.

[2018-02-08 08:39] dionnezaal commented on #158
@yichaoS Studies containing two validation reports are: kirc_tcga, hnsc_tcga and lihc_tcga

[2018-02-08 11:11] pieterlukasse commented on #114
Still present in cbioportal.org. Example:
- go to meso study and query TP53.
- go to mutation view tab. Because all are `MUTATED` (missing specific mutation info), the lollipop view is not rendered:

![image](https://user-images.githubusercontent.com/2900303/35970032-158ce9dc-0cc9-11e8-84d0-a26024e75e22.png)

[2018-02-08 11:12] pieterlukasse commented on #57
@ritikakundra @yichaoS in which PR can we expect this fix? Could you please refer to it here (or refer to this issue in the PR)?

[2018-02-08 11:47] pieterlukasse commented on #123
This is issue is still present. None of the TCGA provisional studies seem to have `_sequenced` case list. In the UI this still leads to issues:
-  in the patient view: although #3127 is now solved, the mutations and CNA tracks are not displayed if _sequenced case list is missing (at least in 1.10.1)
- in the datasets view: "sequenced" samples is reported as 0 (at least in 1.10.1)
- in the oncoprin

[2018-02-08 13:43] ritikakundra commented on #123
We have a tool now that can help add the _seq and _cna. I can prioritize these for today.

[2018-02-08 17:39] yichaoS commented on #158
@dionnezaal I've added a card to our next week sprint. Will get this resolved before our next meeting.

[2018-02-14 21:19] yichaoS commented on #158
solved in rc.

[2018-02-14 21:19] #158 closed

[2018-02-16 14:28] PichaiRaman opened #160 "UCSC Xena"
Should we consider loading data from UCSC Xena ...

https://xenabrowser.net/datapages/

Based on a cursory look they have quite a few datasets we're missing such as the st. jude dataset

[2018-02-19 09:59] dionnezaal commented on #123
Fixed by PR #164

[2018-02-19 09:59] #123 closed

[2018-02-19 09:59] dionnezaal commented on #57
Fixed in PR #164.

[2018-02-19 09:59] #57 closed

[2018-02-19 18:40] ashraf123456789 opened #165 "Onco Print not working for methylation data"
Hello,
I was wondering why oncoprint doesn't function properly for methylation data, even though the heat map that corresponds with the queried genes work just fine.....
<img width="1112" alt="screen shot 2018-02-19 at 12 38 35 pm" src="https://user-images.githubusercontent.com/33638846/36392663-fafab930-1571-11e8-97a0-96cc3f7f4408.png">

[2018-02-21 15:47] ritikakundra opened #166 "Validator Issue: Duplicate samples in data_gene_matrix.txt does not fail"
The Validator does not fail when there is a duplicate sample in the gene matrix file with the same panel information. This does fail import though.

[2018-02-21 16:07] n1zea144 opened #167 "Clinical Timeline file specification"
Check that validator works with a single data/meta timeline set or multiple versions.

If so, update timeline docs and state we support single or multiple timeline files.

[2018-02-22 11:15] dionnezaal commented on #114
With the current reannotated files in datahub/rc protein changes are available:
_meso_tcga, TP53_
<img width="1215" alt="screen shot 2018-02-21 at 1 45 06 pm" src="https://user-images.githubusercontent.com/1343609/36535460-02d866b6-17ca-11e8-9978-0bb12cd894cd.png">

[2018-02-23 10:17] pieterlukasse commented on #51
I am happy this is being fixed :+1:  I added a PR to help prevent such issues in the future: https://github.com/cBioPortal/cbioportal-frontend/pull/987 . It is not a hard check, but should help make frontend developers better aware of the importance of updating validation and documentation when implementing a dependency on a clinical attribute.

[2018-02-26 14:30] jjgao commented on #114
Here is the results on the latest public portal database by running the sql above. Somehow some studies have more issues now such as `stad_tcga_pub`

[code]

[2018-02-26 14:37] jjgao opened #168 "some datasets are missing references"
@tmazor commented on [Thu Feb 15 2018](https://github.com/cBioPortal/cbioportal/issues/3888)

There are a bunch of studies that sound like they relate to a publication (everything in the list below that isn't a TCGA Provisional study), but don't have a listed reference:

![image](https://user-images.githubusercontent.com/10508276/36264420-ae5c7d3c-123a-11e8-92c8-3009c07a0986.png)

[2018-02-28 08:42] dionnezaal commented on #166
PR made with validator check for duplicate sample IDs: [#3918](https://github.com/cBioPortal/cbioportal/pull/3918)

[2018-03-13 15:41] sophie2046 commented on #15
Hi there, I am wondering whether the above problem mentioned has been fixed and when they will be pushed to this datahub? It seems to be another 6 months since the last post.

[2018-03-13 17:50] pieterlukasse commented on #15
hi @sophie2046, a lot has happened since then (see https://github.com/cBioPortal/datahub/pulls?q=is%3Apr+is%3Aclosed), but we haven't been updating the tickets. Thanks for the reminder. There is also a new PR with many more fixes and improvements (https://github.com/cBioPortal/datahub/pull/164). @sandertan could you please update this ticket? Maybe it can be closed?

[2018-03-14 09:00] sandertan commented on #15
The "_pub" studies can still not be loaded. Fixing the TCGA provisional studies (the ones without "_pub") will be updated first, I assume the "_pub" will be fixed some time after that. I'll leave this ticket open.

[2018-03-16 16:00] sophie2046 commented on #15
@pieterlukasse  @sandertan  Thank you for the reply. Can you point to me a loadable version now for TCGA BRCA data? I tried the brca_tcga.tar.gz which doesn't have a _pub tag and updated 3 months ago. It still failed exactly the same reasons during validation (protein level data type, and the normal samples in the CNV_seg data were not in clinical data) . I am using cbioportal v1.11.2.

[2018-03-16 16:39] sandertan commented on #15
Hi @sophie2046 The TCGA studies are getting fixed in this Pull Request: https://github.com/cBioPortal/datahub/pull/164. You can track this PR to see the progress.

The latest version of brca_tcga can be found in the branch associated with this Pull Request, located here:
https://github.com/cBioPortal/datahub/tree/cleanup/public/brca_tcga
Unfortunately this is not a zip file yet, so you could downl

[2018-03-16 19:27] priti88 opened #171 "'coadread_dfci_2016' study mutation data is not annotated using Uniprot canonical"
Reported by user: https://groups.google.com/forum/#!topic/cbioportal/kI-k9tQbamc

[2018-03-20 19:09] yichaoS opened #173 "Allele Issues w/ provisional studies"
- [ ] coadread_tcga: line 25096. When Validation_Status is valid and Mutation_Status is Somatic, the Match_Norm_Validation_Allele columns should be equal to the Reference Allele and one of the Tumor_Validation_Allele columns should not be. Values encountered: (G, -, G, G)
- [x] laml_tcga: line 676, 768, 1022, (5 more). When Validation_Status is valid and Mutation_Status is Somatic, the Match_Norm_

[2018-03-20 20:58] ritikakundra commented on #173
**OV_TCGA** (TCGA firehose is still build 36:
1. A,A,A is coming from the firehose link-http://gdac.broadinstitute.org/runs/stddata__2016_01_28/data/OV/20160128/
2. CNT is also coming from TCGA link. This is a widely used annotation from iupac for any base (https://www.bioinformatics.org/sms/iupac.html)
3.  ov_tcga: line 340: I can't find it on this line. Can @dionnezaal extract some examples?
4.

[2018-03-20 21:26] ritikakundra commented on #173
**LUSC_TCGA:**
This seems wrong. The firehose does not have any N for base change

[2018-03-20 22:13] ritikakundra commented on #173
**LAML_TCGA (TCGA Firehose is 36):**

1. Checked firehose MAF which is in sync with datahub/cleanup for laml_tcga: line 676, 768, 1022,
2. laml_tcga: line 176, 458, 915, (5 more): issue seems weird. It is right in firehose but incorrect in the cleanup files. Seems all are MT variants.

[2018-03-21 08:34] dionnezaal commented on #173
@ritikakundra **OV_TCGA** point 3 is line 1340: sample TCGA-13-0885-01, BRCA2, p.E1407Vfs*5

[2018-03-21 15:08] jjgao opened #174 "Discrepancies of BRCA mutational data between cBioPortal and Firehose"
A user noticed ATM mutations on [three TCGA BRCA samples](http://www.cbioportal.org/case.do#/patient?caseId=TCGA-A2-A0T7&navCaseIds=TCGA-A2-A0T7%2CTCGA-AO-A1KT%2CTCGA-GM-A2DH&studyId=brca_tcga) were not included in [Firehose](http://gdac.broadinstitute.org/runs/stddata__2016_01_28/data/BRCA/20160128/gdac.broadinstitute.org_BRCA.Mutation_Packager_Calls.Level_3.2016012800.0.0.tar.gz).

I compared th

[2018-03-22 15:13] CuriusScientist commented on #51
@sandertan  I agree with you I am facing the same problem and don't know most of the terminologies used by cBioPortal. In some cases, they are taken from other tools, edited and abbreviated so there is no way to find what came from where.

[2018-03-26 21:14] jjgao opened #179 "Remove cna data from Breast BCCRC Xenograft"
Per @schultzn's request since there seem to be too many copy number events.

e.g. http://www.cbioportal.org/index.do?session_id=5ab962b8498eb8b3d56561c7

- [ ] remove profile `brca_bccrc_xenograft_2014_gistic`
- [ ] update case lists, e.g. remove case list _cna and _cnaseq

[2018-03-29 20:04] jjgao opened #182 "study short name clash"
- Both `all_stjude_2013` and `all_stjude_2015` has short name of `ALL (St. Jude)`
- Both `kich_tcga_pub` and `kich_tcga` has short name of `chRCC(TCGA)`

[2018-04-03 15:06] jjgao opened #183 "Missing TCGA published studies"
@ritikakundra do you have a list of TCGA published studies that have not been curated? Could you add them here?

https://cancergenome.nih.gov/publications

| TCGA Study        | PMID           | cBioPortal study  |
| ------------- |-------------| -----|
| GBM, 2008      | [18772890](https://www.ncbi.nlm.nih.gov/pubmed/18772890) | [gbm_tcga_pub](http://www.cbioportal.org/study?id=gbm_tcga_pub) |
|

[2018-04-05 08:32] sandertan opened #184 "Please add database schema version to public-portal-dump.latest.sql.gz"
Hi @yichaoS , could you add information to the readme and/or filename which database schema version this dump is using? Also, it would be useful to know which version of cBioPortal is compatible with this schema, and how up to date this dump is (perhaps with a date?). Or is this automatically generated, like every day, and therefore not practical to add this to the readme?

http://download.cbiopor

[2018-04-06 18:29] yichaoS commented on #157
- resolved in PR: https://github.com/cBioPortal/datahub/pull/186

[2018-04-09 19:36] jjgao opened #189 "NaN in Breast Cancer study (TCGA Cell 2015) causing"
@PichaiRaman commented on [Mon Dec 11 2017](https://github.com/cBioPortal/cbioportal/issues/3557)

Got this message

[code]
I tried it and he is correct. I saw that one of the samples has an NaN value for EZH2 and I think that's causing all samples to have NaN upon Z-scoring.

---

@jjgao commented on [Wed Dec 13 2017](https://github.com/cBioPortal/cbioportal/issues/3557#issuecomment-351538524)

@

[2018-04-10 10:58] dionnezaal commented on #173
Issues are resolved in PR #164

[2018-04-10 10:58] #173 closed

[2018-04-10 11:33] dionnezaal commented on #139
Errors in expression and mutation files for TCGA provisional studies have been fixed in PR #164

[2018-04-10 11:33] #139 closed

[2018-04-10 11:45] dionnezaal commented on #174
Fixed in PR #164 where only the mutation file described in the meta_study file is used.

[2018-04-10 11:45] #174 closed

[2018-04-10 21:39] jjgao opened #192 "normalize IDs"
I remember we had some discussions earlier but couldn't find the issue...

We should add some rules for IDs (study, profile, patient, samples, etc). I would propose support only the characters below. Thoughts?

- A-Z
- a-z
- 0-9
- .
- _
- \-

regex: `[^A-Za-z0-9\._-]`

The query below would be useful to find out IDs that do not meet this rule.
[code]

The above query will return one patient `RS4;1

[2018-04-11 12:15] pieterlukasse commented on #157
@yichaoS PR is merged. Maybe close this ticket once the reports have been placed on new MSK http server.

[2018-04-23 21:50] jjgao opened #197 "Non-zscore mrna profiles show up in query for pancan studies"
![image](https://user-images.githubusercontent.com/840895/39155148-d2ffe0b6-471e-11e8-9040-03775e299580.png)

[2018-04-24 13:31] jjgao opened #198 "tweaks of mrna data for pancan studies"
- [x] recalculate z-score profiles per cancer type (for both rnaseq and u133)
- [x] rename `[study_id]_mrna_merged` to `[study_id]_rna_seq_v2_mrna_median` and `[study_id]_mrna_merged_Zscores` to `[study_id]_rna_seq_v2_mrna_median_Zscores`
- [x] hide non-zscores profiles in query page https://github.com/cBioPortal/datahub/issues/197

[2018-04-24 18:41] ritikakundra opened #199 "Negative values in Read Counts"
This issue was reported by a user:
https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/cbioportal/eER8Y1IzWj0/wga2g53NCAAJ

[2018-04-24 20:02] yichaoS commented on #192
@jj I did the query and these studies are affected with special characters in stable ID:

Patient ID:
- acyc_fmi_morris_2017
- skcm_mskcc_2015_chant
- cellline_ccle_broad
- accrf_merged
- prad_tcga_su2c_impact_2015
- ov_jhu_velculesculab_2015

Sample ID:
- accrf_merged
- acyc_fmi_morris_2017
- cgci_htmcp_lc_2017

[2018-04-24 20:11] ritikakundra commented on #192
@yichaoS @jjgao I suggest changing all special characters to -

[2018-04-24 20:51] jjgao commented on #192
@ritikakundra @yichaoS: yes, we can change all special characters in sample/patient IDs to hyphen.

Hopefully we don't have any special ones in study IDs. If we do, we can change them to underscore.

I think we should also add this to validator. @sandertan @pieterlukasse

[2018-04-24 22:07] yichaoS commented on #192
@jj I just checked gdac DB, the study IDs are fine.

[2018-04-25 01:49] jjgao opened #200 "gene panel data wasn't specified for cna profile for msk_impact_2017"
currently only mutations profile is associated with gene panel data, but we should associate the data with cna profile too since it's profile specific.

![image](https://user-images.githubusercontent.com/840895/39222137-092cf828-4809-11e8-8643-c70543f60791.png)

and many other (all?) studies with gene panel data.

[2018-04-25 16:43] jjgao commented on #200
From @ersinciftci: only 4 CNA profiles have non-null panel id in `sample_profile`; 'mpnst_mskcc_cna', 'thyroid_mskcc_2016_gistic', 'hnc_mskcc_2016_gistic', 'blca_mskcc_solit_2014_cna'.

[2018-04-26 14:33] #198 closed

[2018-04-27 02:59] jjgao opened #201 "CN segment data missing for TCGA provisional studies"

[2018-04-27 04:14] angelicaochoa commented on #201
@ritikakundra was the old seg file name pattern used or were they updated to the new format? Right now the importer just supports the old format..

[2018-04-30 01:24] jjgao opened #202 "TRACERx Renal dataset"
Three papers on the TRACERx Renal dataset:

- https://www.cell.com/cell/fulltext/S0092-8674(18)30389-1
- https://www.cell.com/cell/fulltext/S0092-8674(18)30375-1
- https://www.cell.com/cell/fulltext/S0092-8674(18)30164-8

Maybe we only need to curate one dataset for these three studies: `ccrcc_tracerx_2018`?

- [ ] [create a issue on datahub](https://github.com/cBioPortal/datahub/issues/new) befor

[2018-04-30 15:08] jjgao commented on #179
a request from user: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/cbioportal/tvoMFTXDgXk/NHkQYQSBCwAJ

@ritikakundra: could you prioritize this issue?

[2018-04-30 15:11] jjgao commented on #179
Only the profile `Putative copy-number alterations` needs to be removed.

[2018-04-30 19:25] jjgao opened #203 "push studies out from private portal to public"
- [x] dlbc_bcgsc_2011
- [x] cscc_hgsc_bcm_2014
- [x] dlbc_bcgsc_2013
- [x] nbl_broad_2013
- [x] skcm_broad_brafresist_2012
- [x] lcll_icgc_2011

[2018-04-30 21:04] #199 closed

[2018-04-30 21:04] jjgao commented on #199
Issue moved to [cBioPortal/cbioportal #4162](https://github.com/cBioPortal/cbioportal/issues/4162) via [**ZenHub**](https://www.zenhub.com/)

[2018-05-01 20:33] ritikakundra commented on #201
This is fixed

[2018-05-01 20:33] #201 closed

[2018-05-21 18:32] jjgao opened #210 "Schmitz et al. NEJM 2018 (574 DLBCLs)"
https://www.ncbi.nlm.nih.gov/pubmed/29641966

The dataset is on dbGAP (NCICCR: phs001444) and GDC (NCICCR-DLBCL)

- [ ] [create a issue on datahub](https://github.com/cBioPortal/datahub/issues/new) before curating a study (one issue per study) and copy this checklist to the issue tracker
- [ ] List information of the dataset/paper in the issue, e.g. pmid, paper link, suppl file link
- [ ] Document

[2018-05-21 20:54] priti88 opened #211 "Annotation not mapping to uniprot cannonical"
User reported:
https://groups.google.com/forum/#!topic/cbioportal/2fOpJXlgyiw

[2018-05-22 16:31] inodb commented on #211
@jjgao @angelicaochoa

I think the D651Y is correct:

(http://genomenexus.org/annotation/summary/3%3Ag.25668743C%3EA?isoformOverrideSource=uniprot&projection=CANONICAL)

But the R651H should be R656H with uniprot:

http://genomenexus.org/annotation/summary/3%3Ag.%2025668727C%3ET?isoformOverrideSource=uniprot&projection=CANONICAL

Notice that the positions are different

[2018-05-22 17:05] angelicaochoa commented on #211
Just to keep everyone in the loop, we are addressing this issue as part of our next sprint starting tomorrow, 05/23/18.

[2018-05-24 13:02] guv opened #217 "Missing study data archives in datahub/public"
I ran a script against the cbioportal Web API and cBioPortal/datahub/public.
The studies listed below have no data archive.
Is it possible to add those data archives to this repository?

- [ ] [[acc_tcga_pan_can_atlas_2018] Adrenocortical Carcinoma (TCGA, PanCancer Atlas)](https://github.com/cBioPortal/datahub/raw/master/public/acc_tcga_pan_can_atlas_2018.tar.gz)
- [ ] [[all_phase2_target_2018_pub

[2018-05-28 12:11] sandertan opened #218 "Percentages converted to dates in nbl_target_2018"
@wardweistra found out that some percentage ranges are converted to dates in the `nbl_target_2018` study. Perhaps this is auto-converted by Excel. Can this be fixed in cbioportal.org and DataHub? Please check the other columns as well; for this example, I only tested 2 attributes.

http://www.cbioportal.org/study?id=nbl_target_2018_pub#summary
https://github.com/cBioPortal/datahub/tree/rc/public/n

[2018-05-29 17:01] angelicaochoa commented on #211
I've finished the uniprot annotations and I'll be updating the studies over the next few days.

[2018-05-30 16:56] fedde-s opened #222 "Undefined samples in provisional TCGA studies"
I just tried to load [the current version of the `brca_tcga` study](https://github.com/cBioPortal/datahub/blob/efe0deb4d4fa18a78abd4496884ee751aa90c6be/public/brca_tcga.tar.gz) from the master branch into a cBioPortal v1.12.1 instance, and it failed because many samples had not been explicitly associated with a patient via the sample data file. Is this covered by one of the other issue reports her

[2018-05-30 16:59] fedde-s commented on #222
It looked like many, if not all, of the samples were not primary tumour samples; i.e. their IDs were TCGA barcodes that did not have -01 in the sample type position.

[2018-05-30 20:44] jjgao commented on #192
@pieterlukasse do you think you can add this rule in the validator?

[2018-05-31 07:51] pieterlukasse commented on #192
@oplantalech can you please add this regex, replacing what was done in https://github.com/cBioPortal/cbioportal/pull/2099?

[2018-05-31 08:43] fedde-s commented on #222
The `gbm_tcga` study has the same issue.

[2018-05-31 09:08] fedde-s opened #223 "brca_tcga_pub has no sample attribute file"
It looks like the `brca_tcga_pub` study cannot be loaded, as it follows an old data format that cBioPortal [stopped supporting](https://github.com/thehyve/cbioportal/wiki/File-Formats/_compare/307cf18153c657329af898e65a45f0e5cac4a954...081d3620f3142f04232d906e7d561ce792213645) in release v1.2.0 (June of 2016); values for sample attributes and patient attributes are denormalised into a sparse matri

[2018-05-31 09:22] fedde-s commented on #223
Ah, this seems to be a duplicate of #15. Closing

[2018-05-31 09:22] #223 closed

[2018-05-31 17:00] yichaoS commented on #222
@fedde-s The data in current "master" branch is not up-to-date, while in current 'RC' branch they are. We do have a plan to merge 'rc' to 'master' very soon, but for now, could you try using the data in 'rc'? The missing sample issue should have been fixed there.

[2018-05-31 19:14] fedde-s commented on #222
Thanks! I tried it and it worked, although GitHub wasn't as helpful in downloading a single study folder and I figured out to use [these steps](https://github.com/thehyve/cbioportal-docker/pull/33/files) to get one.

Good luck releasing the rc branch! I think it will help in welcoming people who want to contribute their time to make the software better 😁

Feel free to reuse/extend parts of the not

[2018-06-03 14:49] sandertan commented on #222
@fedde-s Dionne recently documented how to download a single study. Perhaps we can align your and her method? https://github.com/cBioPortal/datahub/pull/190

[2018-06-03 14:53] fedde-s commented on #222
Great, yes! I wasn't aware of her patch.

[2018-06-03 17:08] jjgao opened #225 "OncoTree code issue"
It looks many of the oncotree code of many of liquid cancer projects do not have a valid oncotree code. Is it because we have updated the `type_of_cancer` table with the latest oncotree codes but forgot to update `cancer_study` table? If so, we should have a process for updating oncotree in our database and data files.

[code]

in cgds_public:
[code]

These studies are not displayed in the query p

[2018-06-03 17:49] jjgao commented on #225
11 oncotree code were affected in private portal.

all
cll
ctcl
dlbcl
mm

[2018-06-03 17:50] jjgao commented on #225
I assume this will also affect oncotree code in clinical data file?

[2018-06-07 08:39] sandertan commented on #222
@fedde-s The big RC to Master merge has been done. Can we close this issue?

[2018-06-07 08:41] fedde-s commented on #222
Sounds good!

[2018-06-07 08:41] #222 closed

[2018-06-12 12:02] sandertan commented on #218
Fixed in https://github.com/cBioPortal/datahub/pull/221 . Thanks!

[2018-06-12 12:02] #218 closed

[2018-06-12 22:28] jjgao opened #238 "inconsistant descriptions of expression profiles for TCGA provisional studies"
For [a zscore profile](https://github.com/cBioPortal/datahub/blob/master/public/lgg_tcga/meta_RNA_Seq_v2_mRNA_median_Zscores.txt), the description is "mRNA z-Scores (RNA Seq V2 RSEM) compared to the expression distribution of each gene tumors that are diploid for this gene."

For [a non-zscored profile](https://github.com/cBioPortal/datahub/blob/master/public/lgg_tcga/meta_RNA_Seq_v2_expression_me

[2018-06-16 22:58] jjgao opened #240 "change study description for TCGA Pancancer studies"
Currently, for every study it is "TCGA PanCanAtlas genomic data from 11k cases and all TCGA tumor types (33). The data is expected to be updated.
"

![image](https://user-images.githubusercontent.com/840895/41502978-5b66a78c-7195-11e8-9762-be840c9e8aa3.png)

Can we follow the pattern similar to TCGA provisional studies and change them to: "[TCGA cancer type full name] (from PanCancer Atlas project

[2018-06-16 23:02] jjgao opened #241 "Improving PanCancer Atlas data"
- [x] survival/followup data - https://pubmed.ncbi.nlm.nih.gov/29625055/
- [ ] clinical data #294
- [x] #1759
- [x] methylation
- [x] rppa
- [x] structural variants
- [ ] miRNA #1220
- [ ] immunologenomics
- [x] microbiome: #1095
- [x] cptac #1235
- [ ] ATACseq: #1158
- [x] rnaseq for normal samples #1221
- [x] msi #1043
- [x] tmb #426
- [x] re-curate arm-level CNA #1308
- [x] ancestry data #1426

[2018-06-16 23:09] jjgao opened #242 "mRNA z-score profile is missing for most of the TARGET studies"

[2018-06-19 12:35] #192 closed

[2018-06-19 18:54] jjgao opened #243 "paad_qcmg_uq_2016 has RNA-seq data but co-expression and enrichments/RNA tabs don't appear"
@tmazor commented on [Tue Jun 19 2018](https://github.com/cBioPortal/cbioportal/issues/4380)

This study has RNA-seq data -- I can query it and it appears in the oncoprint, but none of the RNA-specific tabs (co-expression or enrichments/RNA) appear:
![image](https://user-images.githubusercontent.com/10508276/41617917-b641e540-73cf-11e8-9f68-6ce36ed1535f.png)
![image](https://user-images.githubuser

[2018-06-19 18:55] jjgao commented on #243
@ritikakundra @yichaoS in paad_qcmg_uq_2016, there is only one mrna expression profiles. I think it is not a zscore profile but was labeled wrong. Could you look into it?

[2018-06-19 18:56] jjgao commented on #243
cc'ing @tmazor

[2018-06-19 19:46] tmazor opened #244 "pancan atlas LGG data shows up under the wrong heading in query selector"
PanCancer Atlas LGG shows up under "Encapsulated Glioma" but should appear under "Diffuse Glioma" with all the other LGG datasets.

![image](https://user-images.githubusercontent.com/10508276/41620511-e8fb98c0-73d7-11e8-87c9-c57f5885445b.png)

![image](https://user-images.githubusercontent.com/10508276/41620515-ede31fb6-73d7-11e8-82b1-fc6131dd46ed.png)

[2018-06-27 17:14] jjgao commented on #244
@ritikakundra the OV pancan study is not in a wrong position. Could you please check other studies too?

![image](https://user-images.githubusercontent.com/840895/41989059-0ca30efe-7a0c-11e8-9f69-d6c10a933ac6.png)

[2018-06-28 20:50] jjgao opened #246 "rename "“Relative linear copy-number values”""
@jjgao commented on [Tue Apr 11 2017](https://github.com/cBioPortal/cbioportal/issues/2317)

A user request

In order to decrease the chance of people misinterpreting TCGA “Relative linear copy-number values” in cBioPortal it likely would be rather useful to change the name of this data type to “Capped relative linear copy-number values”.

Hopefully this would increase the chance of people getting

[2018-06-28 20:52] jjgao opened #247 "mutation_type data issue"
@jjgao commented on [Wed Apr 12 2017](https://github.com/cBioPortal/cbioportal/issues/2323)

There are some non-standard mutation types in the public portal database: [data-issue.xlsx](https://github.com/cBioPortal/cbioportal/files/917517/data-issue.xlsx) For example, nsclc_tcga_broad_2016 has no genomic locations.

Can we fix the data?

Below is the code to pull out the spreadsheet above.

[code]

[2018-06-28 20:56] jjgao commented on #247
Here is an updated list:

mutation_type	count(*)
Start_Codon_SNP	1
nonframeshift.deletion	1
vIII deletion	1
Exon skipping	1
exon14skip	1
Splice_Site_SNP	1
COMPLEX_INDEL	1
nonframeshift	1
Essential splice	2
ESSENTIAL_SPLICE_SITE	2
frameshift-deletion	2
frameshift_deletion	2
lincRNA	3
nonframeshift-deletion	4
Nonsense	4
Silent	5
Indel	6
frameshift	6
In frame INDEL	7
Splicing Site Mutation	8
NON_SYNO

[2018-06-28 21:00] jjgao commented on #114
Here is an update. @ritikakundra @yichaoS can you look into the first a few and see if they can be fixed? cc'ing @n1zea144

stad_tcga_pub_mutations	4190
sclc_cancercell_gardner_2017_mutations	3284
prad_fhcrc_mutations	981
prad_p1000_mutations	708
cll_iuopa_2015_mutations	516
blca_dfarber_mskcc_2014_mutations	471
sclc_ucologne_2015_mutations	420
nsclc_tcga_broad_2016_mutations	354
stes_tcga_pub_mut

[2018-06-29 16:32] ritikakundra commented on #197
@jjgao This is fixed

[2018-06-29 16:32] #197 closed

[2018-06-29 16:35] ritikakundra commented on #135
This has been fixed

[2018-06-29 16:35] #135 closed

[2018-07-03 18:33] jjgao opened #248 "checklist for a new study"
@ritikakundra do we have a checklist for a new study. Could you refine the list below?

- [ ] Does study name and study ID follow our convention? e.g. Tumor_Type (Institue, Journal Year); brca_mskcc_2015. For `mixed` studies, let's not use `mixed` and decide case by case.
- [ ] is study meta data complete? e.g. pmid, group of PUBLIC
- [ ] were all samples profiled with WES/WGS? If not, is gene pan

[2018-07-05 22:25] jjgao opened #250 "Prostate Neuroendocrine study is missing mRNA z-scores"
@schultzn commented on [Thu Jul 05 2018](https://github.com/cBioPortal/cbioportal/issues/4436)

The neuroendocrine prostate cancer study is missing the mRNA z-scores. RNA expression levels are there, you just can't query the data.
 http://www.cbioportal.org/study?id=nepc_wcm_2016

---

@schultzn commented on [Thu Jul 05 2018](https://github.com/cBioPortal/cbioportal/issues/4436#issuecomment-402826

[2018-07-05 22:36] jjgao opened #251 "list of studies with mRNA data but no z-score profiles"
Since we have a few studies missing z-score profiles (#250, #242), I did a query in the public data and find if we have more.

[code]

[code]

@ritikakundra @angelicaochoa : please look into the studies above.

@sheridancbio : maybe you could add this into the database validation code?

Note: this is not a complete list since we don't know if a study have z-score profiles for all of its expression

[2018-07-06 02:53] jjgao commented on #248
@ritikakundra if data does not exist, you can also check it off. The purpose of a checklist is to check one by one.

To utilize this checklist, one option would be creating a pull request per study with this checklist in the PR.

[2018-07-06 02:55] jjgao commented on #248
cc'ing @schultzn to see if he has anything to add.

[2018-07-06 02:59] ritikakundra commented on #248
@jjgao ok. Added a few more things

[2018-07-06 17:32] jjgao commented on #248
Thanks, @ritikakundra. Let's start to use this checklist when pushing out new studies?

[2018-07-06 18:33] ritikakundra commented on #248
@yichaoS @rmadupuri Our checklist for any dataset that goes public.

[2018-07-06 19:05] jjgao commented on #248
@ritikakundra @yichaoS @rnugraha let's also try to improve this checklist over time. For new studies, could you create a pull request per study and paste this checklist there? Thanks.

[2018-07-08 23:46] schultzn commented on #248
looks good to me!

[2018-07-09 21:00] jjgao opened #252 "oncotree_code issue for ampca_bcm_2016"
in the clinical data, it should be AMPCA instead of AMPAC

[2018-07-10 19:22] jjgao opened #255 "Mutation data curation issue"
I noticed there are many deletion/insertions annotated as missense mutations. For example:

http://www.cbioportal.org/case.do#/patient?studyId=brca_broad&caseId=BR-M-189

![image](https://user-images.githubusercontent.com/840895/42531382-d19c159e-8451-11e8-91ed-c9215ffeb253.png)

So I did some database query:

[code]

and found out there are 6922 mutation events with this problem.

[code]

For exa

[2018-07-11 19:35] schultzn opened #256 "Chapuy et al., Nature Medicine 24, 679–690 (2018)"
https://www.nature.com/articles/s41591-018-0016-8

Have not checked data availability yet

- [x] [create a issue on datahub](https://github.com/cBioPortal/datahub/issues/new) before curating a study (one issue per study) and copy this checklist to the issue tracker
- [x] List information of the dataset/paper in the issue, e.g. pmid, paper link, suppl file link
- [x] Document the curation process,

[2018-07-11 19:37] ritikakundra opened #257 "New Studies"
- [ ] 20399149 : Data Issue - Missing genomic data
- [ ] 20129251 : Data Issue - Missing genomic data
- [ ] 28825729 : Need to be curated - has multiple MAFs
- [x] 28985567 : Curated (For August Release)
- [ ] 28635960 : Paper is on somatic mutations in rheumatoid arthritis
- [ ] 28658208 : Data Issue - Missing data
- [ ] 28622513 : Data Issue - Missing genomic data
- [ ] 24920063 : Data Issue
- [

[2018-07-11 19:52] ritikakundra commented on #256
Does study name and study ID follow our convention? e.g. Tumor_Type (Institue, Journal Year); brca_mskcc_2015
  is study meta data complete? e.g. pmid, group of PUBLIC
  were all samples profiled with WES/WGS? If not, is gene panel file curated?
  are oncotree codes of all samples curated; Cancer Type and Cancer Type Detailed needs to be added in addition to Oncotree Code
  clinical sample and pat

[2018-07-11 21:41] schultzn opened #258 "Schmitz et al., N Engl J Med. 2018 Apr 12;378(15):1396-1407"
https://www.ncbi.nlm.nih.gov/pubmed/29641966

The dataset is on dbGAP (NCICCR: phs001444) and GDC (NCICCR-DLBCL)

- [ ] [create a issue on datahub](https://github.com/cBioPortal/datahub/issues/new) before curating a study (one issue per study) and copy this checklist to the issue tracker
- [ ] List information of the dataset/paper in the issue, e.g. pmid, paper link, suppl file link
- [ ] Document

[2018-07-12 15:54] jjgao opened #259 "public data curation workflow"
@ritikakundra I think we should have a documented workflow for curating public studies. Here is a rough draft. Please feel free to edit.

- [ ] [create a issue on datahub](https://github.com/cBioPortal/datahub/issues/new) before curating a study (one issue per study) and copy this checklist to the issue tracker
- [ ] List information of the dataset/paper in the issue, e.g. pmid, paper link, suppl

[2018-07-12 16:14] ritikakundra commented on #259
@jjgao I moved the checklist before pull request and also added MSK import.

[2018-07-13 00:46] jjgao commented on #257
@ritikakundra maybe we can break this list into issues per study? Maybe @rmadupuri can help?

[2018-07-13 00:47] #203 closed

[2018-07-16 17:59] jjgao opened #262 "incorrect gene symbol and entrez ID"
I came across one mutation that was annotated wrong.

In [this sample](http://www.cbioportal.org/case.do#/patient?studyId=nhl_bcgsc_2013&caseId=MD903), there is a mutation in H3F3A.

![image](https://user-images.githubusercontent.com/840895/42774470-cc82aa20-88ff-11e8-8f38-be71173a1977.png)

But the correct gene should be `PRSS38`: http://www.genomenexus.org/annotation/1:g.228003871G%3EA

The erro

[2018-07-16 19:08] #182 closed

[2018-07-16 20:48] jjgao opened #264 "oncotree_code inconsistency"
@jjgao commented on [Wed Jul 11 2018](https://github.com/cBioPortal/cbioportal/issues/4445)

Oncotree_code in the clinical data and our database are no longer up to date. We should migrate them to the latest version. CANCER_TYPE and CANCER_TYPE_DETAILED should also be update.

---

@ritikakundra commented on [Thu Jul 12 2018](https://github.com/cBioPortal/cbioportal/issues/4445#issuecomment-404506

[2018-07-17 18:37] schultzn opened #265 "Aggarwal et al., Small Cell Neuroendocrine Prostate Cancer, JCO 2018"
http://ascopubs.org/doi/suppl/10.1200/JCO.2017.77.6880

The supplemental tables have mutation data (contains copy-number calls, which have to be pulled out and converted) and expression levels.

[2018-07-17 18:54] schultzn commented on #265
Clinical data seems to be missing - will try to get that.

[2018-07-19 14:05] cheanney opened #268 "Help wanted!!"
Hi,

In the current master datahub/public directory, there are total of 51 studies.
But in the previous release, there were ~ 130 studies. I am wondering if more studies are going to add to the current datahub directory.

Thanks,

Anney

[2018-07-23 14:59] jjgao commented on #268
@cheanney, we are adding all public studies back to datahub. It'll take us some more time. Sorry for the convenience.

[2018-07-23 15:47] jjgao opened #272 "incorrect clinical annotation"
@khzhu commented on [Fri Jul 20 2018](https://github.com/cBioPortal/cbioportal/issues/4492)

the patient TCGA-BW-A5NP is from Liver Hepatocellular Carcinoma (TCGA, Provisional) study

We are using TCGA data for hepatocellular carcinoma from cBioportal. We noticed something seems strange regarding patient clinical data.
For patient TCGA-BW-A5NP, the overall survival is 0 while the disease free surv

[2018-07-26 13:42] jjgao opened #273 "Study archive download stalls"
@guv commented on [Wed Jul 25 2018](https://github.com/cBioPortal/cbioportal/issues/4513)

I tried to download the study archive for `hnsc_tcga_pan_can_atlas_2018` from the [download link](http://download.cbioportal.org/hnsc_tcga_pan_can_atlas_2018.tar.gz).
After 109/140 MB the download stalls and does not continue again.

---

@jjgao commented on [Wed Jul 25 2018](https://github.com/cBioPortal/cb

[2018-07-26 13:44] jjgao commented on #273
@n1zea144 @yichaoS I could reproduce it twice when downloading the same file above. Once stalled around 114mb and another 77MB. Would you please verify and investigate? We may need Joanne's help.

[2018-07-26 14:25] jjgao opened #274 "public data cleanup"
@jjgao commented on [Thu Aug 03 2017](https://github.com/cBioPortal/cbioportal/issues/2913)

I am using this to collect issues I found when using the portal. Please check after fixing them.

- [x] remove `CNA Data` and `MRNA Data` attribute from `prad_mskcc`
- [x] add gender "Male" to all prostate patients (are there female prostate patients?)

[2018-07-26 16:44] jjgao opened #275 "CCLE data mistake?"
@pieterlukasse commented on [Thu Jun 23 2016](https://github.com/cBioPortal/cbioportal/issues/1406)

The public study loaded at
http://www.cbioportal.org/study?id=cellline_ccle_broad#summary

seems to have a mistake in the clinical attribute data.
![image](https://cloud.githubusercontent.com/assets/2900303/16302960/3ca0a126-394e-11e6-826b-cc0c077df988.png)

The values in "Tumor type" seem to be sw

[2018-07-26 16:45] jjgao commented on #275
We should curate the oncotree_code for each cell line. Ideally we should also update the ccle data to the latest one.

[2018-07-26 17:05] jjgao opened #276 "Disease free plot flat for laml study"
@pieterlukasse commented on [Wed Oct 05 2016](https://github.com/cBioPortal/cbioportal/issues/1759)

see http://www.cbioportal.org/study?id=laml_tcga#summary

This seems to be due to the fact that Disease free status info is missing.

---

@pieterlukasse commented on [Wed Oct 05 2016](https://github.com/cBioPortal/cbioportal/issues/1759#issuecomment-251694807)

@zheins

---

@zheins commented on [

[2018-07-26 17:06] jjgao commented on #276
I think we should remove the DFS data for the study for now before we can update the data.

[2018-07-27 16:37] jjgao opened #277 "patient view isn't showing data from second sample"
@tmazor commented on [Thu May 18 2017](https://github.com/cBioPortal/cbioportal/issues/2457)

I pulled up all patients with multiple samples from the LGG Provisional TCGA and it appears that mutations & copy number calls from the second sample aren't being displayed
![image](https://cloud.githubusercontent.com/assets/10508276/26211589/cb666a2e-3bc0-11e7-9a58-fdb5a5b696a5.png)

There's a copy numbe

[2018-07-27 16:41] jjgao commented on #277
The 02 sample should be in the segment file.

http://www.cbioportal.org/case.do#/patient?navCaseIds=TCGA-DU-5870&studyId=lgg_tcga&sampleId=TCGA-DU-5870-02

Are we filtering out -02 in other data types?

[2018-07-27 16:59] jjgao opened #278 "possible issue with MutSig labels"
@tmazor commented on [Thu Jun 15 2017](https://github.com/cBioPortal/cbioportal/issues/2600)

In the TCGA Pancreatic Adenocarcinoma study, there are many mutations labeled as significant by MutSig that have only been identified in 1 sample. That strikes me as weird. It's the same in the non-beta version of cBioPortal so it's not a new thing. I have trouble believing that a gene can be significantl

[2018-07-27 17:00] jjgao commented on #278
@yichaoS would you please remove the mutsit from paad_tcga?

[2018-07-27 17:58] yichaoS commented on #278
@jjgao removed: https://github.com/cBioPortal/datahub/pull/279

[2018-07-30 17:11] jjgao commented on #278
@yichaoS thanks. Please reimport the study and close this issue.

[2018-07-31 22:34] ritikakundra commented on #179
This has been addressed. Download also skips CNA files.

[2018-07-31 22:34] #179 closed

[2018-08-01 17:23] jjgao opened #285 "cross-study files of mutations, cna, fusions"
[This is something I have in mind for a while. I think it'll make our data much more accessible for bioinformaticians. But it's not a prioritize and we should discuss this further.]

It would be useful for bioinformaticians to download all data. Right now, they have to download per study. It would ease the process by providing data per data type.

- All mutation data across studies in MAF
- All co

[2018-08-02 08:46] schultzn commented on #272
@n1zea144 Can you take a look at your code and see what possibly happened? Should this be NA instead of 0 for overall survival time?

[2018-08-02 15:31] priti88 opened #286 "cellline_ccle_broad study: Error in file data_mRNA_median_Zscores.txt"
Gene TTL if occurs twice in the file with different expression values.

User reported:
https://groups.google.com/forum/#!topic/cbioportal/2ar1ne0uvzA

[2018-08-04 13:25] jjgao commented on #104
@ritikakundra please see comments above. Can we move `mixed` under `other` in oncotree?

[2018-08-04 13:38] jjgao opened #287 "update CCLE dataset"
We have got permission from CCLE to update our data to their latest dataset.

- [ ] [create a issue on datahub](https://github.com/cBioPortal/datahub/issues/new) before curating a study (one issue per study) and copy this checklist to the issue tracker
- [ ] List information of the dataset/paper in the issue, e.g. pmid, paper link, suppl file link
- [ ] Document the curation process, e.g. how and

[2018-08-04 13:44] jjgao commented on #287
@pieterlukasse they also have drug profiling data. It may be useful for the feature you are developing.

[2018-08-04 13:55] jjgao commented on #287
- [ ] CCLE_DepMap_18q3_maf_20180718.txt -> data_mutations_extended.txt
- [ ] CCLE_DepMap_18q3_RNAseq_RPKM_20180718.gct -> meta_RNA_Seq_expression_median.txt & meta_RNA_Seq_mRNA_median_Zscores.txt
- [ ] CCLE_miRNA_20180525.gct -> data_expression_miRNA.txt
- [ ] CCLE_RRBS_TSS_1kb_20180614.txt -> data_methylation.txt (what file name should we use here?)
- [ ] CCLE_RPPA_20180123.csv -> data_rppa.txt
-

[2018-08-06 07:12] fedde-s commented on #51
What's the reason for closing this? Has it been fixed (as defined in this thread) by #3910?

[2018-08-06 07:15] fedde-s commented on #51
Ah, I see, that's a yes. @pieterlukasse said this:

[2018-08-06 21:20] jjgao opened #288 "questions about mRNA data in pancan studies"
@jjgao commented on [Mon Aug 06 2018](https://github.com/cBioPortal/cbioportal/issues/4591)

There are four mRNA profiles per study, e.g. for ACC below.

STABLE_ID | GENETIC_ALTERATION_TYPE | DATATYPE | NAME | DESCRIPTION | SHOW_PROFILE_IN_ANALYSIS_TAB
-- | -- | -- | -- | -- | --
acc_tcga_pan_can_atlas_2018_mrna | MRNA_EXPRESSION | CONTINUOUS | mRNA Expression from Illumina HiSeq_RNASeqV2 | mRNA E

[2018-08-06 21:39] ritikakundra commented on #288
Just to add: these are the files we currently have in the portal:
There were the following 4 files:
- data_expression_merged.txt (uses mRNA from HiSeq PanCan, batch-normalized)
- data_expression_merged_Zscores.txt (uses mRNA from HiSeq PanCan, batch-normalized)
- data_expression.txt (uses mRNA from HiSeq RNASeqV2, non PanCan normalized)
- data_expression_Zscores.txt (uses U133 microarray only)

We

[2018-08-06 21:43] jjgao commented on #288
Discussed with @yichaoS @ritikakundra and Fransisco. `acc_tcga_pan_can_atlas_2018_mrna` was the original rna_seq data file and `acc_tcga_pan_can_atlas_2018_rna_seq_v2_mrna_median` was the batch corrected one.

And also U133 naming is wrong.

[2018-08-06 21:58] jjgao commented on #288
- [ ] remove `acc_tcga_pan_can_atlas_2018_mrna` / `data_expression.txt` (@schultzn please comment if you'd like to keep the non-batch-corrected version or both.)
- [ ] rename file `data_expression_merged.txt` to `data_RNA_Seq_v2_expression_median.txt`; change the ID to `rna_seq_v2_mrna`.
- [ ] rename file `data_expression_merged_Zscores.txt` to `data_RNA_Seq_v2_mRNA_median_Zscores.txt`; change the

[2018-08-06 21:59] jjgao commented on #288
@yichaoS @ritikakundra I created a checklist above. Please feel free to add new items. Maybe @angelicaochoa can help regenerate the files?

[2018-08-07 10:47] pieterlukasse commented on #287
@sandertan do we have scripts that can help with parsing the new CCLE data?

[2018-08-07 19:50] jjgao commented on #288
It looks like there was no microarray data at all. `data_expression_Zscores.txt` was generated from `data_expression.txt`, we both will be removed. The checklist has been updated.

[2018-08-07 21:27] jjgao opened #289 "Quigley et al, Cell 2018. Genomic Hallmarks and Structural Variation in Metastatic Prostate Cancer."
Paper: https://www.ncbi.nlm.nih.gov/pubmed/30033370

- [ ] [create a issue on datahub](https://github.com/cBioPortal/datahub/issues/new) before curating a study (one issue per study) and copy this checklist to the issue tracker
- [ ] List information of the dataset/paper in the issue, e.g. pmid, paper link, suppl file link
- [ ] Document the curation process, e.g. how and by whom the data was tran

[2018-08-07 22:39] yichaoS commented on #286
@priti88 Among the duplicates, we removed the second entry.  The data would be updated in portal and for download tomorrow.

[2018-08-08 07:10] sandertan commented on #287
@pieterlukasse No, only to parse the old CCLE data.

[2018-08-08 16:31] rmadupuri opened #291 "Reddy et al., Diffuse Large B Cell Lymphoma, Cell 2017 (SEPTEMBER RELEASE)"
Please keep this checklist for curation of a new study.

- [x] [create a issue on datahub](https://github.com/cBioPortal/datahub/issues/new) before curating a study (one issue per study) and copy this checklist to the issue tracker
- [x] List information of the dataset/paper in the issue, e.g. pmid, paper link, suppl file link
- [x] Document the curation process, e.g. how and by whom the data was

[2018-08-08 16:36] rmadupuri commented on #291
Study identifier: dlbcl_duke_2017
PMID: 28985567

- [ ] Does study name and study ID follow our convention? e.g. Tumor_Type (Institue, Journal Year); brca_mskcc_2015
- [ ] Is study meta data complete? e.g. pmid, group of PUBLIC
- [ ] Were all samples profiled with WES/WGS? If not, is gene panel file curated?
- [ ] Are oncotree codes of all samples curated; Cancer Type and Cancer Type Detailed need

[2018-08-08 16:39] rmadupuri opened #292 "Landau et al., Chronic Lymphocytic Leukemia, Nature 2015"
Please keep this checklist for curation of a new study.

- [x] [create a issue on datahub](https://github.com/cBioPortal/datahub/issues/new) before curating a study (one issue per study) and copy this checklist to the issue tracker
- [x] List information of the dataset/paper in the issue, e.g. pmid, paper link, suppl file link
- [ ] Document the curation process, e.g. how and by whom the data was

[2018-08-08 16:39] rmadupuri opened #293 "E. Chun et al., Malignant Rhabdoid Tumors, Cancer Cell 2016 (SEPTEMBER RELEASE)"
Please keep this checklist for curation of a new study.

- [x] [create a issue on datahub](https://github.com/cBioPortal/datahub/issues/new) before curating a study (one issue per study) and copy this checklist to the issue tracker
- [x] List information of the dataset/paper in the issue, e.g. pmid, paper link, suppl file link
- [x] Document the curation process, e.g. how and by whom the data was

[2018-08-08 16:45] rmadupuri commented on #292
Study identifier: cll_broad_2015
PMID: 26466571

- [ ] Does study name and study ID follow our convention? e.g. Tumor_Type (Institue, Journal Year); brca_mskcc_2015
- [ ] Is study meta data complete? e.g. pmid, group of PUBLIC
- [ ] Were all samples profiled with WES/WGS? If not, is gene panel file curated?
- [ ] Are oncotree codes of all samples curated; Cancer Type and Cancer Type Detailed needs

[2018-08-08 17:02] rmadupuri commented on #293
Study identifier: mrt_bcgsc_2016
PMID: 26977886

- [ ] Does study name and study ID follow our convention? e.g. Tumor_Type (Institue, Journal Year); brca_mskcc_2015
- [ ] Is study meta data complete? e.g. pmid, group of PUBLIC
- [ ] Were all samples profiled with WES/WGS? If not, is gene panel file curated?
- [ ] Are oncotree codes of all samples curated; Cancer Type and Cancer Type Detailed needs

[2018-08-08 17:11] ritikakundra commented on #289
Liftover for the MAF will be required. This is hg38 build.

[2018-08-08 21:47] jjgao commented on #287
thanks, @sandertan. Agreed. We should document data processing steps and ideally link link them in the profile description.

[2018-08-08 21:49] jjgao commented on #289
@ritikakundra could you reply to the email and ask them if they have hg19 mutation data?

[2018-08-09 12:35] sandertan opened #294 "Clinical data in PanCan TCGA"
I was wondering if there are plans to expand the clinical data in the PanCan TCGA studies with data that is present in the Provisional TCGA data. For example, the Provisional TCGA BRCA has 140 clinical columns, while PanCan TCGA BRCA has 81. Columns that would be nice to have in BRCA PanCan are HER, ER and PR status.

Are many of the columns from Provisional missing in PanCan because of the differ

[2018-08-09 14:23] nanauat commented on #294
I am not aware of any such plans, although it may be a good thing to do in a well-planned manner.  My understanding is that somebody created a huge clinical file for PanCanAtlas by basically collating individual clinical files (I believe that this is the final file made available at the GDC and containing 746 columns: http://api.gdc.cancer.gov/data/0fc78496-818b-4896-bd83-52db1f533c5c ).  Since th

[2018-08-09 16:18] yichaoS commented on #286
@priti88 @ritikakundra  The data is updated now. We removed the second duplicate entry and now the data is in sync with what's shown in the portal.

[2018-08-09 16:19] #286 closed

[2018-08-09 16:34] rmadupuri opened #295 "Tan J et al., Breast Fibroepithelial Tumors, Nat Genet 2015 (SEPTEMBER RELEASE)"
Please keep this checklist for curation of a new study.

- [x] [create a issue on datahub](https://github.com/cBioPortal/datahub/issues/new) before curating a study (one issue per study) and copy this checklist to the issue tracker
- [x] List information of the dataset/paper in the issue, e.g. pmid, paper link, suppl file link
- [x] Document the curation process, e.g. how and by whom the data was

[2018-08-09 16:40] rmadupuri commented on #295
Study identifier: bfn_duke_nus_2015
PMID: 26437033
[](https://www.nature.com/articles/ng.3409)

- [ ] Does study name and study ID follow our convention? e.g. Tumor_Type (Institue, Journal Year); brca_mskcc_2015
- [ ] Is study meta data complete? e.g. pmid, group of PUBLIC
- [ ] Were all samples profiled with WES/WGS? If not, is gene panel file curated?
- [ ] Are oncotree codes of all samples cura

[2018-08-10 21:43] jjgao opened #301 "patient survival status discrepancies"
@tmazor commented on [Mon Dec 11 2017](https://github.com/cBioPortal/cbioportal/issues/3555)

I queried all published TCGA studies. There are two clinical attributes relating to survival: "Patient's Vital Status" and "Overall Survival Status". 78 patients (spanning 3 studies) that are alive according to "Patient's Vital Status" are deceased according to "Overall Survival Status":

![image](https:/

[2018-08-10 21:48] jjgao opened #302 "non-MAF variant classification values"
@sandertan commented on [Mon Sep 04 2017](https://github.com/cBioPortal/cbioportal/issues/3068)

It is unclear which values for variant classifications are allowed in cBioPortal. According to the current documentation cBioPortal follows the MAF-format, but in the code other classifications are also allowed, such as here:
https://github.com/cBioPortal/cbioportal/blob/master/portal/src/main/webapp/j

[2018-08-13 18:40] jjgao opened #303 "DGSC cell line data"
DGSC has contacted us to incorporate their data (re: Uploading public data - Sanger Institute Cancer Cell Line data). Let's follow up on that.

Data: https://www.cancerrxgene.org/downloads
Paper: https://www.cell.com/fulltext/S0092-8674(16)30746-2

- [x] [create a issue on datahub](https://github.com/cBioPortal/datahub/issues/new) before curating a study (one issue per study) and copy this checkli

[2018-08-13 22:24] jjgao opened #304 "Possible discrepancy (mutation counts) between web portal and downloaded dataset"
from a user, https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/cbioportal/QDiToX2ytPg/9UQY8DBLDwAJ

I am seeing a discrepancy in the number of mutations in several genes between using the web portal versus downloading the dataset and looking at the "data_mutsig" file.

For example (pictures attached), in the Breast Invasive Carcinoma data (BRCA provisional), the SRSF1 gene (

[2018-08-14 10:44] sandertan opened #305 "caselists -> case_lists"
https://github.com/cBioPortal/datahub/tree/master/public/brca_mbcproject_wagle_2017

The dir `caselists` should be named `case_lists`. I found it in `brca_mbcproject_wagle_2017` but perhaps there are other studies which have the same format error.

When I have time I'll add additional validations for case lists, such as the _sequenced must be present when there's mutation data.

[2018-08-14 18:00] jjgao opened #307 "two mutation profiles in egc_msk_2017"
@ritikakundra just to keep track. Let's either remove the `uncalled` profile or merge it to the main mutaiton profile soon.

![image](https://user-images.githubusercontent.com/840895/44109119-393197c2-9fca-11e8-8e8f-f403ee6ae0cd.png)

[2018-08-14 18:53] jjgao opened #308 "samples with mutations but not in sequenced case list"
There are samples with mutations but are not included in the sequenced case list.

Here is the SQL:

[code]

updated list (8/14/2018)

9 studies:
[code]

sample_id | stable_id | cancer_study_identifier
-- | -- | --
531806 | TARGET-10-PANCVR-03 | all_phase2_target_2018_pub
531815 | TARGET-10-PANDWE-03 | all_phase2_target_2018_pub
531820 | TARGET-10-PANGIF-09 | all_phase2_target_2018_pub
531822 | TA

[2018-08-15 00:16] yichaoS opened #309 "Need to liftover public studies with hg18 segment files"
to be lift over to hg 19

- [x] cellline_nci60
- [x] prad_mich
- [x] prad_broad
- [x] prad_mskcc
- [x] sarc_mskcc

*sarc_mskcc seg is currently removed, need to add back ASAP
![screen shot 2018-08-15 at 7 01 34 pm](https://user-images.githubusercontent.com/5973438/44177851-aefed700-a0bd-11e8-8d83-e968e8f40b4c.png)

[2018-08-15 00:19] yichaoS opened #310 "egc_tmucih_2015 HIST_GRADE values in dates format"
In clinical sample data, some of the values in 'GRADE' column got converted to dates
![screen shot 2018-08-14 at 8 16 36 pm](https://user-images.githubusercontent.com/5973438/44125187-242fc846-9fff-11e8-8808-ad985709fe20.png)

Those entries got currently removed from datahub/importing.
The values was in dates format in the original paper supplemental files
http://www.pnas.org/content/112/4/1107/ta

[2018-08-15 00:23] yichaoS opened #311 "blca_mskcc_solit_2012 CNA and segment data issue"
currently CNA and segment data are removed from blca_mskcc_solit_2012

data_CNA.txt missing sample_ID
![screen shot 2018-08-14 at 8 21 16 pm](https://user-images.githubusercontent.com/5973438/44125300-be5a33ca-9fff-11e8-83fb-6790a046ea99.png)

seg file coordinates beyond end of chromosome
![screen shot 2018-08-14 at 8 20 17 pm](https://user-images.githubusercontent.com/5973438/44125304-c15033a4-9f

[2018-08-15 00:47] yichaoS opened #312 "ov_tcga_pub data issue"
ov_tcga_pub is currently missing from DH master branch due to:
 - Need to merge the negative entrez gene IDs back to the data_CNA, but hugo gene symbol missing in data_CNA
 - circle ci exception (see screenshot) due to embedded folder 'archived_files'
![screen shot 2018-08-17 at 5 18 13 pm](https://user-images.githubusercontent.com/5973438/44289294-8a336c80-a241-11e8-8aed-e54bb7eab5f6.png)

This i

[2018-08-15 22:37] yichaoS opened #313 "ccrcc_irc_2014 clinical data got converted into dates"
![screen shot 2018-08-15 at 6 36 55 pm](https://user-images.githubusercontent.com/5973438/44177050-3ba79600-a0ba-11e8-97d9-e6954cc69268.png)

[2018-08-15 22:53] yichaoS opened #314 "prad_broad_2013 seg data issue"
![screen shot 2018-08-15 at 6 52 27 pm](https://user-images.githubusercontent.com/5973438/44177558-6f83bb00-a0bc-11e8-844a-bd62305589cd.png)

[2018-08-15 22:56] yichaoS opened #315 "Gene symbol starts w/ numbers"
e.g. in prad_broad_2013
![screen shot 2018-08-15 at 6 54 09 pm](https://user-images.githubusercontent.com/5973438/44177634-c9848080-a0bc-11e8-807b-1075f6b1bfd6.png)

e.g. in prad_su2c_2015
![screen shot 2018-08-15 at 6 57 05 pm](https://user-images.githubusercontent.com/5973438/44177725-16685700-a0bd-11e8-94ab-27ba8224bf0a.png)

* affected files is currently removed from DH. Need to fix and add th

[2018-08-16 10:27] sandertan opened #316 "msk_impact_2017 cancer types"
Hi @yichaoS and @ritikakundra , I was wondering if you could add `ONCOTREE_CODE`, `CANCER_TYPE` and `CANCER_TYPE_DETAILED` to the `msk_impact_2017`. These are available on cbioportal.org but not in the data here.

Also, could you make the following columns a NUMBER instead of STRING in `msk_impact_2017/data_clinical_sample.txt`? I think this will benefit the cbioportal.org version as well.
- DNA_I

[2018-08-16 12:58] sandertan commented on #315
Wow that's a lot of symbols that start with a number. In the current seed, there are only 8 official symbols that have a symbol as first character, but lots of aliases.

If they're not in the database, they can't not imported. Shall I make this a warning and inform the user these genes are skipped?

Or do you intend adding the right symbols to these genes?

[2018-08-16 13:00] sandertan commented on #314
This looks more like hg19 data. Can you verify that hg18 is correct?

[2018-08-16 13:02] sandertan commented on #315
3 lines above the error it states that 20383 genes are not loaded. That sounds also quite serious.

[2018-08-16 15:32] pieterlukasse commented on #294
@nanauat the PR, HER, ER status related fields and more are available in the sheet you shared. Thanks.

![image](https://user-images.githubusercontent.com/2900303/44218155-5f7de100-a179-11e8-81a6-da1b259e8c03.png)

@n1zea144 is there something like a "pancan 2 cbio staging files" pipeline and can you adjust this to include these fields?

[2018-08-17 02:39] jjgao opened #317 "TCGA pancancer atlas studies have swapped short names"
@adamabeshouse commented on [Thu Aug 16 2018](https://github.com/cBioPortal/cbioportal/issues/4656)

Colon Adenocarcinoma and Cholangiocarcinoma have swapped short names.

Worth a check if others do too

[2018-08-17 02:39] jjgao commented on #317
@yichaoS @ritikakundra please prioritize. Thanks.

[2018-08-17 21:21] yichaoS opened #318 "thca_tcga_pub, nsclc_tcga_broad_2016 validator exceptions"
These two studies are currently missing from DH master branch due to:
![image](https://user-images.githubusercontent.com/5973438/44289372-dd0d2400-a241-11e8-8a78-02dd2e762d82.png)

Quote from @fedde-s slack:
I can't answer the question, but it looks like something that should, at least partially, be fixed in the validation script—even if it is invalid data, that should cause the validator to outpu

[2018-08-21 01:52] jjgao opened #321 "calls to oncokb fail for CDKN2A-isoform gene names"
@tmazor commented on [Mon Aug 20 2018](https://github.com/cBioPortal/cbioportal/issues/4672)

If I query for CDKN2A isoform gene names (CDKN2AP14ARF and CDKN2AP16INK4A), the OncoKB annotations don't load -- see below, where the same mutations are called drivers in the CDKN2A track but passengers in the isoform tracks. The mutations table also fails to load OncoKB annotations.

![image](https://use

[2018-08-21 02:01] jjgao commented on #321
@yichaoS @ritikakundra please remove data that are associated with `CDKN2AP14AF` and `CDKN2AP16INK4A`. Please make sure the `CDKN2A` was used.

- [ ] odg_msk_2017
- [ ] lung_msk_2017
- [ ] prad_mskcc_2017
- [ ] hnc_mskcc_2016
- [ ] thyroid_mskcc_2016
- [ ] msk_impact_2017
- [ ] crc_msk_2018
- [ ] summit_2018
- [ ] nsclc_pd1_msk_2018
- [ ] egc_msk_2017
- [ ] blca_nmibc_2017

[2018-08-21 13:22] sandertan opened #322 "Run validator on all studies weekly using circleCI"
@pieterlukasse :

This is useful because the validator will be updated regularly, which could lead that some studies that first passed validation and are merged to `master`, would now fail. Therefore it would be nice to check all studies in `master` regularly.

It would then be nice to display a list of all studies on datahub in the README, with a badge next to them how they validate (green, yello

[2018-08-21 13:35] sandertan commented on #309
How are you doing this? Are you using https://github.com/baudisgroup/segment-liftover ?

[2018-08-21 14:39] yichaoS commented on #309
We are using http://hgdownload.cse.ucsc.edu/admin/exe/

[2018-08-21 14:42] yichaoS commented on #309
From JJ: I made a fake segment file as attached so that we can view the segments in IGV. I am surprised that most of them are focal changes. The only large region is around chr1 centromere.
![image](https://user-images.githubusercontent.com/5973438/44408684-de369d80-a52e-11e8-86ab-523f292b182c.png)

[2018-08-21 17:48] jjgao commented on #309
@yichaoS https://github.com/baudisgroup/segment-liftover seems like a good one to try out for segment data. Could you give it a try?

[2018-08-22 10:44] sandertan commented on #318
Fix for this crash in https://github.com/cBioPortal/cbioportal/pull/4691

While looking at the issue in the code, I also found the format issue in the data. It seems one rows has been split over 2 lines.

![screen shot 2018-08-22 at 11 25 57](https://user-images.githubusercontent.com/9624990/44459118-b451a980-a608-11e8-96f9-ad2d8f986286.png)
![screen shot 2018-08-22 at 12 38 40](https://user-image

[2018-08-22 13:17] n1zea144 commented on #294
Hi @pieterlukasse We don't have a pancan pipeline.  As far as I know, all the data for cBioPortal was put together in an adhoc manner.  I would have imagined that most of the clinical annotation for PanCanAtlas would have just taken what was collection by the biospecimen core resource (maybe with the exception of genomic based annotations like receptor status, but did you notice in the file @nanau

[2018-08-22 13:51] pieterlukasse commented on #294
@n1zea144 thanks for the update. The file referenced by @nanauat actually looks quite complete, at least for the test we did: we were able to find 116 triple negative samples in it for BRCA, which is the same number of samples if we query the provisional TCGA BRCA study.

[2018-08-22 19:44] yichaoS commented on #307
@ritika I saw them imported to public and msk. closing the issue now.

[2018-08-22 19:44] #307 closed

[2018-08-22 19:45] yichaoS commented on #305
Solved in https://github.com/cBioPortal/datahub/pull/263

[2018-08-22 19:45] #305 closed

[2018-08-22 20:07] yichaoS opened #327 "nsclc_tcga_broad_2016 data issue"
Study is currently in PR: https://github.com/cBioPortal/datahub/pull/328
Detailed validation report here: https://498-63335718-gh.circle-artifacts.com/0/test-reports/ERRORS/nsclc_tcga_broad_2016-validation.html

To fix
- [x] data_fusions columns missing
- [ ] MAF has duplicate columns
- [ ] duplicate sample IDs in case list files (due to inconsistency in genomic files and clinical files), e.g. TCG

[2018-08-22 21:09] ritikakundra commented on #317
@jjgao Fixed in Datahub, will reimport

[2018-08-27 14:54] sandertan commented on #294
I wrote a parser to extract all rows per study, and drop the columns that only contain empty values. Columns with [Not Available] and [Not Applicable] are kept.

This way you end up with the following number of (rows , columns):

Shape of input file: (10956, 746)

| Study | PanCan file | Current    |
|-------|-------------|------------|
| ACC   | (92, 85)    | (92, 30)   |
| BLCA  | (412, 88)   |

[2018-08-27 16:06] fedde-s commented on #322
An alternative would be to start have the `master` branch start from scratch with every major release (=breakage of backwards compatibility) of the validation/loading pipeline, ensuring that only data sets that can actually be loaded enter the `master` branch.

[2018-08-27 16:09] fedde-s commented on #322
I think that changes to the pipeline that potentially break compatibility with all existing transformation code should probably be considered a big deal, and not happen every few months.

[2018-08-27 16:11] fedde-s commented on #322
But if we want to keep studies that can't be loaded in the `master` branch (is there an issue report about that yet?), such a badge sounds useful.

[2018-08-28 08:28] pieterlukasse commented on #322
Perhaps datahub needs its own releases, each with a README stating which cBioPortal version can be used to load the files in this release.

[2018-08-28 09:38] fedde-s commented on #322
In that case, instead of weekly, the CI scripts would have to run whenever the cBioPortal release listed in both the README and the Travis config changes?

[2018-08-28 10:16] sandertan commented on #294
From https://docs.gdc.cancer.gov/Data_Dictionary/viewer/#?view=table-definition-view&id=demographic a JSON file can be retrieved with the terms, pretty names and descriptions.

For example:
[code]

It should be easy to get those in the cBioPortal clinical metadata-header format.

[2018-08-29 18:26] #317 closed

[2018-08-29 21:50] schultzn commented on #257
Reviving this one - would be nice to have these as separate issues with the full citation in the title.

[2018-08-31 19:35] rmadupuri opened #333 "Fishbein et al., Comprehensive Molecular Characterization of Pheochromocytoma and Paraganglioma, Cancer Cell 2017"
Please keep this checklist for curation of a new study.

- [x] [create a issue on datahub](https://github.com/cBioPortal/datahub/issues/new) before curating a study (one issue per study) and copy this checklist to the issue tracker
- [ ] List information of the dataset/paper in the issue, e.g. pmid, paper link, suppl file link
- [ ] Document the curation process, e.g. how and by whom the data was

[2018-08-31 19:37] rmadupuri commented on #333
Study identifier: bfn_duke_nus_2015
PMID: [28162975](https://www.ncbi.nlm.nih.gov/pubmed/?term=28162975)

- [ ] Does study name and study ID follow our convention? e.g. Tumor_Type (Institue, Journal Year); brca_mskcc_2015
- [ ] Is study meta data complete? e.g. pmid, group of PUBLIC
- [ ] Were all samples profiled with WES/WGS? If not, is gene panel file curated?
- [ ] Are oncotree codes of all sa

[2018-08-31 19:43] rmadupuri opened #334 "Shanshan et al., Mutational landscape of intrahepatic cholangiocarcinoma, Nat Commun 2014"
Please keep this checklist for curation of a new study.

- [x] [create a issue on datahub](https://github.com/cBioPortal/datahub/issues/new) before curating a study (one issue per study) and copy this checklist to the issue tracker
- [ ] List information of the dataset/paper in the issue, e.g. pmid, paper link, suppl file link
- [ ] Document the curation process, e.g. how and by whom the data was

[2018-08-31 19:44] rmadupuri commented on #334
PMID: [25526346](https://www.ncbi.nlm.nih.gov/pubmed/?term=25526346)

- [ ] Does study name and study ID follow our convention? e.g. Tumor_Type (Institue, Journal Year); brca_mskcc_2015
- [ ] Is study meta data complete? e.g. pmid, group of PUBLIC
- [ ] Were all samples profiled with WES/WGS? If not, is gene panel file curated?
- [ ] Are oncotree codes of all samples curated; Cancer Type and Cance

[2018-08-31 19:49] rmadupuri opened #335 "Bonilla et al., Genomic analysis identifies new drivers and progression pathways in skin basal cell carcinoma, Nature Genetics 2016"
Please keep this checklist for curation of a new study.

- [x] [create a issue on datahub](https://github.com/cBioPortal/datahub/issues/new) before curating a study (one issue per study) and copy this checklist to the issue tracker
- [ ] List information of the dataset/paper in the issue, e.g. pmid, paper link, suppl file link
- [ ] Document the curation process, e.g. how and by whom the data was

[2018-08-31 19:50] rmadupuri commented on #335
PMID: [26950094](https://www.ncbi.nlm.nih.gov/pubmed/?term=26950094)

- [ ] Does study name and study ID follow our convention? e.g. Tumor_Type (Institue, Journal Year); brca_mskcc_2015
- [ ] Is study meta data complete? e.g. pmid, group of PUBLIC
- [ ] Were all samples profiled with WES/WGS? If not, is gene panel file curated?
- [ ] Are oncotree codes of all samples curated; Cancer Type and Cance

[2018-08-31 19:58] rmadupuri opened #336 "Guda et al., Novel recurrently mutated genes in African American colon cancers, PNAS 2015"
Please keep this checklist for curation of a new study.

- [x] [create a issue on datahub](https://github.com/cBioPortal/datahub/issues/new) before curating a study (one issue per study) and copy this checklist to the issue tracker
- [x] List information of the dataset/paper in the issue, e.g. pmid, paper link, suppl file link
- [x] Document the curation process, e.g. how and by whom the data was

[2018-08-31 19:58] rmadupuri commented on #336
PMID: [25583493](https://www.ncbi.nlm.nih.gov/pubmed/?term=25583493)

- [ ] Does study name and study ID follow our convention? e.g. Tumor_Type (Institue, Journal Year); brca_mskcc_2015
- [ ] Is study meta data complete? e.g. pmid, group of PUBLIC
- [ ] Were all samples profiled with WES/WGS? If not, is gene panel file curated?
- [ ] Are oncotree codes of all samples curated; Cancer Type and Cance

[2018-08-31 20:02] rmadupuri opened #337 "Welch et al., TP53 and Decitabine in Acute Myeloid Leukemia and Myelodysplastic Syndromes, NEJM 2016"
Please keep this checklist for curation of a new study.

- [x] [create a issue on datahub](https://github.com/cBioPortal/datahub/issues/new) before curating a study (one issue per study) and copy this checklist to the issue tracker
- [x] List information of the dataset/paper in the issue, e.g. pmid, paper link, suppl file link
- [x] Document the curation process, e.g. how and by whom the data was

[2018-08-31 20:16] rmadupuri commented on #337
PMID: [27959731](https://www.ncbi.nlm.nih.gov/pubmed/?term=27959731)

- [ ] Does study name and study ID follow our convention? e.g. Tumor_Type (Institue, Journal Year); brca_mskcc_2015
- [ ] Is study meta data complete? e.g. pmid, group of PUBLIC
- [ ] Were all samples profiled with WES/WGS? If not, is gene panel file curated?
- [ ] Are oncotree codes of all samples curated; Cancer Type and Cance

[2018-08-31 20:23] rmadupuri opened #338 "Johansson et al., Deep sequencing of uveal melanoma identifies a recurrent mutation in PLCB4, Oncotarget 2016"
Please keep this checklist for curation of a new study.

- [x] [create a issue on datahub](https://github.com/cBioPortal/datahub/issues/new) before curating a study (one issue per study) and copy this checklist to the issue tracker
- [x] List information of the dataset/paper in the issue, e.g. pmid, paper link, suppl file link
- [x] Document the curation process, e.g. how and by whom the data was

[2018-09-05 15:16] sandertan commented on #322
The enhancement this issue originally was about, is merged in https://github.com/cBioPortal/datahub/pull/341.

[2018-09-05 15:16] #322 closed

[2018-09-05 21:13] rmadupuri opened #343 "Upper tract urothelial: Alex Sigaras study"
Please keep this checklist for curation of a new study.

- [x] [create a issue on datahub](https://github.com/cBioPortal/datahub/issues/new) before curating a study (one issue per study) and copy this checklist to the issue tracker
- [x] List information of the dataset/paper in the issue, e.g. pmid, paper link, suppl file link
- [ ] Document the curation process, e.g. how and by whom the data was

[2018-09-05 21:14] rmadupuri commented on #343
PMID: [27749842](https://www.ncbi.nlm.nih.gov/pubmed/?term=27749842)

- [ ] Does study name and study ID follow our convention? e.g. Tumor_Type (Institue, Journal Year); brca_mskcc_2015
- [ ] Is study meta data complete? e.g. pmid, group of PUBLIC
- [ ] Were all samples profiled with WES/WGS? If not, is gene panel file curated?
- [ ] Are oncotree codes of all samples curated; Cancer Type and Cance

[2018-09-05 22:26] jjgao commented on #257
@rmadupuri thanks for creating the separate issues.

[2018-09-06 16:59] rmadupuri opened #344 "Le Gallo et al., Somatic mutation profiles of clear cell endometrial tumors revealed by whole exome and targeted gene sequencing, Cancer 2017 (SEPTEMBER RELEASE)"
Please keep this checklist for curation of a new study.

- [x] [create a issue on datahub](https://github.com/cBioPortal/datahub/issues/new) before curating a study (one issue per study) and copy this checklist to the issue tracker
- [x] List information of the dataset/paper in the issue, e.g. pmid, paper link, suppl file link
- [x] Document the curation process, e.g. how and by whom the data was

[2018-09-06 16:59] rmadupuri commented on #344
PMID: [28485815](https://www.ncbi.nlm.nih.gov/pubmed/?term=28485815)

- [ ] Does study name and study ID follow our convention? e.g. Tumor_Type (Institue, Journal Year); brca_mskcc_2015
- [ ] Is study meta data complete? e.g. pmid, group of PUBLIC
- [ ] Were all samples profiled with WES/WGS? If not, is gene panel file curated?
- [ ] Are oncotree codes of all samples curated; Cancer Type and Cance

[2018-09-06 19:32] jjgao commented on #264
@ritikakundra I just queried the public database:

[code]

and found 13 studies with outdated oncotree codes in their clinical data:

cancer_study_identifier | group_concat(distinct attr_value)
-- | --
all_stjude_2013 | BALL
all_stjude_2015 | BALL,ALL,LEUK,TALL
all_stjude_2016 | ALL
ampca_bcm_2016 | AMPAC
cellline_nci60 | LEUK
ctcl_columbia_2015 | SEZS,CTCL
dlbc_broad_2012 | DLBCL
dlbc_tcga | DLBC

[2018-09-06 20:02] jjgao commented on #264
And here are the samples without `oncotree_code`:

cancer_study_identifier | sample_ids
-- | --
brca_tcga_pub | TCGA-A2-A0CK-01,TCGA-A2-A0CO-01,TCGA-A2-A0CR-01,TCGA-A2-A3KC-01,TCGA-A2-A3KD-01,TCGA-A7-A13H-01,TCGA-A7-A2KD-01,TCGA-A7-A3IY-01,TCGA-A7-A3IZ-01,TCGA-A7-A3J0-01,TCGA-A7-A3J1-01,TCGA-A7-A3RF-01,TCGA-AC-A23G-01,TCGA-AC-A2BK-01,TCGA-AC-A2BM-01,TCGA-AC-A2FE-01,TCGA-AC-A2FK-01,TCGA-AC-A2FM-01,

[2018-09-07 19:06] rmadupuri opened #347 "Han et al., Mutational signatures and chromosome alteration profiles of squamous cell carcinomas of the vulva, Exp Mol Med 2018"
Please keep this checklist for curation of a new study.

- [x] [create a issue on datahub](https://github.com/cBioPortal/datahub/issues/new) before curating a study (one issue per study) and copy this checklist to the issue tracker
- [x] List information of the dataset/paper in the issue, e.g. pmid, paper link, suppl file link
- [x] Document the curation process, e.g. how and by whom the data was

[2018-09-07 19:06] rmadupuri commented on #347
PMID: [29422544](https://www.nature.com/articles/emm2017265)

- [ ] Does study name and study ID follow our convention? e.g. Tumor_Type (Institue, Journal Year); brca_mskcc_2015
- [ ] Is study meta data complete? e.g. pmid, group of PUBLIC
- [ ] Were all samples profiled with WES/WGS? If not, is gene panel file curated?
- [ ] Are oncotree codes of all samples curated; Cancer Type and Cancer Type D

[2018-09-08 23:30] schultzn opened #348 "nsclc_tcga_broad_2016 study is missing from cbioportal.org"
The nsclc_tcga_broad_2016 study is no longer visible in the public portal.

See this user report:
https://groups.google.com/forum/#!topic/cbioportal/2IIJeIoUYWU

[2018-09-10 15:03] yichaoS commented on #348
@schultzn this might due to a fix from Ino and Ersin last week for multiple mutation_count records for the same sample id. Some studies needs to be completely removed first and then reimport. Trying to arrange an import of that study now.

[2018-09-10 19:10] schultzn commented on #348
Thanks. Are other studies affected too?

[2018-09-10 19:48] yichaoS commented on #348
@schultzn nsclc_tcga_broad_2016 is back thanks for @n1zea144 help. The other studies I just checked were all private studies and were not affected.

[2018-09-10 19:52] jjgao opened #350 "automatic detection of missing studies on datahub"
@yichaoS @n1zea144 now that we have all studies in datahub again (do we?), it would be great if we can automatically detect when a study is missing in datahub.

[2018-09-10 19:53] jjgao commented on #348
@yichaoS Thanks. It would be great if we can detect missing studies automatically. https://github.com/cBioPortal/datahub/issues/350

[2018-09-10 19:53] #348 closed

[2018-09-10 19:54] yichaoS commented on #350
@jjgao We (almost) have all the studies in. The progress can be tracked here: https://github.com/cBioPortal/datahub/pull/263. We can add in the tracking piece into the weekly circle ci test maybe?

[2018-09-11 09:29] sandertan commented on #316
Thanks @yichaoS and @rmadupuri for the update!

[2018-09-13 13:58] schultzn commented on #256
@rmadupuri Can you please prioritize this study? Thanks!

[2018-09-18 20:41] yichaoS opened #356 "Track remaining public studies (to be added)"
Studies left to be added after this PR merged (checked items means "merged")
- [x] cll_iuopa_2015 https://github.com/cBioPortal/datahub/pull/355 (ready)
- [x] gbm_tcga_pub2013 https://github.com/cBioPortal/datahub/pull/357 (ready)
- [x] ucec_msk_2018 https://github.com/cBioPortal/datahub/pull/362 (ready)
- [x] hnc_mskcc_2016 https://github.com/cBioPortal/datahub/pull/360 (ready)
- [x] breast_msk_2

[2018-09-19 11:11] sandertan opened #361 "Labeling of metastatic samples in TCGA Provisional"
A few samples (e.g. [this patient in TCGA BRCA](http://www.cbioportal.org/patient?studyId=brca_tcga&caseId=TCGA-AC-A6IX#navCaseIds=TCGA-AC-A6IX)) in the TCGA Provisional studies are not labeled as metastatic in the Patient View, because of wrong data format in the clinical files. The underlying problem for this is quite deep, and I'm not sure if it's worth explaining it our time. This problem only

[2018-09-19 15:45] jjgao commented on #361
@sandertan @pieterlukasse thanks for bringing this up. It's a systematic issue. It's worse in some cancer types, e.g. melanoma.

I think we should fix it. The minimal we should do is to define `SAMPLE_TYPE` for every TCGA sample based on the barcode suffix.

[2018-09-19 16:00] jjgao commented on #361
@sandertan @pieterlukasse would you have the bandwidth to work on this? Or should we put it in our curation backlog?

[2018-09-19 21:30] jjgao commented on #264
@pieterlukasse is it possible to have the validate to check if we are missing oncotree codes or using wrong ones?

[2018-09-19 22:03] jjgao commented on #316
@yichaoS @rmadupuri have you pushed the chance to the production? I still see the three attributes as String.

[2018-09-20 12:48] pieterlukasse commented on #361
@jjgao we were hoping the curation team could fix this.

[2018-09-20 14:11] #316 closed

[2018-09-20 15:36] Sjoerd-van-Hagen commented on #361
@jjgao please put it in the backlog for now. If we find funding, we might take it on.

[2018-09-20 18:36] jjgao commented on #361
@pieterlukasse @Sjoerd-van-Hagen thanks. I assigned it to the @cBioPortal/curation team.

[2018-09-20 21:57] jjgao opened #369 "fix entrez_gene_ids in mutation files"
This issue was found due to #370.

- [ ] add rules in validator, e.g. only numbers should be allowed. Maybe we shouldn't even allow empty entrez_gene_id?
- [ ] reannotate MAFs with wrong/empty entrez_gene_ids.

[2018-09-20 21:58] jjgao opened #370 "issue with thyroid_mskcc_2016 mutational data"
[thyroid_mskcc_2016](http://www.cbioportal.org/study?id=thyroid_mskcc_2016) is missing many mutations. There are many samples with 0 mutations but in the mutation file, all sample have at least one mutation.

![image](https://user-images.githubusercontent.com/840895/45848763-aec9ab00-bcfd-11e8-9a11-6bed454038b7.png)

@rmadupuri found out that many rows in [the mutation files](https://github.com/cB

[2018-09-21 01:35] #293 closed

[2018-09-21 01:35] #344 closed

[2018-09-21 01:35] #291 closed

[2018-09-21 01:35] #295 closed

[2018-09-21 12:11] pieterlukasse commented on #369
@sandertan can you discuss this one in datahub channel?

@jjgao you want this warning to be an error instead: https://github.com/cBioPortal/cbioportal/blob/master/core/src/main/scripts/importer/validateData.py#L691?

[2018-09-21 13:15] pieterlukasse commented on #264
@jjgao yes, a field like  `ONCOTREE_CODE` could be validated against the list of cancer types. The list is built up here https://github.com/cBioPortal/cbioportal/blob/master/core/src/main/scripts/importer/validateData.py#L3795. There could be a validation rule that gives an error if `ONCOTREE_CODE` is not found in the list of cancer types.

[2018-09-21 14:33] #370 closed

[2018-09-21 17:36] jjgao commented on #369
I think it's a good idea to do that, but I am not sure if I am missing something that prevents us from doing that.

cc'ing @ritikakundra @n1zea144 @sheridancbio

[2018-09-21 18:08] jjgao opened #373 "Kan et al. Multi-omics profiling of younger Asian breast cancers reveals distinctive molecular signatures. Nat Commun. 2018."
Please keep this checklist for curation of a new study.

- [x] [create a issue on datahub](https://github.com/cBioPortal/datahub/issues/new) before curating a study (one issue per study) and copy this checklist to the issue tracker
- [ ] List information of the dataset/paper in the issue, e.g. pmid, paper link, suppl file link
- [ ] Document the curation process, e.g. how and by whom the data was

[2018-09-21 18:08] jjgao commented on #373
https://www.ncbi.nlm.nih.gov/pubmed/29713003

- [ ] Does study name and study ID follow our convention? e.g. Tumor_Type (Institue, Journal Year); brca_mskcc_2015
- [ ] is study meta data complete? e.g. pmid, group of PUBLIC
- [ ] were all samples profiled with WES/WGS? If not, is gene panel file curated?
- [ ] are oncotree codes of all samples curated; Cancer Type and Cancer Type Detailed needs to

[2018-09-21 18:10] jjgao commented on #373
An author of the paper Samir Lal contacted us for depositing the data. They will work with us on formating the data.

[2018-09-21 20:44] samirlal2 commented on #373
Thank you, this is very helpful. This is my first upload to cBioportal. I am currently assembling the data and will get the data ready in the required format for upload.

[2018-09-24 09:40] sandertan commented on #369
We can add this rule to the validator. It is valid MAF format. For mutations outside of genes the GDC file format says:

[2018-09-26 15:50] samirlal2 commented on #373
@jjgao  I have deposited the expression data Log2(TPM+1) and TPM and MAF file to the PFizer-boxfolder. Please confirm if you have received the data?

[2018-09-26 19:18] schultzn commented on #256
@rmadupuri Is this one ready to go out?

[2018-09-26 19:19] schultzn commented on #258
@rmadupuri Can you please prioritize this one as well?

[2018-09-26 22:05] samirlal2 commented on #373
@jjgao   I have created a pull request for data upload..

Here is the requested information.
**List information of the dataset/paper in the issue, e.g. pmid, paper link, suppl file link**
Paper link: https://www.nature.com/articles/s41467-018-04129-4
pmid:  29713003

 **Document the curation process, e.g. how and by whom the data was transformed**
 Both tumor and blood DNA were enriched for exonic

[2018-09-27 04:00] jjgao commented on #210
duplicate with #258

[2018-09-27 04:00] #210 closed

[2018-09-27 16:04] jjgao commented on #369
@sandertan: makes sense. thanks!

[2018-09-28 14:43] rmadupuri opened #379 "Northcott et al., The whole-genome landscape of medulloblastoma subtypes, Nature 2017"
Please keep this checklist for curation of a new study.

- [ ] [create a issue on datahub](https://github.com/cBioPortal/datahub/issues/new) before curating a study (one issue per study) and copy this checklist to the issue tracker
- [ ] List information of the dataset/paper in the issue, e.g. pmid, paper link, suppl file link
- [ ] Document the curation process, e.g. how and by whom the data was

[2018-09-28 14:43] rmadupuri commented on #379
PMID: [28726821](https://www.ncbi.nlm.nih.gov/pubmed/?term=28726821)

- [ ] Does study name and study ID follow our convention? e.g. Tumor_Type (Institue, Journal Year); brca_mskcc_2015
- [ ] Is study meta data complete? e.g. pmid, group of PUBLIC
- [ ] Were all samples profiled with WES/WGS? If not, is gene panel file curated?
- [ ] Are oncotree codes of all samples curated; Cancer Type and Cance

[2018-09-28 20:21] rmadupuri opened #380 "Xiaotu et al., Pan-cancer genome and transcriptome analyses of 1,699 pediatric leukemia’s and solid tumors, Nature 2018"
Please keep this checklist for curation of a new study.

- [ ] [create a issue on datahub](https://github.com/cBioPortal/datahub/issues/new) before curating a study (one issue per study) and copy this checklist to the issue tracker
- [ ] List information of the dataset/paper in the issue, e.g. pmid, paper link, suppl file link
- [ ] Document the curation process, e.g. how and by whom the data was

[2018-10-01 20:04] jjgao opened #382 "incorrect sample collection days"
@khzhu commented on [Mon Oct 01 2018](https://github.com/cBioPortal/cbioportal/issues/4911)

for samples from [SKCM](http://www.cbioportal.org/study?id=skcm_tcga#clinical) and [PAAD](http://www.cbioportal.org/study?id=paad_tcga#clinical), "days to sample collection" annotations are incorrect, since days are larger than the overall survival of the patient.

For SKCM I substracted "Submitted.tumor.d

[2018-10-01 22:28] rmadupuri commented on #258
NOTE: Most of the samples in this study lacked matched normal. The manuscript contains only clinical data associated with it.  Genomic data files are under controlled access in GDC.
(https://gdc.cancer.gov/about-data/publications/DLBCL-2018)

[2018-10-02 14:09] jjgao commented on #200
It looked like the issue has been addressed in msk_impact_2017... Not sure if it is addressed in all samples, e.g. genie. Closing for now.

[2018-10-02 14:09] #200 closed

[2018-10-04 19:53] yichaoS commented on #335
@ritikakundra  There's an extra 10 samples besides  the 293 samples appeared in MAF. Only 1 of them are RNA sample.

[2018-10-09 21:12] yichaoS opened #392 "sarc_mskcc MAF remapping"
Currently the MAF in sarc_mskcc are missing all coordinates. We are waiting for Barry to get back to us with the coordinates (in a very old build, probably 36) and we will do some mapping back and liftover. Right now the MAF is removed from datahub.

[2018-10-09 21:30] #327 closed

[2018-10-11 17:55] #256 closed

[2018-10-11 19:23] jjgao opened #393 "caselist case (cases_cnaseq.txt) in msk_impact_2017"
Shouldn't `case_cnaseq` have 10945 samples?

![image](https://user-images.githubusercontent.com/840895/46828533-6d12aa00-cd69-11e8-875e-92b4ad587c33.png)

[2018-10-12 12:23] jjgao opened #395 "Grinfeld et al. Classification and Personalized Prognosis in Myeloproliferative Neoplasms. NEJM 2018."
"Targeted sequencing for the full coding sequence of 69 genes and genomewide copy-number information was undertaken in 1887 patients"

PMID: 30304655

https://www.ncbi.nlm.nih.gov/pubmed/30304655

- [x] [create a issue on datahub](https://github.com/cBioPortal/datahub/issues/new) before curating a study (one issue per study) and copy this checklist to the issue tracker
- [ ] List information of th

[2018-10-12 12:28] jjgao opened #396 "Nangalia et al. Somatic CALR mutations in myeloproliferative neoplasms with nonmutated JAK2. NEJM 2013"
https://www.ncbi.nlm.nih.gov/pubmed/24325359

- [x] [create a issue on datahub](https://github.com/cBioPortal/datahub/issues/new) before curating a study (one issue per study) and copy this checklist to the issue tracker
- [x] List information of the dataset/paper in the issue, e.g. pmid, paper link, suppl file link
- [x] Document the curation process, e.g. how and by whom the data was transformed

[2018-10-12 19:55] rmadupuri commented on #396
PMID: [24325359](https://www.ncbi.nlm.nih.gov/pubmed/?term=24325359)

- [ ] Does study name and study ID follow our convention? e.g. Tumor_Type (Institue, Journal Year); brca_mskcc_2015
- [ ] Is study meta data complete? e.g. pmid, group of PUBLIC
- [ ] Were all samples profiled with WES/WGS? If not, is gene panel file curated?
- [ ] Are oncotree codes of all samples curated; Cancer Type and Cance

[2018-10-17 08:39] #350 closed

[2018-10-17 20:28] jjgao opened #402 "Tyner et al. Functional genomic landscape of acute myeloid leukaemia. Nature 2018"
https://www.nature.com/articles/s41586-018-0623-z

- [ ] [create a issue on datahub](https://github.com/cBioPortal/datahub/issues/new) before curating a study (one issue per study) and copy this checklist to the issue tracker
- [ ] List information of the dataset/paper in the issue, e.g. pmid, paper link, suppl file link
- [ ] Document the curation process, e.g. how and by whom the data was transf

[2018-10-18 03:19] schultzn opened #404 "egc_msk_2017: One cancer type needs to be fixed"
There is a lower case / upper case error in one single case in this study:
http://www.cbioportal.org/index.do?cancer_study_id=egc_msk_2017

See the screenshot below

![image](https://user-images.githubusercontent.com/11892704/47129353-ee36d900-d262-11e8-8bd1-775ed108f88d.png)

[2018-10-18 15:17] #404 closed

[2018-10-19 00:08] chaelir opened #411 "brca_metabric import error"
Hi importing brca_metabric to DB 2.6.0 and Portal cbioportal-v1.13.2
incurs following errors:

Reading data from:  /mnt/datahub/public/brca_metabric/data_gene_matrix.txt

ABORTED!
java.lang.RuntimeException: Cannot find genetic profile brca_metabric_mrna in the database.
at org.mskcc.cbio.portal.scripts.ImportGenePanelProfileMap.getProfileIds(ImportGenePanelProfileMap.java:179)
at org.mskcc.cbio.p

[2018-10-19 03:15] jjgao opened #412 "Hu et al. Mutational Landscape of Secondary Glioblastoma Guides MET-Targeted Trial in Brain Tumor. Cell 2018."
https://www.cell.com/cell/fulltext/S0092-8674(18)31250-9

- [ ] [create a issue on datahub](https://github.com/cBioPortal/datahub/issues/new) before curating a study (one issue per study) and copy this checklist to the issue tracker
- [ ] List information of the dataset/paper in the issue, e.g. pmid, paper link, suppl file link
- [ ] Document the curation process, e.g. how and by whom the data was

[2018-10-19 14:01] schultzn opened #413 "Centralize gene panel files"
Gene panel files should be curated in a single location in Github and not be stored with individual studies

[2018-10-19 15:08] jjgao commented on #413
@schultzn I assume we are trying to address the issue that the gene panel files (e.g. meta_/data_gene_panel_*.txt in [msk_impact_2017](https://github.com/cBioPortal/datahub/tree/master/public/msk_impact_2017)) may be duplicated in studies.

A few comments/questions:

- It's a good idea to store data_gene_panel_*.txt of msk-impact panels globally.
- If a panel belongs to a non-msk study we curated,

[2018-10-19 18:08] chaelir commented on #411
delete mode 100644 public/brca_metabric/data_gene_matrix.txt
 delete mode 100644 public/brca_metabric/meta_gene_matrix.txt

went through without gene panel data

[2018-10-19 21:46] jjgao commented on #413
Maybe we can do the following:

- put all gene panels in one location on datahub for public studies, e.g. `/reference_data/gene_panels/`
- add additional gene panels (or duplicate the public ones too?) in private portals under the main cbioportal data hg server `/reference_data/gene_panels/`
- when importing a study with data_gene_matrix.txt, if the gene panels used are not in the database, import

[2018-10-22 19:13] jjgao opened #414 "Cristescu et al. Pan-tumor genomic biomarkers for PD-1 checkpoint blockade–based immunotherapy. Science 2018."
http://science.sciencemag.org/content/362/6411/eaar3593.long

We may need to contact the authors to get the genomic data.

- [ ] [create a issue on datahub](https://github.com/cBioPortal/datahub/issues/new) before curating a study (one issue per study) and copy this checklist to the issue tracker
- [ ] List information of the dataset/paper in the issue, e.g. pmid, paper link, suppl file link
- [ ]

[2018-10-22 19:53] jjgao opened #415 "brca_tcga_pub2015 zscore profile issue"
A user has reported [here](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/cbioportal/G_haS1Rt5-0/TUW7IQeMBwAJ):

"I was previously working on bio markers for Invasive Ductal Cancer(PAM50 Basal -Like) from  TCGA Breast Cancer Data published in Cell-2015 two years back. When I was analyzing the data at that point in time, some genes were expressed highly (up to 85%). Howeve

[2018-10-23 03:36] jjgao opened #416 "Klijn et al. A comprehensive transcriptional portrait of human cancer cell lines. Nat Biotechnol. 2014"
https://www.ncbi.nlm.nih.gov/pubmed/25485619

- [ ] [create a issue on datahub](https://github.com/cBioPortal/datahub/issues/new) before curating a study (one issue per study) and copy this checklist to the issue tracker
- [ ] List information of the dataset/paper in the issue, e.g. pmid, paper link, suppl file link
- [ ] Document the curation process, e.g. how and by whom the data was transformed

[2018-10-23 18:14] rmadupuri commented on #343
NOTE: The data for this study is through a private channel. Study is added to private portal.

[2018-10-23 18:16] #343 closed

[2018-10-24 02:49] jjgao opened #419 "over calling CNAs in nepc_wcm_2016?"
Reported by [a user](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/cbioportal/zXbXFPjYWCw/uuZQ6loTCgAJ)

A query of [a few random genes](http://www.cbioportal.org/index.do?session_id=5bcfdc5b498eb8b3d5687840) returned a lot of amplified cases. Looking at `CN Segments`, the CN changes seems to be long range / arm level.

Querying the same set of random genes in [all prost

[2018-10-24 12:45] jjgao opened #420 "hcc_msk_venturaa_2018 study meta data"
I find it strange why the name and description of the study specifically talk about miRNA sequencing but we have only Mutations and CNAs data. I think we should change the name and descriptions. Has the study been published?

http://www.cbioportal.org/beta/study?id=hcc_msk_venturaa_2018#summary

![image](https://user-images.githubusercontent.com/840895/47430904-a6cfb180-d768-11e8-8c34-6f4737e55bcc

[2018-10-24 13:03] jjgao opened #421 "RPPA data issue for lihc_tcga"
As [reported by a user](https://groups.google.com/forum/#!msg/cbioportal/u-4VpoPN-lg/N71oJr0zCgAJ), the samples in the RPPA data does not seems like liver tumors. Is there a mixed up?

[2018-10-24 16:08] ritikakundra commented on #421
@jjgao Checked back the raw provisional data files in our staging directory from 2016. Looks like RPPA files always had the 63 samples for the liver but on checking in GDC they don't look like liver cases. Am going to recheck mercurial history again to confirm.

[2018-10-24 16:18] ritikakundra commented on #420
@jjgao This study has many issues. I have notified the investigator to help resolve all the questions including if we should remove it.

[2018-10-24 16:21] ritikakundra commented on #8
Clinical Data available on the summary page:
http://www.cbioportal.org/study?id=paad_icgc#summary
and data hub:
https://github.com/cBioPortal/datahub/tree/master/public/paad_icgc

[2018-10-24 16:21] #8 closed

[2018-10-24 16:44] ritikakundra commented on #116
This has been fixed in datahub. Public database rebuild will import all the changes.

[2018-10-24 17:48] jjgao commented on #421
@ritikakundra Thanks. The problem is that the samples are not liver samples.

[2018-10-24 17:49] jjgao commented on #420
@ritikakundra is it a published study?

[2018-10-24 18:54] ritikakundra commented on #420
@jjgao Just heard back, we will change the title and yes it has a PMID now. Will add that too.

[2018-10-24 19:10] ritikakundra commented on #421
@jjgao Yes I got that, but I wanted to check if this was a data issue from our end or did these come in from the raw source. And from what I see from the raw 2105 analysis file (gdac.broadinstitute.org_LIHC.RPPA_AnnotateWithGene.Level_3.2015082100.1.0.tar.gz), all the RPPA samples are not liver. We might have to check all provisionals for such discrepancies.

[2018-10-24 20:19] jjgao opened #422 "mrna zscore files missing in nepc_wcm_2016"
reported by a user: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/cbioportal/WB8fREqUSPg/XI7ZaxNNCgAJ

@yichao could you generate the zscore files and reimport the study?

[2018-10-26 19:04] jjgao opened #425 "is it possible to calculate the aneuploidy scores?"
... used in this paper.

https://www.cell.com/cancer-cell/pdf/S1535-6108(18)30111-9.pdf

Would it be a better score than GFA?

[2018-10-26 19:08] jjgao opened #426 "calculating TMBs"
We will need to re-curate non-WES studies for:

- gene panel
- number of covered base pairs (can be calculated based on genes covered) #1269
- with matched normal or not (not required by TMB calculation, but could be useful for users to exclude samples w/o matched normals)

cc'ing @schultzn @n1zea144

[2018-10-30 08:50] pieterlukasse commented on #361
@jjgao any news on this one?

[2018-10-30 14:34] jjgao commented on #288
@yichaoS @ritikakundra: have the files all pancan studies fixed based on the checklist above?

@n1zea144 how long will it take to rebuild the public database. If it'll take a while, we should consider at least removing the U133 profile from the portal since they are wrong.

![image](https://user-images.githubusercontent.com/840895/47725553-252bc800-dc2f-11e8-844a-43c388736668.png)

[2018-10-30 14:38] jjgao opened #429 "should we merge merge pancancer coad and rect project?"
@schultzn should we merge the two studies into a coadread study?

[2018-10-30 14:42] jjgao opened #430 "rename segment files"
Now that we are support file name of data/meta_cna_hg19_seg.txt, can we rename all segment files in datahub, to data_cna_hg19_seg.txt and meta_cna_hg19_seg.txt?

[2018-10-30 15:43] jjgao commented on #361
@ritikakundra @rmadupuri I think it's good idea to prioritize this one as the data is wrong currently.

cc'ing @n1zea144

[2018-10-30 15:58] ritikakundra commented on #361
@jjgao Ok, we will prioritize this based on this code table:
https://gdc.cancer.gov/resources-tcga-users/tcga-code-tables/sample-type-codes

[2018-10-30 17:33] jjgao commented on #361
@ritikakundra yes. thanks!

[2018-10-30 17:38] schultzn commented on #429
Yes!

[2018-10-30 18:07] jjgao commented on #429
@yichaoS @ritikakundra please merge. Thanks.

[2018-10-30 20:21] ritikakundra commented on #429
Note: Add two caselists for the tumor types

[2018-10-31 14:49] #356 closed

[2018-10-31 14:57] #318 closed

[2018-10-31 18:13] yichaoS commented on #337
Does study name and study ID follow our convention? e.g. Tumor_Type (Institue, Journal Year); brca_mskcc_2015
  Is study meta data complete? e.g. pmid, group of PUBLIC
  Were all samples profiled with WES/WGS? If not, is gene panel file curated?
  Are oncotree codes of all samples curated; Cancer Type and Cancer Type Detailed needs to be added in addition to Oncotree Code
  Clinical sample and pat

[2018-11-01 16:00] ritikakundra commented on #288
@jjgao All Pancan studies now show correct RNA profiles.

[2018-11-01 16:00] #288 closed

[2018-11-01 23:28] #312 closed

[2018-11-04 21:58] yichaoS commented on #335
PMID: [26950094](https://www.ncbi.nlm.nih.gov/pubmed/?term=26950094)

- [x] Does study name and study ID follow our convention? e.g. Tumor_Type (Institue, Journal Year); brca_mskcc_2015
- [x] Is study meta data complete? e.g. pmid, group of PUBLIC
- [x] Were all samples profiled with WES/WGS? If not, is gene panel file curated?
- [x] Are oncotree codes of all samples curated; Cancer Type and Cance

[2018-11-05 03:11] yichaoS commented on #333
PMID: [28162975](https://www.ncbi.nlm.nih.gov/pubmed/?term=28162975)

- [ ] Does study name and study ID follow our convention? e.g. Tumor_Type (Institue, Journal Year); brca_mskcc_2015
- [ ] Is study meta data complete? e.g. pmid, group of PUBLIC
- [ ] Were all samples profiled with WES/WGS? If not, is gene panel file curated?
- [ ] Are oncotree codes of all samples curated; Cancer Type and Cance

[2018-11-05 15:45] jjgao commented on #335
@yichaoS is there a pull request for this?

[2018-11-05 15:46] jjgao commented on #361
@rmadupuri could you also fix the data for published and pancan TCGA datasets?

[2018-11-05 18:59] yichaoS opened #440 "Remove normals"
These normals were found in data_clinical_sample file

coadread_tcga    TCGA-AG-3725-11
coadread_tcga    TCGA-AG-A020-11
coadread_tcga    TCGA-AG-A01Y-11
coadread_tcga    TCGA-AG-A02N-11
coadread_tcga    TCGA-AG-A036-11
coadread_tcga    TCGA-AG-3731-11
coadread_tcga    TCGA-AG-A01W-11
lgg_tcga    TCGA-TM-A84C-12
lgg_tcga    TCGA-TM-A84B-12
thym_tcga    TCGA-XM-AAZ3-12
thym_tcga    TCGA-XM-AAZ2-12

[2018-11-07 14:48] yichaoS commented on #314
@sandertan you are right. I just checked back in the publication, it is hg19

[2018-11-07 15:51] jjgao opened #443 "issues with hcc_mskimpact_2018"
- [x] citation is missing
- [x] the journal is wrong
- [x] Cancer_Type is wrong
- [x] missing Oncotree_code
- [x] pfs and os data mentioned in paper but missing in study
- [x] TP53 mutation frequency is a little off (31.5% in portal vs 35 in paper) -- I didn't check other numbers

[2018-11-07 19:01] jjgao opened #444 "We should replace the term "Sequenced Tumors" in case lists"
@schultzn commented on [Fri Oct 19 2018](https://github.com/cBioPortal/cbioportal/issues/5048)

The term sequenced tumors is misleading. To be consistent with what we use in the study view, we should rename these lists to:

"Tumors with mutation data"
and
"Tumors with mutation and CNA data"

[2018-11-07 20:34] jjgao commented on #444
- [ ] let's only change the name, not the case list ID (since `_sequenced` is used in code)
- [ ] fix files of `cases_sequenced.txt` and `cases_cnaseq.txt` on datahub
- [ ] run an SQL to fix the database
- [ ] fix the pipeline for future import

[2018-11-08 10:15] bzip2 commented on #402
Hi.

Do you have an idea when this data set will be available in cBio?

Thanks.

[2018-11-08 15:12] rmadupuri commented on #402
Hi,

Thank you for contacting us. We will prioritize this study and make it available on the portal soon.

[2018-11-08 19:22] jjgao opened #445 "renaming files"
[A user](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/cbioportal/ONB38tO4JYw/1c7QUfgOBAAJ) was asking about RNAseq v2 file name.

_median_ in `data_RNA_Seq_v2_mRNA_median_Zscores.txt` the name is confusing and we should consider rename them.

It would be a good idea to look at all file names in datahub, then we can review and rename them in needed.

Once renamed, we wil

[2018-11-08 21:10] rmadupuri commented on #445
@jjgao adding the list of all unique files names from datahub

all_data_by_genes.txt
data_clinical_patient.txt
data_clinical_sample.txt
data_clinical.txt
data_CNA_consensus.txt
data_cna_hg19.txt
data_CNA_microRNA_removed.txt
data_CNA_RAE.txt
data_CNA.txt
data_expression_median_microRNA_removed.txt
data_expression_median.txt
data_expression_merged_median_Zscores.txt
data_expression_miRNA.txt
data_e

[2018-11-08 21:16] ritikakundra commented on #445
Just to add a note to also make the changes in the file format page:
https://github.com/cbioportal/cbioportal/blob/master/docs/File-Formats.md#expression-data

[2018-11-08 21:35] jjgao commented on #445
Thanks, @rmadupuri! I'll review them.

Thanks, @ritikakundra! I've added a to-do list above.

[2018-11-08 21:59] jjgao commented on #445
@ritikakundra @schultzn @tmazor here is my first pass. Please review.

file name | rename | comment
-- | -- | --
all_data_by_genes.txt |   | Is this gistic output?
data_clinical_patient.txt |   |  
data_clinical_sample.txt |   |  
data_clinical.txt |   |  
data_CNA_consensus.txt |   | should we rename it?
data_cna_hg19.txt | data_CNA_hg19.seg? |  
data_CNA_RAE.txt |   | should we rename it?
data_C

[2018-11-10 04:24] jjgao opened #446 "In study selector, tooltip reports higher sample count than elsewhere"
@alisman commented on [Mon Nov 05 2018](https://github.com/cBioPortal/cbioportal/issues/5190)

![image.png](https://images.zenhubusercontent.com/597f3b48f8b79f8376e15c84/9db8c09a-3297-4352-81fd-21557424e938)

---

@alisman commented on [Mon Nov 05 2018](https://github.com/cBioPortal/cbioportal/issues/5190#issuecomment-436021290)

@onursumer can you figure out why this is?  Maybe one shows the pati

[2018-11-12 16:23] schultzn opened #449 "Prostate SU2C study is missing variant allele counts and frequencies"
Prostate SU2C study is missing variant allele counts and frequencies

http://www.cbioportal.org/study?id=prad_su2c_2015

![image](https://user-images.githubusercontent.com/11892704/48360520-5e235e00-e66d-11e8-8dad-cd4252f470af.png)

[2018-11-16 15:51] jjgao opened #453 "coadread_tcga_pub clinical data issue"
The [data_clinical_patient.txt](https://media.githubusercontent.com/media/cBioPortal/datahub/master/public/coadread_tcga_pub/data_clinical_patient.txt) in `coadread_tcga_pub` seems corrupted. Please fix.

The [data_clinical_sample](https://media.githubusercontent.com/media/cBioPortal/datahub/master/public/coadread_tcga_pub/data_clinical_sample.txt) contains duplicated samples.

![image](https://us

[2018-11-16 15:53] jjgao opened #454 "patient IDs are wrong in published TCGA studies"
For example, in ov_tcga_pub, sample IDs are used in both [patient](https://media.githubusercontent.com/media/cBioPortal/datahub/master/public/ov_tcga_pub/data_clinical_patient.txt) and [sample](https://media.githubusercontent.com/media/cBioPortal/datahub/master/public/ov_tcga_pub/data_clinical_sample.txt) clinical files.

By, querying the public database, @ersinciftci found that many studies have

[2018-11-16 18:35] rmadupuri commented on #440
Data files that contain normal samples

coadread_tcga:
1. data_bcr_clinical_data_sample.txt
2. data_methylation_hm450_normals.txt
3. cases_all.txt

lgg_tcga:
1. data_bcr_clinical_data_sample.txt
2. data_cna_hg19.seg
3. cases_all.txt

thym_tcga:
1. data_bcr_clinical_data_sample.txt
2. data_cna_hg19.seg
3. data_mutations_extended.txt
4. data_mutations_mskcc.txt

[2018-11-18 03:54] schultzn commented on #449
Thanks!

Does this affect other studies? Can we systematically check for this going forward?

[2018-11-19 19:50] n1zea144 opened #456 "public database rebuild"
Here is a running list of issues when trying to rebuild public database:
- [x] blca_plasmacytoid_mskcc_2016 is missing cases_all.txt
- [x] all_stjude_2015 requires annotation
- [x] ampca_bcm_2016 requires annotation

[2018-11-20 23:19] jjgao opened #464 "wrong mutation type for some complex insertations"
I was looking at [ERBB2 mutations](http://www.cbioportal.org/beta/results/mutations?session_id=5bf495c2e4b0627334118f35) and found one mutation type was wrongly assigned.

![image](https://user-images.githubusercontent.com/840895/48808926-90c5fa00-ecf0-11e8-938f-d7998e9e118c.png)

So I did a SQL query on the public database and found out it occurred to a few studies. Note that all of them have `-`

[2018-11-20 23:32] jjgao opened #465 "NA in REFERENCE_ALLELE or TUMOR_SEQ_ALLELE"
There are many studies with `NA` in either REFERENCE_ALLELE or TUMOR_SEQ_ALLELE
Our annotator seems to be able to handle NA in REFERENCE_ALLELE but not in TUMOR_SEQ_ALLELE

![image](https://user-images.githubusercontent.com/840895/48809329-29a94500-ecf2-11e8-9443-665acf4140f6.png)

![image](https://user-images.githubusercontent.com/840895/48809371-51001200-ecf2-11e8-951c-a7d5b8848c11.png)

We shou

[2018-11-20 23:54] ritikakundra commented on #465
@jjgao Checked the private instance and majority of these are not part of it. Rebuild of the public database will resolve almost all of this. We have a few from the private portal that we can look into.

[2018-11-21 15:00] jjgao commented on #287
testing on triage.

- [ ] replace the study `ccle_broad` instead of creating a new one
- [ ] removing potential germline variants
- [ ] adding oncotree code (not mixed) to all samples
- [ ] rna-seq data missing
- [ ] methylation data missing
- [ ] rppa data missing
- [ ] the drug profiling data would be interesting to have. @pieterlukasse is there a data format you are following?

[2018-11-21 18:06] #361 closed

[2018-11-21 18:21] schultzn opened #468 "Mutation count missing for some samples in the published Nature Medicine MSK-IMPACT study."
Mutation count missing for some samples in the published Nature Medicine MSK-IMPACT study.

It looks like 7% are missing mutation count

[2018-11-21 21:03] jjgao opened #470 "change description for pancan studies"
currently:

Comprehensive TCGA PanCanAtlas (https://gdc.cancer.gov/about-data/publications/pancanatlas) data from 11k cases and all TCGA tumor types (33). (PMID: 29625048, 29596782, 29622463, 29617662, 29625055, 29625050)

change to:

[cancer type, e.g. Colorectal ] TCGA PanCancer data. The original data is [here](https://gdc.cancer.gov/about-data/publications/pancanatlas). The publications are [h

[2018-11-23 16:28] schultzn opened #471 "SU2C Prostate study is missing mRNA data in Datahub"
The mRNA expression data of the PRAD SU2C (Robinson et al.) study is missing from Datahub.

[2018-11-26 11:32] sandertan commented on #465
@jjgao I think the `--strict_maf_checks` mode in the validator check this. @dionnezaal added some nice validation tests that follow the documented MAF format. Currently, when a PR with new study data or during the weekly check, this mode is **not** enabled. I can't remember why we disabled it, but if this format is a priority, we can enable it again. Perhaps it's best to first run `validateStudies

[2018-11-26 12:51] sandertan opened #475 "Validator crashed during weekly run to validate all studies"
![screenshot 2018-11-26 at 13 49 23](https://user-images.githubusercontent.com/9624990/49015038-3a3e3d00-f182-11e8-94bd-3360bbcf67c9.png)

![screenshot 2018-11-26 at 13 50 42](https://user-images.githubusercontent.com/9624990/49015067-4c1fe000-f182-11e8-8e7a-595df9635249.png)

[2018-11-26 16:00] sandertan opened #476 "Invalid utf-8 in study all_stjude_2015"
In study `all_stjude_2015`, the mutation file crashes the validator (master 1.18.0) https://github.com/cBioPortal/datahub/issues/475. I'm writing a fix for the validator.

@ritikakundra @yichaoS can one of you fix the data?

![screenshot 2018-11-26 at 16 56 32](https://user-images.githubusercontent.com/9624990/49025669-6ff01f80-f19c-11e8-93a2-966911e49a19.png)

Also, this study contains a duplicat

[2018-11-26 18:59] jjgao commented on #465
Thanks, @sandertan!

[2018-11-29 15:21] miaoyibo opened #481 "where is the cBioPortal release versions 1.8.0 or 1.9.0?"
Please keep this checklist for curation of a new study.

- [ ] [create a issue on datahub](https://github.com/cBioPortal/datahub/issues/new) before curating a study (one issue per study) and copy this checklist to the issue tracker
- [ ] List information of the dataset/paper in the issue, e.g. pmid, paper link, suppl file link
- [ ] Document the curation process, e.g. how and by whom the data was

[2018-11-30 16:37] jjgao opened #485 "mRNA zscore profiles missing for brca_metabric"
Previously:
![image](https://user-images.githubusercontent.com/840895/49302076-133e7e80-f494-11e8-867c-cd18acf4d1a9.png)

Now both profiles are missing. Looking at Download Data, only rnaseq data exists.

[2018-11-30 16:40] jjgao commented on #251
Updated list:

[code]

[2018-11-30 16:41] jjgao commented on #485
There are a few other studies missing zscore profiles: https://github.com/cBioPortal/datahub/issues/251

[2018-12-04 14:02] sandertan commented on #481
Hi @miaoyibo welcome to the cBioPortal Datahub repository, which contains public study data. You can find cBioPortal releases on https://github.com/cBioPortal/cbioportal/releases .

Please use this GitHub repository for logging data issues. Questions regarding the functionality can be sent to cbioportal@googlegroups.com or posted on the User Forum https://groups.google.com/forum/#!forum/cbioportal

[2018-12-04 14:02] #481 closed

[2018-12-05 21:41] ritikakundra commented on #485
Working with backend team to modify the Z-score computing code to allow NA as a legit value.

[2018-12-06 16:38] PichaiRaman opened #493 "METABRIC RNA-Seq profile description is not clear (is it RNA-Seq or Micorarray)"
https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!topic/cbioportal/YzgtXRHIOGc

[2018-12-06 16:43] jjgao commented on #493
![image](https://user-images.githubusercontent.com/840895/49598246-35c90f80-f94c-11e8-8d72-b7a493cad7a3.png)

[2018-12-06 22:55] yichaoS opened #494 "Add groups to pancan meta study"

[2018-12-11 08:41] pieterlukasse commented on #287
@jjgao thanks for the update. Yes, we have already defined a data format for drug (or treatment, where treatment is a combination of two or more drugs) profiling. See https://github.com/thehyve/cbioportal/blob/treatment_study_implementation_rebase/docs/File-Formats.md#treatment-data by @pvannierop (PR to follow soon).

[2018-12-12 15:48] #475 closed

[2018-12-13 15:37] jjgao commented on #471
@ritikakundra @yichaoS several people have asked for this. Could you please look into it soon?

[2018-12-13 16:08] jjgao commented on #238
@rmadupuri could you help with this one when you have time? ie. removing numbers of genes and cases from description.

[2018-12-13 17:00] jjgao opened #497 "study name change of crc_msk_2017"
In the [crc msk paper](https://www.sciencedirect.com/science/article/pii/S1535610817305561), a link is included to crc_msk_2017

![image](https://user-images.githubusercontent.com/840895/49954421-6bcb3e00-fece-11e8-8ea3-f060bdf5b155.png)

But it has been changed to crc_msk_2018 in https://github.com/cBioPortal/datahub/pull/155.

I think we should either revert back the name or support aliases in o

[2018-12-13 17:24] ritikakundra commented on #497
@schultzn : I think you told me to change the 2017 to 2018 in an email since the paper came out today. Should we go back to map the paper?

[2018-12-13 19:06] schultzn commented on #497
Yes, let’s match what was in the paper. Thanks.

[2018-12-13 19:13] jjgao commented on #497
@ritikakundra let's rename.

It looks like crc_msk_2018 is out there for so long. Any sessions or virtual studies with the study will not work after renaming.

@n1zea144 maybe we can think of support study aliases which will give us more freedom of rename studies.

[2018-12-13 19:20] jjgao commented on #238
Let's use "mRNA gene expression (RNA Seq V2 RSEM)" as description.

[2018-12-13 21:15] jjgao commented on #445
I like to push this forward. @schultzn could you review the new names above? Thanks.

[2018-12-13 21:44] jjgao commented on #168
@rmadupuri could you help look into this? http://www.cbioportal.org/datasets

None provisional studies should all have a reference. If it's missing on this page, it could miss either `pmid` or `citation`.

[2018-12-13 21:48] jjgao opened #501 "Zhang et al. Interfaces of Malignant and Immunologic Clonal Dynamics in Ovarian Cancer. Cell. 2018."
https://www.ncbi.nlm.nih.gov/pubmed/29754820

Please keep this checklist for curation of a new study.

- [ ] [create a issue on datahub](https://github.com/cBioPortal/datahub/issues/new) before curating a study (one issue per study) and copy this checklist to the issue tracker
- [ ] List information of the dataset/paper in the issue, e.g. pmid, paper link, suppl file link
- [ ] Document the curati

[2018-12-13 22:13] #238 closed

[2018-12-13 22:21] #347 closed

[2018-12-14 04:31] #338 closed

[2018-12-17 23:22] jjgao opened #505 "TCGA provisional datasets have a patient_weight field which is not actually patient weight"
@tmazor commented on [Mon Dec 17 2018](https://github.com/cBioPortal/cbioportal/issues/5467)

I suspect this is sample weight in mg, rather than patient weight in kg, but that should be confirmed against the original data source.

lgg_tcga
![image](https://user-images.githubusercontent.com/10508276/50121177-e7f2b800-0225-11e9-9c46-0ef634596be6.png)

chol_tcga
![image](https://user-images.githubuse

[2018-12-17 23:25] jjgao opened #506 "lgg tcga provisional mutsig results are weird"
@tmazor commented on [Mon Dec 17 2018](https://github.com/cBioPortal/cbioportal/issues/5471)

NRAS has one mutation but appears with a mutsig icon:
![image](https://user-images.githubusercontent.com/10508276/50121708-921f0f80-0227-11e9-8ce0-822d0e389eb6.png)

[2018-12-18 14:51] tmazor commented on #505
Also, this plot loads by default in the new study view, so we should fix this quickly since it's quite misleading for users right now

[2018-12-18 15:00] tmazor commented on #506
I guess so - it's better to show nothing than to show bad data. It's a shame though, MutSig is a nice thing to have.

[2018-12-18 15:09] #440 closed

[2018-12-18 15:20] #429 closed

[2018-12-18 15:21] #494 closed

[2018-12-19 18:32] schultzn opened #509 "Gerhauser et al. Molecular Evolution of Early-Onset Prostate Cancer... Cancer Cell 2018."
Please keep this checklist for curation of a new study.

PMID: [30537516](https://www.ncbi.nlm.nih.gov/pubmed/30537516)

- [ ] [create a issue on datahub](https://github.com/cBioPortal/datahub/issues/new) before curating a study (one issue per study) and copy this checklist to the issue tracker
- [ ] List information of the dataset/paper in the issue, e.g. pmid, paper link, suppl file link
- [ ] D

[2018-12-19 18:32] schultzn commented on #509
Somatic mutation data is not available yet, but will supposedly be available in Mendeley Data soon (I contacted the authors on 12/19).

[2018-12-19 20:02] rmadupuri commented on #168
Detailed list of meta data : https://docs.google.com/spreadsheets/d/10e07j1WhNEBTVqBqN86vtKdXDFUqMGUjSv5d7_Sv87g/edit?usp=sharing